#include "windows.h"
#include "fmdlgs.h"
#include "constant.def"

FMEDIT ICON FMEDIT.ICO

SetupMenu MENU
BEGIN
    MENUITEM "&Grid", IDM_GRID
END

EscAccelTable ACCELERATORS
BEGIN
  VK_ESCAPE, IDM_ESCAPE, VIRTKEY
END

CutAccelTable ACCELERATORS
BEGIN
  VK_DELETE, IDM_CUTOBJECT, SHIFT, VIRTKEY
END

CopyAccelTable ACCELERATORS
BEGIN
  VK_INSERT, IDM_COPYOBJECT, CONTROL, VIRTKEY
END

PasteAccelTable ACCELERATORS
BEGIN
  VK_INSERT, IDM_PASTEOBJECT, SHIFT, VIRTKEY
END

DeleteAccelTable ACCELERATORS
BEGIN
  VK_DELETE, IDM_DELETEOBJECT, VIRTKEY
END

LEFT    BITMAP LEFT.BMP
HCENTRE BITMAP HCENTRE.BMP
RIGHT   BITMAP RIGHT.BMP
TOP     BITMAP TOP.BMP
VCENTRE BITMAP VCENTRE.BMP
BOTTOM  BITMAP BOTTOM.BMP

#include "fmdlgs.dlg"
