#include "msg.h"
#include "wreslang.h"

STRINGTABLE
BEGIN

#define pick( code, string1, string2 )  \
        (code+RLE_ENGLISH*MSG_LANG_SPACING), string1
#include "as.msg"
#undef pick

#define pick( code, string1, string2 )  \
        (code+RLE_JAPANESE*MSG_LANG_SPACING), string2
#include "as.msg"
#undef pick

END
