*.ch
*.dh
*.dip
*.elf
*.ext
*.gc
*.gh
*.gpp
*.grc
*.i
*.i0
*.i1
*.imp
*.int
*.lbc
*.lk1
*.lo[1-9]
*.log
*.ls1
*.lst
*.mad
*.map
*.mbr
*.mk
*.mk1
*.nlm
*.pch
*.prs
*.res
*.rtp
*.sav
*.sym
*.sys
*.tmp
*.trk
*.u
*~

stderr.txt
stdout.txt

binbuild

/setvars

/build/bin/*
!/build/bin/afile

/distrib/ow/open-watcom-*
/distrib/ow/filelist
/distrib/ow/*/filelist
/distrib/ow/*/setup.*

/rel/
/rel2/
/pass1/
/pass2/
