*.$$$
*.cop
*.COP
*.core
*.d32
*.dip
*.dis
# ignore *.dll files, but include *.dll subdirectories
*.dll
!*.dll/
*.dSYM
*.elf
*.err
*.exe
*.exp
*.ext
# generated .asm source file
*.gas
# generated C source file
*.gc
# generated .ch source file
*.gch
# generated C++ source file
*.gcp
# generated .def file
*.gdf
# generated .dh source file
*.gdh
# generated .dlg source file (dialog resource)
*.gdl
# generated .h source file
*.gh 
# generated .mif make file
*.gmk
# generated .cpp source file
*.gpp
# generated .rc source file
*.grc
*.i
*.i0
*.i1
*.ilb
*.ilk
*.int
*.lbc
*.lib
*.lk1
*.lnk
*.lo[1-9]
*.log
*.ls1
*.lst
*.mad
*.map
*.mbr
*.mk
*.mk1
*.mod
*.nlm
*.o
*.obj
*.out
*.pch
*.pdb
*.prs
*.res
*.rex
*.rtp
*.sav
*.so
*.stb
*.sym
*.sys
*.tbl
*.tmp
*.trk
*.trp
*.u

/*/
#!/bld/
!/build/
!/distrib/
!/docs/
!/travis/


/contrib/*
!/contrib/*

/build/*
!/build/*.lnk
!/build/*.awk
!/build/*.ctl
!/build/external/*
!/build/mif/*
!/build/server/*

/distrib/ow/*/*

!/docs/doc/whelp/*.cop
/docs/dos/*
!/docs/gml/dos/*.exe
!/docs/gml/os2/*.exe
!/docs/gml/syslibl/*.cop
/docs/html/*
/docs/htmlhelp/*
/docs/nt/*
/docs/os2/*
/docs/pdf/*
/docs/ps/*
/docs/win/*
/docs/txt/*

###
#/bld/as/*/*/*_in.y
#/bld/as/*/*/*_in.re
#/bld/as/*/*/*lexyy.c
#/bld/as/*/*/*ytab.*
#
/bld/awk/*/*
!/bld/awk/c/*
!/bld/awk/h/*
#
/bld/browser/dlgprs/*/*ytab.*
#
/bld/clibtest/*/
!/bld/clibtest/c/*
!/bld/clibtest/*/makefile
!/bld/clibtest/*/builder.ctl
#
/bld/f77test/nist/FOR*
/bld/f77test/nist/__wfc__.vm*
#
/bld/graphlib/*/*/*.ref
#
/bld/hdr/dos/*
/bld/hdr/linux/*
/bld/hdr/qnx/*
/bld/hdr/regress/*
#
/bld/ide/cfg/*/*.cfg
#
/bld/misc/*/unicode*
#
/bld/os2api/os2286/*/*
/bld/os2api/os2386/*/*
#
/bld/pbide/cfg/*/*.cfg
/bld/pbide/*/*/ytab.*
#
/bld/plusplus/*/*/ytab.*
#
/bld/plustest/owstl/mmwin16.cpp
/bld/plustest/owstl/mmwindef.cpp
#
/bld/rc/rc/*/*.uni
/bld/rc/rc/*/*ytab.*
#
/bld/rcsdll/batch/*/*.bat
/bld/rcsdll/batch/*/*.cmd
#
/bld/sdk/wr/*/*ytab.*
#
!/bld/src/dll/dll16.lnk
!/bld/src/dll/dll32.lnk
!/bld/src/dll/gen16.lnk
!/bld/src/dll/gen32.lnk
!/bld/src/os2/dll/dllsamp.lnk
!/bld/src/os2/som/wps/owobject.lnk
#
/bld/vi/*/*.cfg
/bld/vi/*/*.ini
/bld/vi/*/*.vi
!/bld/vi/dat/*
#
/bld/w16api/wini86/*
#
/bld/w32api/nt/*
/bld/w32api/nt386/*
/bld/w32api/ntaxp/*
!/bld/w32api/test/*
#
/bld/wasmtest/*/*.dib
#
!/bld/wattcp/inc/sys/*.err
#
/bld/wcl/owcc/*/*.owc
#
/bld/wgml/test/*.ops
/bld/wgml/test/*.OPS
/bld/wgml/test/*.nps
/bld/wgml/test/*.old
/bld/wgml/test/*.OLD
/bld/wgml/test/*.new
/bld/wgml/test/*.ntr
/bld/wgml/test/testlib/*.bat
#
/bld/win386/vxd/*.386
/bld/win386/conv/win386/*
#
/bld/wipfc/.deps
/bld/wipfc/autom4te.cache
/bld/wipfc/config.h
/bld/wipfc/config.status
/bld/wipfc/Makefile
/bld/wipfc/stamp-h1
/bld/wipfc/wipfc
#
/bld/wipfc/linuxx64/.deps
/bld/wipfc/linuxx64/config.h
/bld/wipfc/linuxx64/config.status
/bld/wipfc/linuxx64/Makefile
/bld/wipfc/linuxx64/stamp-h1
#
/bld/wmake/regress/cmds/*
#
/bld/wv/dbg/*/*.dbg
###

stderr.txt
stdout.txt

binbuild

!makefile
!afile
