# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

# Explicitly declare text files we want to always be normalized and converted 
# to native line endings on checkout.
*.asm text
*.awk text
*.bat text
*.c   text
*.chk text
*.cmd text
*.cmp text
*.cpp text
*.ctl text
*.dat text
*.dbg text
*.def text
*.dlg text
*.dos text
*.emp text
*.eng text
*.eps text
*.esm text
*.fap text
*.fi  text
*.fon text
*.for text
*.gml text
*.h   text
*.hpp text
*.htm text
*.html text
*.imp text
*.inc text
*.inf text
*.ini text
*.ipf text
*.lnk text
*.mh  text
*.mif text
*.msg text
*.pcd text
*.ps  text
*.rc  text
*.re  text
*.rtf text
*.sed text
*.sh  text
*.sp  text
*.ssl text
*.tix text
*.txt text
*.vbs text
*.vi  text
*.xml text
*.xsl text
*.y   text

.gitattributes text
.gitignore text
binmake text
gnumake text
makefile text
makeinit text
nmake text
posmake text
wmake text

# Declare files that will always have LF line endings on checkout.

# Declare files that will always have CRLF line endings on checkout.

# Denote all files that are truly binary and should not be modified.
*.7z  binary
*.bmp binary
*.bz2 binary
*.chi binary
*.chm binary
*.com binary
*.cop binary
*.cur binary
*.cw  binary
*.dll binary
*.exe binary
*.gif binary
*.ico binary
*.jpg binary
*.lib binary
*.obj binary
*.ovl binary
*.pch binary
*.pdf binary
*.png binary
*.res binary
*.rez binary
*.sdl binary
*.sex binary
*.sym binary
*.sys binary
*.uni binary
*.wbr binary
*.wri binary
*.zip binary
unicode*.* binary

/docs/doc/fl/items.dat binary
/bld/ctest/regress/positive/source/pp15.c binary
/bld/plustest/regress/positive/source/pp15.c binary
/bld/wmake/regress/errtest/error.bat binary
/bld/wmake/regress/errtest/error.cmd binary
