*.$$$
*.ch
*.d32
*.dh
*.dip
*.elf
*.err
*.exe
*.exp
*.ext
*.gc
*.gh
*.gpp
*.grc
*.i
*.i0
*.i1
*.ilb
*.ilk
*.int
*.lbc
*.lib
*.lk1
*.lnk
*.lo[1-9]
*.log
*.ls1
*.lst
*.mad
*.map
*.mbr
*.mk
*.mk1
*.nlm
*.o
*.obj
*.out
*.pch
*.pdb
*.prs
*.res
*.rex
*.rtp
*.sav
*.sym
*.sys
*.tmp
*.trk
*.trp
*.u

stderr.txt
stdout.txt

binbuild

/*/
!/bld/

!/contrib/
!/contrib/*/*/*/*.d32
!/contrib/*/*/*/*.exe
!/contrib/*/*/*/*.lib
!/contrib/*/*/*/*.lnk
!/contrib/*/*/*/*.obj
!/contrib/*/*/*/*.trp
!/contrib/*/*/*/*/*.d32
!/contrib/*/*/*/*/*.exe
!/contrib/*/*/*/*/*.lib
!/contrib/*/*/*/*/*.lnk
!/contrib/*/*/*/*/*.map
!/contrib/*/*/*/*/*.obj
!/contrib/*/*/*/*/*.trp
!/contrib/*/*/*/*/*/*.d32
!/contrib/*/*/*/*/*/*.exe
!/contrib/*/*/*/*/*/*.lib
!/contrib/*/*/*/*/*/*.lnk
!/contrib/*/*/*/*/*/*.obj
!/contrib/*/*/*/*/*/*.trp

!/build/
!/build/*.lnk
/build/bin/*
!/build/bin/afile

!/distrib/
/distrib/ow/bin
/distrib/ow/open-watcom-*
/distrib/ow/*/*
!/distrib/ow/*/makefile

!/docs/
/docs/dos/*
!/docs/dos/makefile
/docs/html/*
!/docs/html/makefile
/docs/htmlhelp/*
!/docs/htmlhelp/makefile
/docs/nt/*
!/docs/nt/makefile
/docs/os2/*
!/docs/os2/makefile
/docs/pdf/*
!/docs/pdf/makefile
/docs/ps/*
!/docs/ps/makefile
/docs/win/*
!/docs/win/makefile
/docs/txt/*
!/docs/txt/makefile
