language: c
dist: trusty
sudo: required
os: linux
compiler: gcc

env:
  global:
    - OWROOT=$TRAVIS_BUILD_DIR
    - OWOBJDIR=binbuild
    - OWVERBOSE=0
    - OWDOCBUILD=0
    - OWDOCQUIET=1
    - OWBRANCH=master
    - OWBRANCH_DOCS=documentation
    - OWBRANCH_COVERITY=coverity_scan
    - OWBRANCH_SF=sourceforge
    - OWTRAVIS_REPO_SLUG=open-watcom/travis-ci-ow-builds
    - OWTRAVIS_BUILD_DIR=${HOME}/build/$OWTRAVIS_REPO_SLUG
    - OWRELROOT=$TRAVIS_BUILD_DIR/test

cache:
  directories:
    - build/$OWOBJDIR
    - bld/watcom/$OWOBJDIR
    - test
    - buildx

before_script:
 # configure Git client
 - git config --global user.email "travis@travis-ci.org"
 - git config --global user.name "Travis CI"
 - git config --global push.default simple
 # setup cp options
 - if [ "$OWTRAVIS_CACHE_DEBUG" = "1" ]; then export CP_OPTS=-Rnv; else export CP_OPTS=-Rnv; fi
 # get environment/cache info if debug is active
 - travis/envinfo.sh
 - travis/cacheinf.sh

after_failure:
 # after failure transfer log files back to GitHub repository
 - travis/cacheinf.sh
 - travis/gitupdf.sh

after_success:
 # after success transfer OW build to GitHub repository
 - travis/cacheinf.sh
 - travis/gitupds.sh

jobs:
  allow_failures:
    - os: windows
  include:
    #################################
    - stage: Initialize
      name: "Initialize Travis GitHub repository and mirror master branch commits to SF"
      if: branch = env(OWBRANCH) AND type IN (push, cron)
      git:
        depth: false
      cache: false
      before_install:
        # stop unwanted services
        - travis/services.sh
      script:
        # update SF mirror
        - travis/gitusf.sh
        # update GitHub repository if necessary
        - travis/tinit.sh
    #################################
    - stage: Bootstrap
      name: "Build minimal set of build tools Linux"
      if: branch = env(OWBRANCH)
      before_install:
        # stop unwanted services
        - travis/services.sh
        # set environmet variable
        - export OWTOOLS=GCC
        - export OWTRAVISJOB=BOOTSTRAP
        - export OWVERBOSE=1
        # clear cache
        - rm -rf build/$OWOBJDIR/*
        - rm -rf bld/watcom/$OWOBJDIR/*
        - rm -rf test/*
        - rm -rf buildx/*
      install:
        - . ./cmnvars.sh
      script:
        - travis/build.sh
    - # ...
      name: "Build minimal set of build tools OSX"
      if: branch = env(OWBRANCH) AND (type = cron OR (type = push AND env(OWTRAVIS_ALL) = 1))
      os: osx
      compiler: clang
      before_install:
        # stop unwanted services
        - travis/services.sh
        # set environmet variable
        - export OWTOOLS=CLANG
        - export OWTRAVISJOB=BOOTSTRAP
        - export OWVERBOSE=1
        # clear cache
        - rm -rf build/$OWOBJDIR/*
        - rm -rf bld/watcom/$OWOBJDIR/*
        - rm -rf test/*
        - rm -rf buildx/*
      install:
        - . ./cmnvars.sh
      script:
        - travis/build.sh
    - # ...
      name: "Build minimal set of build tools Windows"
      if: branch = env(OWBRANCH) AND (type = cron OR (type = push AND env(OWTRAVIS_ALL) = 1))
      os: windows
      before_install:
        - test -n $CC && unset CC
        # stop unwanted services
        - travis/services.sh
        # set environmet variable
        - export OWTOOLS=VISUALC
        - export OWTRAVISJOB=BOOTSTRAP
        - export OWVERBOSE=1
        - export OWSRCDIR=$OWROOT/bld
        # clear cache
        - rm -rf build/$OWOBJDIR/*
        - rm -rf bld/watcom/$OWOBJDIR/*
        - rm -rf test/*
        - rm -rf buildx/*
      install:
      script:
        - cmd.exe /c "travis\winboot.cmd"
    #################################
    - stage: Build
      name: "OW tools build Linux"
      if: branch = env(OWBRANCH)
      before_install:
        # stop unwanted services
        - travis/services.sh
        # set environmet variable
        - export OWTOOLS=GCC
        - export OWTRAVISJOB=BUILD
      install:
        # install DOS Emulator
        - sudo apt-get install -y dosemu
        - . ./cmnvars.sh
      script:
        - travis/build.sh
    - # ...
      name: "OW tools build-1 OSX"
      if: branch = env(OWBRANCH) AND (type = cron OR (type = push AND env(OWTRAVIS_ALL) = 1))
      os: osx
      compiler: clang
      before_install:
        # stop unwanted services
        - travis/services.sh
        # set environmet variable
        - export OWTOOLS=CLANG
        - export OWTRAVISJOB=BUILD-1
      install:
        - . ./cmnvars.sh
      script:
        - travis/build.sh
      before_cache:
        # save build to cache (buildx)
        - travis/cache1.sh
    - # ...
      name: "OW tools build-1 Windows"
      if: branch = env(OWBRANCH) AND (type = cron OR (type = push AND env(OWTRAVIS_ALL) = 1))
      os: windows
      before_install:
        - test -n $CC && unset CC
        # stop unwanted services
        - travis/services.sh
        # set environmet variable
        - export OWTOOLS=VISUALC
        - export OWTRAVISJOB=BUILD-1
        - export OWSRCDIR=$OWROOT/bld
        - export OWBINDIR=$OWROOT/build/$OWOBJDIR
      install:
#        - install dosbox
      script:
        - cmd.exe /c "travis\winbuild.cmd"
      before_cache:
        # save build to cache (buildx)
        - travis/cache1.sh
    #################################
    - stage: Build2
      name: "OW tools build-2 OSX"
      if: branch = env(OWBRANCH) AND (type = cron OR (type = push AND env(OWTRAVIS_ALL) = 1))
      os: osx
      compiler: clang
      before_install:
        # stop unwanted services
        - travis/services.sh
        # set environmet variable
        - export OWTOOLS=CLANG
        - export OWTRAVISJOB=BUILD-2
        - export OWDOSBOX=dosbox
      install:
        # install DOS Emulator
        - brew install dosbox
        - . ./cmnvars.sh
      script:
        # load build from cache (buildx)
        - echo "load cache1" >>$OWBINDIR/cache1.log
        - cp $CP_OPTS $OWROOT/buildx/. $OWSRCDIR/ >>$OWBINDIR/cache1.log
        # run script
        - travis/build.sh
      before_cache:
        # save build to cache (buildx)
        - travis/cache2.sh
    - # ...
      name: "OW tools build-2 Windows"
      if: branch = env(OWBRANCH) AND (type = cron OR (type = push AND env(OWTRAVIS_ALL) = 1))
      os: windows
      before_install:
        - test -n $CC && unset CC
        # stop unwanted services
        - travis/services.sh
        # set environmet variable
        - export OWTOOLS=VISUALC
        - export OWTRAVISJOB=BUILD-2
        - export OWSRCDIR=$OWROOT/bld
        - export OWBINDIR=$OWROOT/build/$OWOBJDIR
      install:
#        - install dosbox
      script:
        # load build from cache (buildx)
        - echo "load cache1" >>$OWBINDIR/cache1.log
        - cp $CP_OPTS $OWROOT/buildx/. $OWSRCDIR/ >>$OWBINDIR/cache1.log
        # run script
        - cmd.exe /c "travis\winbuild.cmd"
      before_cache:
        # save build to cache (buildx)
        - travis/cache2.sh
    #################################
    - stage: Build3
      name: "OW tools build-3 OSX"
      if: branch = env(OWBRANCH) AND (type = cron OR (type = push AND env(OWTRAVIS_ALL) = 1))
      os: osx
      compiler: clang
      before_install:
        # stop unwanted services
        - travis/services.sh
        # set environmet variable
        - export OWTOOLS=CLANG
        - export OWTRAVISJOB=BUILD-3
        - export OWDOSBOX=dosbox
      install:
        # install DOS Emulator
        - brew install dosbox
        - . ./cmnvars.sh
      script:
        # load build from cache (buildx)
        - echo "load cache2" >>$OWBINDIR/cache2.log
        - cp $CP_OPTS $OWROOT/buildx/. $OWSRCDIR/ >>$OWBINDIR/cache2.log
        # run script
        - travis/build.sh
    - # ...
      name: "OW tools build-3 Windows"
      if: branch = env(OWBRANCH) AND (type = cron OR (type = push AND env(OWTRAVIS_ALL) = 1))
      os: windows
      before_install:
        - test -n $CC && unset CC
        # stop unwanted services
        - travis/services.sh
        # set environmet variable
        - export OWTOOLS=VISUALC
        - export OWTRAVISJOB=BUILD-3
        - export OWSRCDIR=$OWROOT/bld
      install:
#        - install dosbox
      script:
        # load build from cache (buildx)
        - echo "load cache2" >>$OWBINDIR/cache2.log
        - cp $CP_OPTS $OWROOT/buildx/. $OWSRCDIR/ >>$OWBINDIR/cache2.log
        # run script
        - cmd.exe /c "travis\winbuild.cmd"
    #################################
    - stage: UpdateBuild
      name: "Update Build Linux"
      if: branch = env(OWBRANCH) AND (type = cron OR type = push)
      before_install:
        # stop unwanted services
        - travis/services.sh
        # set environmet variable
        - export OWTOOLS=GCC
        - export OWTRAVISJOB=CPREL
        - export OWSRCDIR=buildx
      install:
#        - export WATCOM=$TRAVIS_BUILD_DIR/test
        - . ./cmnvars.sh
      script:
#        - cp $CP_OPTS $OWROOT/buildx/ $WATCOM/
        - true
    - # ...
      name: "Update Build Windows"
      if: branch = env(OWBRANCH) AND (type = cron OR (type = push AND env(OWTRAVIS_ALL) = 1))
      os: windows
      before_install:
        # stop unwanted services
        - travis/services.sh
        # set environmet variable
        - export OWTOOLS=VISUALC
        - export OWTRAVISJOB=CPREL
        - export OWSRCDIR=buildx
      install:
        - export WATCOM=$TRAVIS_BUILD_DIR/test
      script:
#        - cp $CP_OPTS $OWROOT/buildx/ $WATCOM
        - true
    #################################
#    - stage: InitTests
#      name: "Initialze Tests Environment"
#      if: branch = env(OWBRANCH) AND (type = cron OR (type = push AND env(OWTRAVIS_ALL) = 1))
#      before_install:
#        # stop unwanted services
#        - travis/services.sh
#      install:
#        - export WATCOM=$TRAVIS_BUILD_DIR/test
#      script:
#        - cp $CP_OPTS $OWROOT/buildx/ $WATCOM/
    #################################
    - stage: Tests
      name: "Test wasm assembler"
      if: branch = env(OWBRANCH) AND (type = cron OR (type = push AND env(OWTRAVIS_ALL) = 1))
      before_install:
        # stop unwanted services
        - travis/services.sh
        # set environmet variable
        - export OWTOOLS=WATCOM
        - export OWTRAVISJOB=TEST
        - export OWTRAVISTEST=WASM
      install:
        - export WATCOM=$TRAVIS_BUILD_DIR/test
        - export PATH=$WATCOM/binl:$PATH
        - export INCLUDE=$WATCOM/lh
        - unset LIB
        - . ./cmnvars.sh
      script:
        - travis/test.sh
    - # ...
      name: "Test C compiler"
      if: branch = env(OWBRANCH) AND (type = cron OR (type = push AND env(OWTRAVIS_ALL) = 1))
      before_install:
        # stop unwanted services
        - travis/services.sh
        # set environmet variable
        - export OWTOOLS=WATCOM
        - export OWTRAVISJOB=TEST
        - export OWTRAVISTEST=C
      install:
        - export WATCOM=$TRAVIS_BUILD_DIR/test
        - export PATH=$WATCOM/binl:$PATH
        - export INCLUDE=$WATCOM/lh
        - unset LIB
        - . ./cmnvars.sh
      script:
        - travis/test.sh
    - # ...
      name: "Test FORTRAN 77 compiler"
      if: branch = env(OWBRANCH) AND (type = cron OR (type = push AND env(OWTRAVIS_ALL) = 1))
      before_install:
        # stop unwanted services
        - travis/services.sh
        # set environmet variable
        - export OWTOOLS=WATCOM
        - export OWTRAVISJOB=TEST
        - export OWTRAVISTEST=F77
      install:
        - export WATCOM=$TRAVIS_BUILD_DIR/test
        - export PATH=$WATCOM/binl:$PATH
        - export INCLUDE=$WATCOM/lh
        - unset LIB
        - . ./cmnvars.sh
      script:
        - travis/test.sh
    - # ...
      name: "Test C++ compiler"
      if: branch = env(OWBRANCH) AND (type = cron OR (type = push AND env(OWTRAVIS_ALL) = 1))
      before_install:
        # stop unwanted services
        - travis/services.sh
        # set environmet variable
        - export OWTOOLS=WATCOM
        - export OWTRAVISJOB=TEST
        - export OWTRAVISTEST=CXX
      install:
        - export WATCOM=$TRAVIS_BUILD_DIR/test
        - export PATH=$WATCOM/binl:$PATH
        - export INCLUDE=$WATCOM/lh
        - unset LIB
        - . ./cmnvars.sh
      script:
        - travis/test.sh
    - # ...
      name: "Test C run-time library"
      if: branch = env(OWBRANCH) AND (type = cron OR (type = push AND env(OWTRAVIS_ALL) = 1))
      before_install:
        # set environmet variable
        - export OWTOOLS=WATCOM
        - export OWTRAVISJOB=TEST
        - export OWTRAVISTEST=CRTL
      install:
        - export WATCOM=$TRAVIS_BUILD_DIR/test
        - export PATH=$WATCOM/binl:$PATH
        - export INCLUDE=$WATCOM/lh
        - unset LIB
        - . ./cmnvars.sh
      script:
        - travis/test.sh
    #################################
    - stage: Finalize
      name: "Clean build cache Linux"
      if: branch = env(OWBRANCH)
      script:
        # clear cache
        - rm -rf build/$OWOBJDIR/*
        - rm -rf bld/watcom/$OWOBJDIR/*
        - rm -rf test/*
        - rm -rf buildx/*
    - # ...
      name: "Clean build cache OSX"
      if: branch = env(OWBRANCH) AND (type = cron OR (type = push AND env(OWTRAVIS_ALL) = 1))
      os: osx
      compiler: clang
      script:
        # clear cache
        - rm -rf build/$OWOBJDIR/*
        - rm -rf bld/watcom/$OWOBJDIR/*
        - rm -rf test/*
        - rm -rf buildx/*
    - # ...
      name: "Clean build cache Windows"
      if: branch = env(OWBRANCH) AND (type = cron OR (type = push AND env(OWTRAVIS_ALL) = 1))
      os: windows
      script:
        # clear cache
        - rm -rf build/$OWOBJDIR/*
        - rm -rf bld/watcom/$OWOBJDIR/*
        - rm -rf test/*
        - rm -rf buildx/*

    #################################
    - stage: InitDocumentation
      name: "Initiate Documentation build by Cron"
      if: branch = env(OWBRANCH_DOCS) AND type = cron
      cache: false
      script:
        - git config remote.origin.pushurl https://${GITHUB_TOKEN}@github.com/${TRAVIS_REPO_SLUG}.git
        - git pull origin $OWBRANCH
        - git checkout -B $OWBRANCH
        - git push origin $OWBRANCH:$OWBRANCH_DOCS
    #################################
    - stage: Documentation
      name: "OW Documentation build Linux"
      if: branch = env(OWBRANCH_DOCS) AND type = push
      cache: false
      before_install:
        # stop unwanted services
        - travis/services.sh
        # set environmet variable
        - export OWTOOLS=GCC
        - export OWTRAVISJOB=DOCTRAVIS
        - export OWDOCBUILD=1
      install:
        # install DOS Emulator + Ghostscript
        - sudo apt-get install -y dosemu ghostscript
        - export OWGHOSTSCRIPTPATH=$PATH
        - . ./cmnvars.sh
      script:
        - travis/builddoc.sh
    #################################
    - stage: InitCoverity
      name: "Initiate Coverity Scan by Cron Linux"
      if: branch = env(OWBRANCH_COVERITY) AND type = cron
      cache: false
      script:
        - git config remote.origin.pushurl https://${GITHUB_TOKEN}@github.com/${TRAVIS_REPO_SLUG}.git
        - git pull origin $OWBRANCH
        - git checkout -B $OWBRANCH
        - git push origin $OWBRANCH:$OWBRANCH_COVERITY
    #################################
    - stage: Coverity
      name: "Initiate Coverity Scan Linux"
      if: branch = env(OWBRANCH_COVERITY) AND type = push
      cache: false
      before_install:
        # stop unwanted services
        - travis/services.sh
        # set environmet variable
        - export OWTOOLS=GCC
        - export OWTRAVISJOB=BUILD
      install:
        # install DOS Emulator
        - sudo apt-get install -y dosemu
        - sudo apt-get install -y curl
        - . ./cmnvars.sh
      script:
        - travis/covscan.sh

#  coverity_scan:
#    project:
#      name: "$TRAVIS_REPO_SLUG"
#      description: "Build submitted via Travis CI"
#    notification_email:    "malak.jiri@gmail.com"
#    build_command_prepend:
#    build_command:         "travis/build.sh scan"
#    branch_pattern:        coverity_scan
