language: c
dist: trusty
sudo: required
os: linux
compiler: gcc

git:
  depth: 3

env:
  global:
    - TRAVIS_TAG=Current-build
    - OWROOT=$TRAVIS_BUILD_DIR
    - OWOBJDIR=binbuild
    - OWVERBOSE=0
    - OWDISTRBUILD=0
    - OWDOCBUILD=0
    - OWDOCQUIET=1
    - OWBRANCH=master
    - OWBRANCH_DOCS=documentation
    - OWBRANCH_COVERITY=coverity_scan
    - OWBRANCH_SF=sourceforge
    - OWTRAVIS_BUILD_REPO_SLUG=open-watcom/travis-ci-ow-builds
    - OWTRAVIS_BUILD_DIR=${HOME}/build/$OWTRAVIS_BUILD_REPO_SLUG
    - OWTRAVIS_LOGS_REPO_SLUG=open-watcom/travis-ci-logs
    - OWTRAVIS_LOGS_DIR=${HOME}/build/$OWTRAVIS_LOGS_REPO_SLUG
    - OWRELROOT=$OWROOT/test
    - OWTRAVISDIR=$OWROOT/travis
    - OWDISTRDIR=$OWROOT/distrib
    - OWSRCDIR=$OWROOT/bld
    - OWBINDIR=$OWROOT/build/$OWOBJDIR
    - OWDOCSDIR=$OWROOT/docs
    - CP_OPTS=-Rnv

cache:
  directories:
    - $OWBINDIR
    - $OWSRCDIR/watcom/$OWOBJDIR
    - $OWROOT/test
    - $OWROOT/buildx

before_script:
 # configure Git client
 - git config --global user.email "openwatcomtravis@gmail.com"
 - git config --global user.name "Open Watcom Travis"
 - git config --global push.default simple
 # get environment/cache info if debug is active
 - $OWTRAVISDIR/envinfo.sh
 - $OWTRAVISDIR/cacheinf.sh

after_failure:
 # after failure transfer log files back to GitHub repository
 - $OWTRAVISDIR/cacheinf.sh
 - $OWTRAVISDIR/gitupdf.sh

after_success:
 # after success transfer OW build to GitHub repository
 - $OWTRAVISDIR/cacheinf.sh
 - $OWTRAVISDIR/gitupds.sh

jobs:
  allow_failures:
    - os: windows
  include:
    #################################
    - stage: Initialize
      name: "Initialize Travis GitHub repository and mirror master branch commits to SF"
      git:
        depth: false
      cache: false
      before_install:
        # stop unwanted services
        - $OWTRAVISDIR/services.sh
      script:
        # update SF mirror
        - $OWTRAVISDIR/gitusf.sh
    #################################
    - stage: Bootstrap
      name: "Build minimal set of build tools Linux"
      before_install:
        # stop unwanted services
        - $OWTRAVISDIR/services.sh
        # set environmet variable
        - export OWTOOLS=GCC
        - export OWTRAVISJOB=BOOTSTRAP
        - export OWVERBOSE=1
        # clear cache
        - $OWTRAVISDIR/cacheclr.sh
      install:
        - . $OWROOT/cmnvars.sh
      script:
        - $OWTRAVISDIR/build.sh
    #################################
    - stage: Build
      name: "OW tools build Linux"
      before_install:
        # stop unwanted services
        - $OWTRAVISDIR/services.sh
        # set environmet variable
        - export OWTOOLS=GCC
        - export OWTRAVISJOB=BUILD
      install:
        # install DOS Emulator
        - sudo apt-get install -y dosemu
        - . $OWROOT/cmnvars.sh
      script:
        - $OWTRAVISDIR/build.sh
      before_cache:
        - $OWTRAVISDIR/cache3.sh save
    #################################
    - stage: Tests
      name: "Test wasm assembler"
      before_install:
        # stop unwanted services
        - $OWTRAVISDIR/services.sh
        # set environmet variable
        - export OWTOOLS=WATCOM
        - export OWTRAVISJOB=TEST
        - export OWTRAVISTEST=WASM
      install:
        - export WATCOM=$OWROOT/test
        - export PATH=$WATCOM/binl:$PATH
        - export INCLUDE=$WATCOM/lh
        - unset LIB
        - . $OWROOT/cmnvars.sh
      script:
        - $OWTRAVISDIR/test.sh
    - # ...
      name: "Test C compiler"
      before_install:
        # stop unwanted services
        - $OWTRAVISDIR/services.sh
        # set environmet variable
        - export OWTOOLS=WATCOM
        - export OWTRAVISJOB=TEST
        - export OWTRAVISTEST=C
      install:
        - export WATCOM=$OWROOT/test
        - export PATH=$WATCOM/binl:$PATH
        - export INCLUDE=$WATCOM/lh
        - unset LIB
        - . $OWROOT/cmnvars.sh
      script:
        - $OWTRAVISDIR/test.sh
    - # ...
      name: "Test FORTRAN 77 compiler"
      before_install:
        # stop unwanted services
        - $OWTRAVISDIR/services.sh
        # set environmet variable
        - export OWTOOLS=WATCOM
        - export OWTRAVISJOB=TEST
        - export OWTRAVISTEST=F77
      install:
        - export WATCOM=$OWROOT/test
        - export PATH=$WATCOM/binl:$PATH
        - export INCLUDE=$WATCOM/lh
        - unset LIB
        - . $OWROOT/cmnvars.sh
      script:
        - $OWTRAVISDIR/test.sh
    - # ...
      name: "Test C++ compiler"
      before_install:
        # stop unwanted services
        - $OWTRAVISDIR/services.sh
        # set environmet variable
        - export OWTOOLS=WATCOM
        - export OWTRAVISJOB=TEST
        - export OWTRAVISTEST=CXX
      install:
        - export WATCOM=$OWROOT/test
        - export PATH=$WATCOM/binl:$PATH
        - export INCLUDE=$WATCOM/lh
        - unset LIB
        - . $OWROOT/cmnvars.sh
      script:
        - $OWTRAVISDIR/test.sh
    - # ...
      name: "Test C run-time library"
      before_install:
        # set environmet variable
        - export OWTOOLS=WATCOM
        - export OWTRAVISJOB=TEST
        - export OWTRAVISTEST=CRTL
      install:
        - export WATCOM=$OWROOT/test
        - export PATH=$WATCOM/binl:$PATH
        - export INCLUDE=$WATCOM/lh
        - unset LIB
        - . $OWROOT/cmnvars.sh
      script:
        - $OWTRAVISDIR/test.sh
    #################################
    - stage: Finalize
      name: "Delete build cache Linux"
      script:
        - $OWTRAVISDIR/cacheclr.sh
    #################################
