ALIAS_DLG DIALOG 6, 18, 187, 175
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Add Alias"
FONT 8, "MS Sans Serif"
BEGIN
    EDITTEXT        ALIAS_TEXT, 10, 18, 98, 12, ES_AUTOHSCROLL
    GROUPBOX        "Current Text", -1, 5, 6, 110, 30
    PUSHBUTTON      "OK", IDOK, 135, 9, 40, 14
    GROUPBOX        "Value", -1, 5, 45, 110, 125
    PUSHBUTTON      "Cancel", IDCANCEL, 134, 30, 40, 14
    PUSHBUTTON      "Do More", ALIAS_DO_MORE, 134, 51, 40, 14
    EDITTEXT        ALIAS_CUR_ID, 10, 59, 98, 12, ES_AUTOHSCROLL
    LISTBOX         ALIAS_ID_LIST, 10, 76, 97, 90, LBS_SORT | LBS_NOTIFY
                        | WS_VSCROLL | WS_TABSTOP
END
