#include "wdismsg.h"
#include "wreslang.h"

STRINGTABLE
BEGIN
    #define pick(c,e,j) (c + RLE_ENGLISH * MSG_LANG_SPACING), [ e ]

    #include "..\wdisasm.msg"

    #undef pick

    #define pick(c,e,j) (c + RLE_JAPANESE * MSG_LANG_SPACING), [ j ]

    #include "..\wdisasm.msg"

    #undef pick

    #include "usage.rc"
    #include "usagej.rc"
END
