#if defined( __OS2__ )
    #define RC_ITEM(a,b,c)  a b c
#else
    #define RC_ITEM(a,b,c)  b a c
    #include <windows.h>
#endif
#include "wbrw.rh"

#include "wclass.rc"

RC_ITEM( ICON, WBRWIcon,              "wbr.ico" )
RC_ITEM( ICON, GBList,                "gblist.ico" )
RC_ITEM( ICON, GBTree,                "gbtree.ico" )
RC_ITEM( ICON, GBOutline,             "gbstruc.ico" )
RC_ITEM( ICON, DTFuncIcon,            "dtfunc.ico" )
RC_ITEM( ICON, DTClassIcon,           "dtclass.ico" )
RC_ITEM( ICON, DTEnumIcon,            "dtenum.ico" )
RC_ITEM( ICON, DTTypedefIcon,         "dttype.ico" )
RC_ITEM( ICON, DTVarIcon,             "dtvar.ico" )
RC_ITEM( ICON, DTMacroIcon,           "dtmacro.ico" )
RC_ITEM( ICON, DTLabelIcon,           "dtlabel.ico" )
RC_ITEM( ICON, DTSourceRefs,          "dtrefs.ico" )
RC_ITEM( ICON, DTSymbolRefs,          "dtuses.ico" )

RC_ITEM( BITMAP, InvalidHotSpot,        "invalid.bmp" )
RC_ITEM( BITMAP, CheckBoxUncheckedU,    "checkbx0.bmp" )
RC_ITEM( BITMAP, CheckBoxUncheckedD,    "checkbx1.bmp" )
RC_ITEM( BITMAP, CheckBoxCheckedU,      "checkbx2.bmp" )
RC_ITEM( BITMAP, CheckBoxCheckedD,      "checkbx3.bmp" )

RC_ITEM( BITMAP, FunctionOpenUp,        "func2.bmp" )
RC_ITEM( BITMAP, FunctionOpenDown,      "func3.bmp" )
RC_ITEM( BITMAP, FunctionClosedUp,      "func0.bmp" )
RC_ITEM( BITMAP, FunctionClosedDown,    "func1.bmp" )

RC_ITEM( BITMAP, ClassOpenUp,           "class2.bmp" )
RC_ITEM( BITMAP, ClassOpenDown,         "class3.bmp" )
RC_ITEM( BITMAP, ClassClosedUp,         "class0.bmp" )
RC_ITEM( BITMAP, ClassClosedDown,       "class1.bmp" )

RC_ITEM( BITMAP, EnumOpenUp,            "enum2.bmp" )
RC_ITEM( BITMAP, EnumOpenDown,          "enum3.bmp" )
RC_ITEM( BITMAP, EnumClosedUp,          "enum0.bmp" )
RC_ITEM( BITMAP, EnumClosedDown,        "enum1.bmp" )

RC_ITEM( BITMAP, TypedefOpenUp,         "type2.bmp" )
RC_ITEM( BITMAP, TypedefOpenDown,       "type3.bmp" )
RC_ITEM( BITMAP, TypedefClosedUp,       "type0.bmp" )
RC_ITEM( BITMAP, TypedefClosedDown,     "type1.bmp" )

RC_ITEM( BITMAP, VariableOpenUp,        "var2.bmp" )
RC_ITEM( BITMAP, VariableOpenDown,      "var3.bmp" )
RC_ITEM( BITMAP, VariableClosedUp,      "var0.bmp" )
RC_ITEM( BITMAP, VariableClosedDown,    "var1.bmp" )

RC_ITEM( BITMAP, MacroOpenUp,           "macro2.bmp" )
RC_ITEM( BITMAP, MacroOpenDown,         "macro3.bmp" )
RC_ITEM( BITMAP, MacroClosedUp,         "macro0.bmp" )
RC_ITEM( BITMAP, MacroClosedDown,       "macro1.bmp" )

RC_ITEM( BITMAP, LabelOpenUp,           "label2.bmp" )
RC_ITEM( BITMAP, LabelOpenDown,         "label3.bmp" )
RC_ITEM( BITMAP, LabelClosedUp,         "label0.bmp" )
RC_ITEM( BITMAP, LabelClosedDown,       "label1.bmp" )

RC_ITEM( BITMAP, OutlineLeafUp,         "olleaf0.bmp" )
RC_ITEM( BITMAP, OutlineLeafDown,       "olleaf1.bmp" )
RC_ITEM( BITMAP, OutlineCollapsedUp,    "olcoll0.bmp" )
RC_ITEM( BITMAP, OutlineCollapsedDown,  "olcoll1.bmp" )
RC_ITEM( BITMAP, OutlineExpandedUp,     "olexpn0.bmp" )
RC_ITEM( BITMAP, OutlineExpandedDown,   "olexpn1.bmp" )

RC_ITEM( BITMAP, EditorHotUp,           "edit0.bmp" )
RC_ITEM( BITMAP, EditorHotDown,         "edit1.bmp" )

RC_ITEM( BITMAP, SplashPage,            "brow_s.bmp" )

#if defined( __NT__ ) && defined( RESX_NTVER )
    #include "exever.grc"
#endif
