#include <windows.h>
#include "../h/icons.h"
#include "../h/hotspots.h"

#ifdef __NT__
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST MOVEABLE PURE "../res/appmanif.xml"
#endif

WBRWIcon        ICON "../res/ico/wbr.ico"
GBList          ICON "../res/ico/gblist.ico"
GBTree          ICON "../res/ico/gbtree.ico"
GBOutline       ICON "../res/ico/gbstruc.ico"
DTFuncIcon      ICON "../res/ico/dtfunc.ico"
DTClassIcon     ICON "../res/ico/dtclass.ico"
DTEnumIcon      ICON "../res/ico/dtenum.ico"
DTTypedefIcon   ICON "../res/ico/dttype.ico"
DTVarIcon       ICON "../res/ico/dtvar.ico"
DTMacroIcon     ICON "../res/ico/dtmacro.ico"
DTLabelIcon     ICON "../res/ico/dtlabel.ico"
DTSourceRefs    ICON "../res/ico/dtrefs.ico"
DTSymbolRefs    ICON "../res/ico/dtuses.ico"

InvalidHotSpot      BITMAP "../res/bmp/invalid.bmp"
CheckBoxUncheckedU  BITMAP "../res/bmp/checkbx0.bmp"
CheckBoxUncheckedD  BITMAP "../res/bmp/checkbx1.bmp"
CheckBoxCheckedU    BITMAP "../res/bmp/checkbx2.bmp"
CheckBoxCheckedD    BITMAP "../res/bmp/checkbx3.bmp"

FunctionOpenUp      BITMAP "../res/bmp/func2.bmp"
FunctionOpenDown    BITMAP "../res/bmp/func3.bmp"
FunctionClosedUp    BITMAP "../res/bmp/func0.bmp"
FunctionClosedDown  BITMAP "../res/bmp/func1.bmp"

ClassOpenUp         BITMAP "../res/bmp/class2.bmp"
ClassOpenDown       BITMAP "../res/bmp/class3.bmp"
ClassClosedUp       BITMAP "../res/bmp/class0.bmp"
ClassClosedDown     BITMAP "../res/bmp/class1.bmp"

EnumOpenUp          BITMAP "../res/bmp/enum2.bmp"
EnumOpenDown        BITMAP "../res/bmp/enum3.bmp"
EnumClosedUp        BITMAP "../res/bmp/enum0.bmp"
EnumClosedDown      BITMAP "../res/bmp/enum1.bmp"

TypedefOpenUp       BITMAP "../res/bmp/type2.bmp"
TypedefOpenDown     BITMAP "../res/bmp/type3.bmp"
TypedefClosedUp     BITMAP "../res/bmp/type0.bmp"
TypedefClosedDown   BITMAP "../res/bmp/type1.bmp"

VariableOpenUp      BITMAP "../res/bmp/var2.bmp"
VariableOpenDown    BITMAP "../res/bmp/var3.bmp"
VariableClosedUp    BITMAP "../res/bmp/var0.bmp"
VariableClosedDown  BITMAP "../res/bmp/var1.bmp"

MacroOpenUp         BITMAP "../res/bmp/macro2.bmp"
MacroOpenDown       BITMAP "../res/bmp/macro3.bmp"
MacroClosedUp       BITMAP "../res/bmp/macro0.bmp"
MacroClosedDown     BITMAP "../res/bmp/macro1.bmp"

LabelOpenUp         BITMAP "../res/bmp/label2.bmp"
LabelOpenDown       BITMAP "../res/bmp/label3.bmp"
LabelClosedUp       BITMAP "../res/bmp/label0.bmp"
LabelClosedDown     BITMAP "../res/bmp/label1.bmp"

OutlineLeafUp        BITMAP "../res/bmp/olleaf0.bmp"
OutlineLeafDown      BITMAP "../res/bmp/olleaf1.bmp"
OutlineCollapsedUp   BITMAP "../res/bmp/olcoll0.bmp"
OutlineCollapsedDown BITMAP "../res/bmp/olcoll1.bmp"
OutlineExpandedUp    BITMAP "../res/bmp/olexpn0.bmp"
OutlineExpandedDown  BITMAP "../res/bmp/olexpn1.bmp"

EditorHotUp          BITMAP "../res/bmp/edit0.bmp"
EditorHotDown        BITMAP "../res/bmp/edit1.bmp"

SplashPage          BITMAP "../res/bmp/brow_s.bmp"
