#include "icons.h"
#include "hotspots.h"

ICON   WBRWIcon              "wbr.ico"
ICON   GBList                "gblist.ico"
ICON   GBTree                "gbtree.ico"
ICON   GBOutline             "gbstruc.ico"
ICON   DTFuncIcon            "dtfunc.ico"
ICON   DTClassIcon           "dtclass.ico"
ICON   DTEnumIcon            "dtenum.ico"
ICON   DTTypedefIcon         "dttype.ico"
ICON   DTVarIcon             "dtvar.ico"
ICON   DTMacroIcon           "dtmacro.ico"
ICON   DTLabelIcon           "dtlabel.ico"
ICON   DTSourceRefs          "dtrefs.ico"
ICON   DTSymbolRefs          "dtuses.ico"

BITMAP InvalidHotSpot        "invalid.bmp"
BITMAP CheckBoxUncheckedU    "checkbx0.bmp"
BITMAP CheckBoxUncheckedD    "checkbx1.bmp"
BITMAP CheckBoxCheckedU      "checkbx2.bmp"
BITMAP CheckBoxCheckedD      "checkbx3.bmp"

BITMAP FunctionOpenUp        "func2.bmp"
BITMAP FunctionOpenDown      "func3.bmp"
BITMAP FunctionClosedUp      "func0.bmp"
BITMAP FunctionClosedDown    "func1.bmp"

BITMAP ClassOpenUp           "class2.bmp"
BITMAP ClassOpenDown         "class3.bmp"
BITMAP ClassClosedUp         "class0.bmp"
BITMAP ClassClosedDown       "class1.bmp"

BITMAP EnumOpenUp            "enum2.bmp"
BITMAP EnumOpenDown          "enum3.bmp"
BITMAP EnumClosedUp          "enum0.bmp"
BITMAP EnumClosedDown        "enum1.bmp"

BITMAP TypedefOpenUp         "type2.bmp"
BITMAP TypedefOpenDown       "type3.bmp"
BITMAP TypedefClosedUp       "type0.bmp"
BITMAP TypedefClosedDown     "type1.bmp"

BITMAP VariableOpenUp        "var2.bmp"
BITMAP VariableOpenDown      "var3.bmp"
BITMAP VariableClosedUp      "var0.bmp"
BITMAP VariableClosedDown    "var1.bmp"

BITMAP MacroOpenUp           "macro2.bmp"
BITMAP MacroOpenDown         "macro3.bmp"
BITMAP MacroClosedUp         "macro0.bmp"
BITMAP MacroClosedDown       "macro1.bmp"

BITMAP LabelOpenUp           "label2.bmp"
BITMAP LabelOpenDown         "label3.bmp"
BITMAP LabelClosedUp         "label0.bmp"
BITMAP LabelClosedDown       "label1.bmp"

BITMAP OutlineLeafUp         "olleaf0.bmp"
BITMAP OutlineLeafDown       "olleaf1.bmp"
BITMAP OutlineCollapsedUp    "olcoll0.bmp"
BITMAP OutlineCollapsedDown  "olcoll1.bmp"
BITMAP OutlineExpandedUp     "olexpn0.bmp"
BITMAP OutlineExpandedDown   "olexpn1.bmp"

BITMAP EditorHotUp           "edit0.bmp"
BITMAP EditorHotDown         "edit1.bmp"

BITMAP SplashPage            "brow_s.bmp"
