#include "../h/icons.h"
#include "../h/hotspots.h"

ICON   WBRWIcon              "../res/ico_pm/wbr.ico"
ICON   GBList                "../res/ico_pm/gblist.ico"
ICON   GBTree                "../res/ico_pm/gbtree.ico"
ICON   GBOutline             "../res/ico_pm/gbstruc.ico"
ICON   DTFuncIcon            "../res/ico_pm/dtfunc.ico"
ICON   DTClassIcon           "../res/ico_pm/dtclass.ico"
ICON   DTEnumIcon            "../res/ico_pm/dtenum.ico"
ICON   DTTypedefIcon         "../res/ico_pm/dttype.ico"
ICON   DTVarIcon             "../res/ico_pm/dtvar.ico"
ICON   DTMacroIcon           "../res/ico_pm/dtmacro.ico"
ICON   DTLabelIcon           "../res/ico_pm/dtlabel.ico"
ICON   DTSourceRefs          "../res/ico_pm/dtrefs.ico"
ICON   DTSymbolRefs          "../res/ico_pm/dtuses.ico"

BITMAP InvalidHotSpot        "../res/bmp/invalid.bmp"
BITMAP CheckBoxUncheckedU    "../res/bmp/checkbx0.bmp"
BITMAP CheckBoxUncheckedD    "../res/bmp/checkbx1.bmp"
BITMAP CheckBoxCheckedU      "../res/bmp/checkbx2.bmp"
BITMAP CheckBoxCheckedD      "../res/bmp/checkbx3.bmp"

BITMAP FunctionOpenUp        "../res/bmp/func2.bmp"
BITMAP FunctionOpenDown      "../res/bmp/func3.bmp"
BITMAP FunctionClosedUp      "../res/bmp/func0.bmp"
BITMAP FunctionClosedDown    "../res/bmp/func1.bmp"

BITMAP ClassOpenUp           "../res/bmp/class2.bmp"
BITMAP ClassOpenDown         "../res/bmp/class3.bmp"
BITMAP ClassClosedUp         "../res/bmp/class0.bmp"
BITMAP ClassClosedDown       "../res/bmp/class1.bmp"

BITMAP EnumOpenUp            "../res/bmp/enum2.bmp"
BITMAP EnumOpenDown          "../res/bmp/enum3.bmp"
BITMAP EnumClosedUp          "../res/bmp/enum0.bmp"
BITMAP EnumClosedDown        "../res/bmp/enum1.bmp"

BITMAP TypedefOpenUp         "../res/bmp/type2.bmp"
BITMAP TypedefOpenDown       "../res/bmp/type3.bmp"
BITMAP TypedefClosedUp       "../res/bmp/type0.bmp"
BITMAP TypedefClosedDown     "../res/bmp/type1.bmp"

BITMAP VariableOpenUp        "../res/bmp/var2.bmp"
BITMAP VariableOpenDown      "../res/bmp/var3.bmp"
BITMAP VariableClosedUp      "../res/bmp/var0.bmp"
BITMAP VariableClosedDown    "../res/bmp/var1.bmp"

BITMAP MacroOpenUp           "../res/bmp/macro2.bmp"
BITMAP MacroOpenDown         "../res/bmp/macro3.bmp"
BITMAP MacroClosedUp         "../res/bmp/macro0.bmp"
BITMAP MacroClosedDown       "../res/bmp/macro1.bmp"

BITMAP LabelOpenUp           "../res/bmp/label2.bmp"
BITMAP LabelOpenDown         "../res/bmp/label3.bmp"
BITMAP LabelClosedUp         "../res/bmp/label0.bmp"
BITMAP LabelClosedDown       "../res/bmp/label1.bmp"

BITMAP OutlineLeafUp         "../res/bmp/olleaf0.bmp"
BITMAP OutlineLeafDown       "../res/bmp/olleaf1.bmp"
BITMAP OutlineCollapsedUp    "../res/bmp/olcoll0.bmp"
BITMAP OutlineCollapsedDown  "../res/bmp/olcoll1.bmp"
BITMAP OutlineExpandedUp     "../res/bmp/olexpn0.bmp"
BITMAP OutlineExpandedDown   "../res/bmp/olexpn1.bmp"

BITMAP EditorHotUp           "../res/bmp/edit0.bmp"
BITMAP EditorHotDown         "../res/bmp/edit1.bmp"

BITMAP SplashPage            "../res/bmp/brow_s.bmp"
