#include <windows.h>
#include "icons.h"
#include "hotspots.h"

WBRWIcon        ICON "wbr.ico"
GBList          ICON "gblist.ico"
GBTree          ICON "gbtree.ico"
GBOutline       ICON "gbstruc.ico"
DTFuncIcon      ICON "dtfunc.ico"
DTClassIcon     ICON "dtclass.ico"
DTEnumIcon      ICON "dtenum.ico"
DTTypedefIcon   ICON "dttype.ico"
DTVarIcon       ICON "dtvar.ico"
DTMacroIcon     ICON "dtmacro.ico"
DTLabelIcon     ICON "dtlabel.ico"
DTSourceRefs    ICON "dtrefs.ico"
DTSymbolRefs    ICON "dtuses.ico"

InvalidHotSpot      BITMAP "invalid.bmp"
CheckBoxUncheckedU  BITMAP "checkbx0.bmp"
CheckBoxUncheckedD  BITMAP "checkbx1.bmp"
CheckBoxCheckedU    BITMAP "checkbx2.bmp"
CheckBoxCheckedD    BITMAP "checkbx3.bmp"

FunctionOpenUp      BITMAP "func2.bmp"
FunctionOpenDown    BITMAP "func3.bmp"
FunctionClosedUp    BITMAP "func0.bmp"
FunctionClosedDown  BITMAP "func1.bmp"

ClassOpenUp         BITMAP "class2.bmp"
ClassOpenDown       BITMAP "class3.bmp"
ClassClosedUp       BITMAP "class0.bmp"
ClassClosedDown     BITMAP "class1.bmp"

EnumOpenUp          BITMAP "enum2.bmp"
EnumOpenDown        BITMAP "enum3.bmp"
EnumClosedUp        BITMAP "enum0.bmp"
EnumClosedDown      BITMAP "enum1.bmp"

TypedefOpenUp       BITMAP "type2.bmp"
TypedefOpenDown     BITMAP "type3.bmp"
TypedefClosedUp     BITMAP "type0.bmp"
TypedefClosedDown   BITMAP "type1.bmp"

VariableOpenUp      BITMAP "var2.bmp"
VariableOpenDown    BITMAP "var3.bmp"
VariableClosedUp    BITMAP "var0.bmp"
VariableClosedDown  BITMAP "var1.bmp"

MacroOpenUp         BITMAP "macro2.bmp"
MacroOpenDown       BITMAP "macro3.bmp"
MacroClosedUp       BITMAP "macro0.bmp"
MacroClosedDown     BITMAP "macro1.bmp"

LabelOpenUp         BITMAP "label2.bmp"
LabelOpenDown       BITMAP "label3.bmp"
LabelClosedUp       BITMAP "label0.bmp"
LabelClosedDown     BITMAP "label1.bmp"

OutlineLeafUp        BITMAP "olleaf0.bmp"
OutlineLeafDown      BITMAP "olleaf1.bmp"
OutlineCollapsedUp   BITMAP "olcoll0.bmp"
OutlineCollapsedDown BITMAP "olcoll1.bmp"
OutlineExpandedUp    BITMAP "olexpn0.bmp"
OutlineExpandedDown  BITMAP "olexpn1.bmp"

EditorHotUp          BITMAP "edit0.bmp"
EditorHotDown        BITMAP "edit1.bmp"

SplashPage          BITMAP "brow_s.bmp"
