*.d32
*.err
*.exe
*.lib
*.lnk
*.o
*.[oux]bj
*.trp
#
/as/*/*/as_in.y
/as/*/*/aslexyy.c
/as/*/*/asytab.c
/as/*/*/asytab.h
/as/*/*/scan_in.re
/as/*/*/ytab.c
/as/*/*/ytab.h
/as/*/*/*/as_in.y
/as/*/*/*/aslexyy.c
/as/*/*/*/asytab.c
/as/*/*/*/asytab.h
/as/*/*/*/scan_in.re
/as/*/*/*/ytab.c
/as/*/*/*/ytab.h
#
/aui/os2*/*.dlg
#
/build/axpnt/*
!/build/axpnt/readme
!/build/axpnt/wlink.lnk
/build/bin/*
!/build/bin/readme
!/build/bin/wlink.lnk
/build/binl/*
!/build/binl/bootstrp.lnk
!/build/binl/readme
!/build/binl/wlink.lnk
/build/binnt/*
!/build/binnt/readme
!/build/binnt/wlink.lnk
/build/binp/*
!/build/binp/readme
!/build/binp/wlink.lnk
#
/builder/*/awk.c
/builder/*/proctab.c
/builder/*/ytab.h
#
/cc/*/*/*.dll
#
/cg/*/*/*/*.dll
#
/clib/alias/objs.mif
/clib/alias/a/*.asm
/clib/library/*/*/*.def
/clib/rtdll/*/*/*.dll
#
/cmdedit/*/*.dll
#
/cpplib/*/*.dll/*.def
/cpplib/rtdll/*/*/*.dll
#
/ctest/*.out
/ctest/*.sav
/ctest/*/*/*.dis
/ctest/*/*/*.out
/ctest/*/*/*.sav
#
/dip/*/*/*.dll
#
/editdll/*/*/*.dll
#
/f77/regress/nist/*.out
/f77/regress/nist/FOR*
/f77/regress/nist/FM*.DAT
/f77/regress/nist/fm*.dat
#
/graphlib/fix/*/clib.mod
/graphlib/fix/*/graph.mod
/graphlib/fix/*/graph.ref
/graphlib/fix/*/graph.stb
#
/mad/*/*/*.dll
#
/mathlib/library/*/*/*.def
/mathlib/rtdll/*/*/*.dll
/mathlib/alias/objs.mif
/mathlib/alias/a/*.asm
#
/nwlib/*/*.dll
#
/os2api/os2286/h/*
!/os2api/os2286/h/makefile
/os2api/os2286/lib/*
!/os2api/os2286/lib/makefile
/os2api/os2386/h/*
!/os2api/os2386/h/makefile
/os2api/os2386/lib/*
!/os2api/os2386/lib/makefile
#
/pbide/cfg/*/*.cfg
/pbide/wig/nt386.dll/*.dll
/pbide/wig/wini86.dll/*.dll
#
/plusplus/*/*/*.dll
/plusplus/*/*/ytab.c
/plusplus/*/*/y.out
#
/plustest/*.out
/plustest/*.sav
/plustest/*/*/*.dis
/plustest/*/*/*.out
/plustest/*/*/*.sav
/plustest/*/*/*/*.out
/plustest/*/*/*/*.sav
/plustest/regress/owstl/mmwin16.cpp
/plustest/regress/owstl/mmwindef.cpp
#
/rc/rc/*/*.dll
/rc/rc/*/ytab2.c
/rc/rc/*/ytabw.c
#
/rcsdll/*/*.dll
#
/sdk/*/*/*.dll
/sdk/wresedit/*/*/*.dll
#
/trap/*/*/*.dll
/trap/*/*/*/*.dll
#
/vi/*/*.vi
!/vi/dat/*.vi
!/vi/man/*.vi
/vi/*/ed.cfg
!/vi/dat/ed.cfg
/vi/*/weditor.ini
!/vi/dat/weditor.ini
#
/viper/cfg/ide.cfg
/viper/cfg/*/idex.cfg
#
/viprdemo/*/*/*.dll
#
/w16api/wini86/*.h
#
/w32api/nt/*.h
/w32api/nt/*.rh
/w32api/nt/ddk/*.h
/w32api/nt/directx/*.h
/w32api/nt/GL/*.h
#
/wasmtest/*.sav
/wasmtest/*/*.dib
/wasmtest/*/*.dis
/wasmtest/*/*.OUT
/wasmtest/*/*.out
/wasmtest/*/*.sav
#
/wattcp/inc/sys/*
!/wattcp/inc/sys/*.err
!/wattcp/inc/sys/*.h
#
/wcl/*.owc
#
/win386/asm/dllthk.asm
/win386/asm/winglue.asm
/win386/c/dllthunk.c
/win386/h/winglue.inc
/win386/vxd/*.386
#
/wl/nt386.dll/*.dll
/wl/nt386.rtd/*.dll
/wl/os2386.dll/*.dll
#
/wv/os2/*/*.dlg

