*.$$$
*.cop
*.COP
*.d32
*.err
*.exe
*.exp
*.lib
*.lnk
*.o
*.[oux]bj
*.pdb
*.rex
*.trp
#
/as/*/*/as_in.y
/as/*/*/aslexyy.c
/as/*/*/asytab.c
/as/*/*/asytab.h
/as/*/*/scan_in.re
/as/*/*/ytab.c
/as/*/*/ytab.h
/as/*/*/*/as_in.y
/as/*/*/*/aslexyy.c
/as/*/*/*/asytab.c
/as/*/*/*/asytab.h
/as/*/*/*/scan_in.re
/as/*/*/*/ytab.c
/as/*/*/*/ytab.h
#
/aui/os2*/*.dlg
#
/awk/*/awk.c
/awk/*/proctab.c
/awk/*/ytab.h
#
/build/axpnt/*
!/build/axpnt/readme
!/build/axpnt/wlink.lnk
/build/bin/*
!/build/bin/readme
!/build/bin/wlink.lnk
/build/binl/*
!/build/binl/bootstrp.lnk
!/build/binl/readme
!/build/binl/wlink.lnk
/build/binnt/*
!/build/binnt/readme
!/build/binnt/wlink.lnk
/build/binp/*
!/build/binp/readme
!/build/binp/wlink.lnk
#
/causeway/dlltest/*/*.dll
#
/cc/*/*/*.dll
#
/cg/*/*/*/*.dll
#
/clib/alias/objs.mif
/clib/alias/a/*.asm
/clib/library/*/*/*.def
/clib/rtdll/*/*/*.dll
#
/cmdedit/*/*.dll
#
/cpplib/*/*.dll/*.def
/cpplib/rtdll/*/*/*.dll
#
/ctest/*.out
/ctest/*.sav
/ctest/*/*/*.dis
/ctest/*/*/*.out
/ctest/*/*/*.sav
#
/dip/*/*/*.dll
#
/editdll/*/*/*.dll
#
/f77/regress/nist/*.out
/f77/regress/nist/FOR*
/f77/regress/nist/FM*.DAT
/f77/regress/nist/fm*.dat
/f77/regress/nist/expected/*
!/f77/regress/nist/expected/*.exp
#
/graphlib/fix/*/clib.mod
/graphlib/fix/*/graph.mod
/graphlib/fix/*/graph.ref
/graphlib/fix/*/graph.stb
#
/ide/cfg/ide.cfg
/ide/cfg/*/idex.cfg
#
/idedemo/*/*/*.dll
#
/mad/*/*/*.dll
#
/mathlib/library/*/*/*.def
/mathlib/rtdll/*/*/*.dll
/mathlib/alias/objs.mif
/mathlib/alias/a/*.asm
#
/nwlib/*/*.dll
#
/os2api/os2286/h/*
!/os2api/os2286/h/makefile
/os2api/os2286/lib/*
!/os2api/os2286/lib/makefile
/os2api/os2386/h/*
!/os2api/os2386/h/makefile
/os2api/os2386/lib/*
!/os2api/os2386/lib/makefile
#
/pbide/cfg/*/*.cfg
/pbide/wig/*/*.dll
#
/plusplus/*/*/*.dll
/plusplus/*/*/ytab.c
/plusplus/*/*/y.out
#
/plustest/*.out
/plustest/*.sav
/plustest/*/*/*.dis
/plustest/*/*/*.out
/plustest/*/*/*.sav
/plustest/*/*/*/*.out
/plustest/*/*/*/*.sav
/plustest/regress/owstl/mmwin16.cpp
/plustest/regress/owstl/mmwindef.cpp
#
#/posix/
#
/redist/*/*
!/redist/dos4gw/*.doc
!/redist/dos4gw/*.exe
!/redist/dos4gw/*.exp
!/redist/dos4gw/*.trp
!/redist/dos32a/*.d32
!/redist/dos32a/*.exe
!/redist/pmodew/*.com
!/redist/pmodew/*.doc
!/redist/pmodew/*.exe
!/redist/pmodew/*.faq
#
/rc/rc/*/*.dll
/rc/rc/*/ytab2.c
/rc/rc/*/ytabw.c
#
/rcsdll/*/*.dll
#
/sdk/*/*/*.dll
/sdk/wresedit/*/*/*.dll
#
/trap/*/*/*.dll
/trap/*/*/*/*.dll
#
/vi/*/*.vi
!/vi/dat/*.vi
!/vi/man/*.vi
/vi/*/ed.cfg
!/vi/dat/ed.cfg
/vi/*/weditor.ini
!/vi/dat/weditor.ini
#
/w16api/wini86/*.h
#
/w32api/nt/*.h
/w32api/nt/*.rh
/w32api/nt/ddk/*.h
/w32api/nt/directx/*.h
/w32api/nt/GL/*.h
#
/wasmtest/*.sav
/wasmtest/*/*.dib
/wasmtest/*/*.dis
/wasmtest/*/*.OUT
/wasmtest/*/*.out
/wasmtest/*/*.sav
#
/wattcp/inc/sys/*
!/wattcp/inc/sys/*.err
!/wattcp/inc/sys/*.h
#
/wcl/*.owc
/wcl/owcc/*/*.owc
#
/wgml/test/testlib/*.bat
#
/win386/conv/win386/dllthk.asm
/win386/conv/win386/winglue.asm
/win386/conv/win386/dllthunk.c
/win386/conv/win386/winglue.inc
/win386/vxd/*.386
#
/wl/*/*.dll
#
#/wsample/
#
/wv/os2/*/*.dlg

