#ifdef JAPANESE
 #define sp( s1, s2 ) s2
#else
 #define sp( s1, s2 ) s1
#endif
"MEMINFOMENU" MENU
BEGIN
    POPUP sp( "&File",
              "&File" )
    BEGIN
        MENUITEM sp( "&Save",
                     "&Save" ), MEMINFO_SAVE
        MENUITEM sp( "Save &As",
                     "Save &As" ), MEMINFO_SAVE_TO
#ifndef __NT__
        MENUITEM SEPARATOR
        MENUITEM sp( "S&how Info",
                     "S&how Info" ), MEMINFO_SHOW
        MENUITEM sp( "&Auto Position Info",
                     "&Auto Position Info" ), MEMINFO_AUTO_POS
#endif
        MENUITEM SEPARATOR
        MENUITEM sp( "&Exit",
                     "&Exit" ), MEMINFO_EXIT
    END
    POPUP sp( "&Display",
              "&Display" )
    BEGIN
        MENUITEM sp( "&Bytes",
                     "&Bytes" ), MEMINFO_BYTE
        MENUITEM sp( "&Words",
                     "&Words" ), MEMINFO_WORD
        MENUITEM sp( "&DWords",
                     "&DWords" ), MEMINFO_DWORD
#ifndef __NT__
        MENUITEM SEPARATOR
        MENUITEM sp( "&16 Bit Code",
                     "&16 Bit Code" ), MEMINFO_CODE_16
        MENUITEM sp( "&32 Bit Code",
                     "&32 Bit Code" ), MEMINFO_CODE_32
#endif
    END
    MENUITEM sp( "Set Offset...",
                 "Set Offset..." ), MEMINFO_OFFSET
END
#undef sp

#include "offset.dlg"
#include "selinfo.dlg"
#include "hdlinfo.dlg"
