#include <windows.h>
#include "banner.h"
#include "menuids.h"
#include "settings.h"
#include "dialogs.h"
#include "about.h"
#include "rcstr.gh"
#include "uistr.gh"

"APPLICON"      ICON    "wimgedit.ico"
"APPLBITMAP"    BITMAP  "wimgedit.bmp"

"IconIcon"      ICON    "icon.ico"
"BitmapIcon"    ICON    "bitmap.ico"
"CursorIcon"    ICON    "cursor.ico"

"PaintBrush"    CURSOR  "paintb.cur"
"PencilCursor"  CURSOR  "pencil.cur"
"CrossHairs"    CURSOR  "crosshrs.cur"
"FillCursor"    CURSOR  "fill.cur"
"HotSpotCur"    CURSOR  "hotspot.cur"
"PointCursor"   CURSOR  "pasteptr.cur"
"HandCursor"    CURSOR  "hand.cur"

"OPENBMP"       BITMAP  "open.bmp"
"NEWBMP"        BITMAP  "new.bmp"
"SAVEBMP"       BITMAP  "save.bmp"
"GRIDBMP"       BITMAP  "grid.bmp"
"GRIDDBMP"      BITMAP  "gridd.bmp"
"MAXIMIZEBMP"   BITMAP  "maxmize.bmp"
"MAXIMIZEDBMP"  BITMAP  "maxmized.bmp"
"CUTBMP"        BITMAP  "cut.bmp"
"COPYBMP"       BITMAP  "copy.bmp"
"PASTEBMP"      BITMAP  "paste.bmp"
"UNDOBMP"       BITMAP  "undo.bmp"
"REDOBMP"       BITMAP  "redo.bmp"
"CLEARBMP"      BITMAP  "clear.bmp"
"SNAPBMP"       BITMAP  "snap.bmp"
"RIGHTBMP"      BITMAP  "right.bmp"
"LEFTBMP"       BITMAP  "left.bmp"
"UPBMP"         BITMAP  "up.bmp"
"DOWNBMP"       BITMAP  "down.bmp"
"HFLIPBMP"      BITMAP  "fliph.bmp"
"HFLIPDBMP"     BITMAP  "fliphd.bmp"
"VFLIPBMP"      BITMAP  "flipv.bmp"
"VFLIPDBMP"     BITMAP  "flipvd.bmp"
"CLROTBMP"      BITMAP  "rotcl.bmp"
"CLROTDBMP"     BITMAP  "rotcld.bmp"
"CCROTBMP"      BITMAP  "rotcc.bmp"
"CCROTDBMP"     BITMAP  "rotccd.bmp"

"PENCIL"        BITMAP  "pencil.bmp"
"PENCILD"       BITMAP  "pencild.bmp"
"LINE"          BITMAP  "line.bmp"
"LINED"         BITMAP  "lined.bmp"
"CIRCLEO"       BITMAP  "circleo.bmp"
"CIRCLEOD"      BITMAP  "circleod.bmp"
"CIRCLEF"       BITMAP  "circlef.bmp"
"CIRCLEFD"      BITMAP  "circlefd.bmp"
"RECTO"         BITMAP  "recto.bmp"
"RECTOD"        BITMAP  "rectod.bmp"
"RECTF"         BITMAP  "rectf.bmp"
"RECTFD"        BITMAP  "rectfd.bmp"
"FILL"          BITMAP  "fill.bmp"
"FILLD"         BITMAP  "filld.bmp"
"BRUSH"         BITMAP  "brush.bmp"
"BRUSHD"        BITMAP  "brushd.bmp"
"CLPRECT"       BITMAP  "clprect.bmp"
"CLPRECTD"      BITMAP  "clprectd.bmp"
"HOTSPOT"       BITMAP  "hotspot.bmp"
"HOTSPOTD"      BITMAP  "hotspotd.bmp"

"Accelerators" ACCELERATORS
BEGIN
    "^N", IMGED_NEW
    "^O", IMGED_OPEN
    "^S", IMGED_SAVE
    VK_F12, IMGED_SAVE_AS, VIRTKEY
    VK_F10, IMGED_CLOSE, VIRTKEY, SHIFT
    VK_F10, IMGED_CLOSEALL, VIRTKEY, CONTROL
    "^Z", IMGED_UNDO
    "^Y", IMGED_REDO
    "^X", IMGED_CUT
    "^C", IMGED_COPY
    "^V", IMGED_PASTE
    VK_DELETE, IMGED_CLEAR, VIRTKEY
    VK_LEFT, IMGED_LEFT, VIRTKEY, SHIFT
    VK_RIGHT, IMGED_RIGHT, VIRTKEY, SHIFT
    VK_UP, IMGED_UP, VIRTKEY, SHIFT
    VK_DOWN, IMGED_DOWN, VIRTKEY, SHIFT
    "^G", IMGED_GRID
    "2", IMGED_2x2, VIRTKEY, CONTROL
    "3", IMGED_3x3, VIRTKEY, CONTROL
    "4", IMGED_4x4, VIRTKEY, CONTROL
    "5", IMGED_5x5, VIRTKEY, CONTROL
    "^K", IMGED_SQUARE
    "^S", IMGED_SETTINGS
    "^M", IMGED_MAXIMIZE
    VK_F6, IMGED_TOOLBAR, VIRTKEY
    VK_F7, IMGED_COLOR, VIRTKEY
    VK_F8, IMGED_VIEW, VIRTKEY
    VK_F5, IMGED_CASCADE, VIRTKEY, SHIFT
    VK_F4, IMGED_TILE, VIRTKEY, SHIFT
END

#undef pick
#undef sp
#define pick( a, b, c ) a, [ b ]
#define sp( a, b ) a
STRINGTABLE
BEGIN
    #include "rcstrmsg.gh"
    #include "uistrmsg.gh"
END

#ifdef __NT__
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST MOVEABLE PURE "appmanif.xml"
#endif

#include "wimgedit.men"

#include "selimg.dlg"
#include "selcolor.dlg"
#include "settings.dlg"
#include "about.dlg"
#include "title.dlg"
