#include "msg.h"
#include "wreslang.h"

STRINGTABLE
BEGIN

#define pick(code,texte,textj) (code + RLE_ENGLISH * MSG_LANG_SPACING), texte
#include "wdis.msg"
#include "usage.gh"
#undef pick

#define pick(code,texte,textj) (code + RLE_JAPANESE * MSG_LANG_SPACING), textj
#include "wdis.msg"
#include "usagej.gh"
#undef pick

END
