#include <windows.h>
#include "sys_rc.h"
#include "rcstr.gh"
#include "uistr.gh"
#include "about.h"
#include "banner.h"
#include "w.rc"

"WStringAccelTable" ACCELERATORS
BEGIN
    VK_DELETE,  IDM_STR_DELETE, VIRTKEY
    VK_F1,      IDM_HELP,       VIRTKEY
    "X",        IDM_STR_CUT,    CONTROL, VIRTKEY
    "C",        IDM_STR_COPY,   CONTROL, VIRTKEY
    "V",        IDM_STR_PASTE,  CONTROL, VIRTKEY
END

/* icons */
"APPLICON"  ICON "wstring.ico"

/* about box bitmap */
"AboutLogo" BITMAP MOVEABLE DISCARDABLE "logo.bmp"

/* ribbon bitmaps */
"Clear"     BITMAP "clear.bmp"
"New"       BITMAP "new.bmp"
"Open"      BITMAP "open.bmp"
"Save"      BITMAP "save.bmp"

"Cut"       BITMAP "cut.bmp"
"Copy"      BITMAP "copy.bmp"
"Paste"     BITMAP "paste.bmp"

"InsertKey" BITMAP "inskey.bmp"
"DeleteKey" BITMAP "delkey.bmp"

#undef pick
#undef sp
#define pick( a, b ) a, b
#define sp( a, b ) a

STRINGTABLE
BEGIN
    #include "rcstrmsg.gh"
    #include "uistrmsg.gh"
END

#include "wstring.men"

#include "stredit.dlg"
#include "about.dlg"
