#include "macro.h"
#include "wreslang.h"

#define MSG_LANG_BASE 0
#include "errmsg.grc"
#undef MSG_LANG_BASE
#define MSG_LANG_BASE (RLE_JAPANESE*MSG_LANG_SPACING)
#include "jerrmsg.grc"

#if _CPU == 8086 || _CPU == 386

#define _USE_RESOURCES_
#include "asmerr.h"

STRINGTABLE
BEGIN
    #define pick(c,e,j) (c + RLE_ENGLISH * MSG_LANG_SPACING), [ e ]

    #include "../h/asmshare.msg"

    #undef pick

    #define pick(c,e,j) (c + RLE_JAPANESE * MSG_LANG_SPACING), [ j ]

    #include "../h/asmshare.msg"

    #undef pick
END

#endif
