/*
 *  linker information, warning messages and error messages
 */

#include "wlnkmsg.h"

STRINGTABLE
BEGIN
  #if defined( JAPANESE )
    #define pick(c,e,j) c, [ j ]
  #else
    #define pick(c,e,j) c, [ e ]
  #endif

    #include "lnkerror.msg"

    #undef pick
END
