/* UTF-8 encoding, ¥ */

/*************************************************************************/
/*                          WLINK RESOURCE FILE                          */
/*************************************************************************/

#include "wlnkmsg.rh"
#include "wreslang.rh"

STRINGTABLE
BEGIN
    #define pick(c,e,j) (c + RLE_ENGLISH * MSG_LANG_SPACING), [ e ]

    #include "lnkerror.msg"
    #include "wlink.msg"
    #include "rc.msg"

    #undef pick

    #define pick(c,e,j) (c + RLE_JAPANESE * MSG_LANG_SPACING), [ j ]

    #include "lnkerror.msg"
    #include "wlink.msg"
    #include "rc.msg"

    #undef pick
END
