#include <windows.h>

VS_VERSION_INFO VERSIONINFO
    FILEVERSION 1,0,$h,$l
    PRODUCTVERSION $j,$n,$h,$l
    FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
    FILEFLAGS 0x0L
    FILEOS VOS_NT_WINDOWS32
    FILETYPE VFT_DLL
    FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"        /* US English, Unicode */
        BEGIN
            VALUE "CompanyName", "Watcom International Corp.\0"
            VALUE "FileDescription", "Watcom Linker (DLL)\0"
            VALUE "FileVersion", "$j.$n$1\0"
            VALUE "InternalName", "Linker\0"
            VALUE "LegalCopyright", "Copyright \251 Watcom International Corp. 1995\0"
            VALUE "OriginalFilename", "$0\0"
            VALUE "ProductName", "Watcom C++\0"
            VALUE "ProductVersion", "$j.$n$1\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200        /* US English, Unicode */
    END
END

