#include <windows.h>
#include "rcstr.grh"
#include "progress.h"

#include "progress.dlg"

STRINGTABLE
BEGIN
    #define pick(c,e) c, [ e ]

    #include "rcstrmsg.gh"

    #undef pick
END

"APPLICON" ICON DISCARDABLE "uninstal.ico"
