#include "windows.h"
#include "genwin.h"

GenericIcon ICON generic.ico
GenericMenu MENU
BEGIN
    POPUP "&Info"
    BEGIN
        MENUITEM "&Command line specified...", MENU_CMDSTR
        MENUITEM "&About Generic...", MENU_ABOUT
    END
END

AboutBox DIALOG 22, 17, 144, 75
        STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
        CAPTION "About WATCOM Generic"
        BEGIN
            CTEXT "WATCOM Generic Program for Windows", -1, 0,  5, 144, 8
            CTEXT "Version 1.0", -1, 0, 14, 144, 8
            DEFPUSHBUTTON "OK", IDOK, 53, 59, 32, 14, WS_GROUP
            ICON "GenericIcon", -1, 15,15,40,40
        END
