#include "dummy.h"
#include "windows.h"
#include "ver.h"

VS_VERSION_INFO VERSIONINFO
PRODUCTVERSION  ( DUM_VER_MS >> 4 ),  ( DUM_VER_MS & 0xFFFF ),
                ( DUM_VER_LS >> 4 ),  ( DUM_VER_LS & 0xFFFF )
FILEOS          VOS_DOS_WINDOWS32
FILETYPE        VFT_APP

BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "WATCOM INTERNATIONAL\0"
      VALUE "FileDescription", "Dummy Process for Dr NT\0"
      VALUE "LegalCopyright", "Copyright WATCOM International 1993\0"
    END
  END
END

#undef pick
#define pick( a, b ) a, b
STRINGTABLE
BEGIN
    #include "dummy.msg"
END

