#include "menu.h"
#include "mark.h"
#include "procctl.h"
#include "about.h"
#include "intdlg.h"
#include "notelog.h"
#include "stat.h"
#include "thrdctl.h"
#include "priority.h"
#include "retcode.h"
#include "log.h"
#include "end.h"
#include "memory.h"
#include "memwnd.h"
#include "memdmp.h"
#include "rcstr.h"
#include "dipload.h"

"APPLICON" ICON "..\\drwatcom.ico"
"ALERTICON" ICON "..\\sadicon.ico"

"APPLMENU" MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Save...", MENU_SAVE
        MENUITEM "Save &As...", MENU_SAVE_AS
        MENUITEM SEPARATOR
        MENUITEM "&Clear List", MENU_CLEAR
        MENUITEM "&Mark", MENU_MARK
        MENUITEM "Set &Font", MENU_FONT
        MENUITEM SEPARATOR
        MENUITEM "Show &DIP status", MENU_SHOW_DIP_STATUS
        MENUITEM SEPARATOR
        MENUITEM "&Exit", MENU_EXIT
    END
    POPUP "&Log"
    BEGIN
        MENUITEM "&Log Current State", MENU_LOG_CURRENT_STATE
        MENUITEM "&View Log", MENU_LOG_VIEW
        MENUITEM "&Erase Log File", MENU_ERASE_LOG_FILE
        MENUITEM SEPARATOR
        MENUITEM "L&og Options ...", MENU_LOG_OPTIONS
    END
    POPUP "&Process"
    BEGIN
        MENUITEM "&Add New Process", MENU_NEW_TASK
        MENUITEM "A&uto Add Processes", MENU_AUTO_ATTATCH
//      MENUITEM "Add &Running Process", MENU_ADD_RUNNING
        MENUITEM "&Process Control...", MENU_TASK_CTL
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About...", MENU_ABOUT
    END
END

#undef pick
#define pick( a, b ) a, b
STRINGTABLE
BEGIN
    #include "rcstr.msg"
END

#include "procctl.dlg"
#include "about.dlg"
#include "mark.rc"
#include "intdlg.dlg"
#include "stat.dlg"
#include "notelog.dlg"
#include "thrdctl.dlg"
#include "priority.dlg"
#include "retcode.dlg"
#include "log.dlg"
#include "end.dlg"
#include "memory.dlg"
#include "memwnd.rc"
#include "memdmp.dlg"
#include "dipload.dlg"
