#include "msg.h"
#include "wreslang.h"

STRINGTABLE
BEGIN
    #define pick(c,e,j) (c + RLE_ENGLISH * MSG_LANG_SPACING), [ e ]

    #include "../rc/wic.msg"
    #include "usagee.gh"

    #undef pick

    #define pick(c,e,j) (c + RLE_JAPANESE * MSG_LANG_SPACING), [ j ]

    #include "../rc/wic.msg"
    #include "usagej.gh"

    #undef pick
END
