#include "heapwalk.h"
#include "about.h"
#include "banner.h"

#undef pick
#undef sp
#ifdef JAPANESE
 #define pick( a, b, c ) a, c
 #define sp( s1, s2 ) s2
#else
 #define pick( a, b, c ) a, b
 #define sp( s1, s2 ) s1
#endif

"APPLICON" ICON "wheapwlk.ico"

#include "menu.rc"

#undef pick
#define pick( a, b, c )  a b
STRINGTABLE PRELOAD DISCARDABLE
BEGIN
    #include "rcstrmsg.gh"
    #include "uistrmsg.gh"
END

NUMBER_OF_STRINGS RCDATA
BEGIN
    STR_THIS_IS_THE_LAST_STRING_IN_THE_LIST
END

#include "heapwlk.dlg"
#include "memman.dlg"
#include "heapinfo.dlg"
#include "lclinfo.dlg"
#include "menu.dlg"
#include "add.dlg"
#include "alloc.dlg"
#include "freen.dlg"
#include "code.dlg"
#include "config.dlg"
//#include "exsort.dlg"
#include "memwnd.rc"
#include "about.dlg"
