/dos/*.h
/dos/algorith
/dos/bitset
/dos/cassert
/dos/cctype
/dos/cerrno
/dos/cfloat
/dos/ciso646
/dos/climits
/dos/clocale
/dos/cmath
/dos/common.cnv
/dos/complex
/dos/csetjmp
/dos/csignal
/dos/cstdarg
/dos/cstddef
/dos/cstdint
/dos/cstdio
/dos/cstdlib
/dos/cstring
/dos/ctime
/dos/cwchar
/dos/cwctype
/dos/deque
/dos/exceptio
/dos/fstream
/dos/function
/dos/iomanip
/dos/ios
/dos/iosfwd
/dos/iostream
/dos/istream
/dos/iterator
/dos/limits
/dos/list
/dos/locale
/dos/map
/dos/memory
/dos/new
/dos/numeric
/dos/ostream
/dos/queue
/dos/random
/dos/set
/dos/slist
/dos/sstream
/dos/stack
/dos/stdexcep
/dos/streambu
/dos/string
/dos/string.hpp
/dos/strstrea
/dos/type_tra
/dos/typeinfo
/dos/unordere
/dos/utility
/dos/valarray
/dos/vector
/dos/sys/*.h

/linux/*.h
/linux/algorith
/linux/bitset
/linux/cassert
/linux/cctype
/linux/cerrno
/linux/cfloat
/linux/ciso646
/linux/climits
/linux/clocale
/linux/cmath
/linux/common.cnv
/linux/complex
/linux/csetjmp
/linux/csignal
/linux/cstdarg
/linux/cstddef
/linux/cstdint
/linux/cstdio
/linux/cstdlib
/linux/cstring
/linux/ctime
/linux/cwchar
/linux/cwctype
/linux/deque
/linux/exceptio
/linux/fstream
/linux/function
/linux/iomanip
/linux/ios
/linux/iosfwd
/linux/iostream
/linux/istream
/linux/iterator
/linux/limits
/linux/list
/linux/locale
/linux/map
/linux/memory
/linux/new
/linux/numeric
/linux/ostream
/linux/queue
/linux/random
/linux/set
/linux/slist
/linux/sstream
/linux/stack
/linux/stdexcep
/linux/streambu
/linux/string
/linux/string.hpp
/linux/strstrea
/linux/type_tra
/linux/typeinfo
/linux/unordere
/linux/utility
/linux/valarray
/linux/vector
/linux/arpa/*.h
/linux/netinet/*.h
/linux/sys/*.h

