#include  "os2.h"
rcinclude "img_os2.h"
rcinclude "dialogs.h"
rcinclude "settings.h"
rcinclude "menuids.h"
rcinclude "selimg.dlg"
rcinclude "settings.dlg"
rcinclude "selcolor.dlg"

//ICON  ICON_ID         test.ico
ICON    ICON_ID         app_pm.ico

POINTER POINT_CUR       pasteptr.ptr
POINTER PENCILCURSOR    pencil.ptr
POINTER CROSSHAIRSCUR   crosshrs.ptr
POINTER FILLCURSOR      fill.ptr
POINTER PAINTBRUSHCUR   paintb.ptr
POINTER HOTSPOTCUR      hotspot.ptr

BITMAP  OPENBMP         open.bmp
BITMAP  NEWBMP          new.bmp
BITMAP  SAVEBMP         save.bmp
BITMAP  GRIDBMP         grid.bmp
BITMAP  GRIDDBMP        gridd.bmp
BITMAP  MAXIMIZEBMP     maxmize.bmp
BITMAP  MAXIMIZEDBMP    maxmized.bmp
BITMAP  CUTBMP          cut.bmp
BITMAP  COPYBMP         copy.bmp
BITMAP  PASTEBMP        paste.bmp
BITMAP  UNDOBMP         undo.bmp
BITMAP  REDOBMP         redo.bmp
BITMAP  CLEARBMP        clear.bmp
BITMAP  SNAPBMP         snap.bmp
BITMAP  RIGHTBMP        right.bmp
BITMAP  LEFTBMP         left.bmp
BITMAP  UPBMP           up.bmp
BITMAP  DOWNBMP         down.bmp
BITMAP  HFLIPBMP        fliph.bmp
BITMAP  HFLIPDBMP       fliphd.bmp
BITMAP  VFLIPBMP        flipv.bmp
BITMAP  VFLIPDBMP       flipvd.bmp
BITMAP  CLROTBMP        rotcl.bmp
BITMAP  CLROTDBMP       rotcld.bmp
BITMAP  CCROTBMP        rotcc.bmp
BITMAP  CCROTDBMP       rotccd.bmp

BITMAP  PENCIL          pencil.bmp
BITMAP  PENCILD         pencild.bmp
BITMAP  LINE            line.bmp
BITMAP  LINED           lined.bmp
BITMAP  CIRCLEO         circleo.bmp
BITMAP  CIRCLEOD        circleod.bmp
BITMAP  CIRCLEF         circlef.bmp
BITMAP  CIRCLEFD        circlefd.bmp
BITMAP  RECTO           recto.bmp
BITMAP  RECTOD          rectod.bmp
BITMAP  RECTF           rectf.bmp
BITMAP  RECTFD          rectfd.bmp
BITMAP  FILL            fill.bmp
BITMAP  FILLD           filld.bmp
BITMAP  BRUSH           brush.bmp
BITMAP  BRUSHD          brushd.bmp
BITMAP  CLPRECT         clprect.bmp
BITMAP  CLPRECTD        clprectd.bmp
BITMAP  HOTSPOT         hotspot.bmp
BITMAP  HOTSPOTD        hotspotd.bmp

MENU    MENU_ID PRELOAD
BEGIN
    SUBMENU "~File", IMGED_FILE
    BEGIN
        MENUITEM "~New ...\tF2", IMGED_NEW, MIS_TEXT
        MENUITEM "~Open ...\tShift+F2", IMGED_OPEN, MIS_TEXT
        MENUITEM "~Save\tF3", IMGED_SAVE, MIS_TEXT
        MENUITEM "Save ~As ...\tShift+F3", IMGED_SAVE_AS, MIS_TEXT
        MENUITEM "", -1, MIS_SEPARATOR
        MENUITEM "~Close\tShift+F10", IMGED_CLOSE, MIS_TEXT
        MENUITEM "Close ~All\tCtrl+F10", IMGED_CLOSEALL, MIS_TEXT
        MENUITEM "", -1, MIS_SEPARATOR
        MENUITEM "E~xit\tAlt+F4", IMGED_EXIT, MIS_TEXT
    END
    SUBMENU "~Edit", IMGED_EDIT
    BEGIN
        MENUITEM "~Undo\tCtrl+U", IMGED_UNDO, MIS_TEXT
        MENUITEM "~Redo\tCtrl+R", IMGED_REDO, MIS_TEXT
        MENUITEM "R~estore", IMGED_REST, MIS_TEXT
        MENUITEM "", -1, MIS_SEPARATOR
        MENUITEM "Cu~t\tCtrl+X", IMGED_CUT, MIS_TEXT
        MENUITEM "~Copy\tCtrl+C", IMGED_COPY, MIS_TEXT
        MENUITEM "~Paste\tCtrl+V", IMGED_PASTE, MIS_TEXT
        MENUITEM "", -1, MIS_SEPARATOR
        MENUITEM "~Snap Bitmap", IMGED_SNAP, MIS_TEXT
        MENUITEM "C~lear\tDel", IMGED_CLEAR, MIS_TEXT
        MENUITEM "", -1, MIS_SEPARATOR
        SUBMENU "S~hift", IMGED_SHIFT
        BEGIN
            MENUITEM "~Right\tShift+Right", IMGED_RIGHT, MIS_TEXT
            MENUITEM "~Left\tShift+Left", IMGED_LEFT, MIS_TEXT
            MENUITEM "~Up\tShift+Up", IMGED_UP, MIS_TEXT
            MENUITEM "~Down\tShift+Down", IMGED_DOWN, MIS_TEXT
        END
        SUBMENU "~Flip", IMGED_FLIP
        BEGIN
            MENUITEM "Over ~Horizontal axis", IMGED_FLIPHORZ, MIS_TEXT
            MENUITEM "Over ~Vertical axis", IMGED_FLIPVERT, MIS_TEXT
        END
        SUBMENU "~Rotate", IMGED_ROTATE
        BEGIN
            MENUITEM "~Counter Clockwise", IMGED_ROTATECC, MIS_TEXT
            MENUITEM "C~lockwise", IMGED_ROTATECL, MIS_TEXT
        END
        MENUITEM "", -1, MIS_SEPARATOR
        MENUITEM "~Add an Icon ...", IMGED_NEWIMG, MIS_TEXT
        MENUITEM "Select ~Icon Image ...", IMGED_SELIMG, MIS_TEXT
        MENUITEM "~Delete an Icon ...", IMGED_DELIMG, MIS_TEXT
    END
    SUBMENU "~Options", IMGED_OPTIONS
    BEGIN
        MENUITEM "~Current Settings ...\tCtrl+S", IMGED_SETTINGS, MIS_TEXT
        MENUITEM "", -1, MIS_SEPARATOR
        MENUITEM "~Grid\tCtrl+G", IMGED_GRID, MIS_TEXT
        MENUITEM "~Keep Grid Square\tCtrl+K", IMGED_SQUARE, MIS_TEXT
        MENUITEM "~Maximize Current Image\tCtrl+M", IMGED_MAXIMIZE, MIS_TEXT
        MENUITEM "", -1, MIS_SEPARATOR
        SUBMENU "~Brush Size", IMGED_BS
        BEGIN
            MENUITEM "~2x2\tCtrl+2", IMGED_2x2, MIS_TEXT
            MENUITEM "~3x3\tCtrl+3", IMGED_3x3, MIS_TEXT
            MENUITEM "~4x4\tCtrl+4", IMGED_4x4, MIS_TEXT
            MENUITEM "~5x5\tCtrl+5", IMGED_5x5, MIS_TEXT
        END
        MENUITEM "Change ~Image Size ...", IMGED_SIZE, MIS_TEXT
        MENUITEM "", -1, MIS_SEPARATOR
        MENUITEM "Show ~Tool Window\tF6", IMGED_TOOLBAR, MIS_TEXT
        MENUITEM "Show Color ~Palette\tF7", IMGED_COLOR, MIS_TEXT
        MENUITEM "Show ~View Window(s)\tF8", IMGED_VIEW, MIS_TEXT
    END
    SUBMENU "~Palette", IMGED_PAL
    BEGIN
        MENUITEM "~Edit Current Color ...", IMGED_CEDIT, MIS_TEXT
        MENUITEM "~Reset Current Palette", IMGED_CRESET, MIS_TEXT
        MENUITEM "~Set Screen Color ...", IMGED_CSCREEN, MIS_TEXT
        MENUITEM "", -1, MIS_SEPARATOR
        MENUITEM "~Load Color Palette ...", IMGED_LCOLOR, MIS_TEXT
        MENUITEM "Sa~ve Color Palette ...", IMGED_SCOLOR, MIS_TEXT
        MENUITEM "Res~tore Color Palette", IMGED_RCOLOR, MIS_TEXT
    END
    SUBMENU "~Tools", IMGED_TOOLS
    BEGIN
        MENUITEM "~Pencil", IMGED_FREEHAND, MIS_TEXT
        MENUITEM "~Line", IMGED_LINE, MIS_TEXT
        SUBMENU "~Ellipse", IMGED_ELLIPSE
        BEGIN
            MENUITEM "~Outline", IMGED_CIRCLEO, MIS_TEXT
            MENUITEM "~Fill", IMGED_CIRCLEF, MIS_TEXT
        END
        SUBMENU "~Rectangle", IMGED_RECTANGLE
        BEGIN
            MENUITEM "~Outline", IMGED_RECTO, MIS_TEXT
            MENUITEM "~Fill", IMGED_RECTF, MIS_TEXT
        END
        MENUITEM "~Fill", IMGED_FILL, MIS_TEXT
        MENUITEM "~Brush", IMGED_BRUSH, MIS_TEXT
        MENUITEM "~Select Clip Region", IMGED_CLIP, MIS_TEXT
        MENUITEM "~Hot Spot", IMGED_HOTSPOT, MIS_TEXT
    END
    SUBMENU "~Windows", IMGED_WINDOWS
    BEGIN
        MENUITEM "~Arrange Icons", IMGED_ARRANGE, MIS_TEXT
        MENUITEM "~Tile Windows\tShift+F4", IMGED_TILE, MIS_TEXT
        MENUITEM "~Cascade Windows\tShift+F5", IMGED_CASCADE, MIS_TEXT
    END
    SUBMENU "~Help", IMGED_HELP
    BEGIN
        MENUITEM "~About ...", IMGED_ABOUT, MIS_TEXT
    END
END

