/* UTF-8 encoding, ¥ */

#include "gui.rc"

STRINGTABLE
BEGIN
#ifdef JAPANESE
    #define pick( a,b,c )   AUI_LITERAL_ ##a, [ c ]
#else
    #define pick( a,b,c )   AUI_LITERAL_ ##a, [ b ]
#endif
    #include "aui.msg"
    #undef pick
END

#ifdef JAPANESE
#include "japrx.dlg"
#include "japsrch.dlg"
#include "japsrcha.dlg"
#else
#include "dlgrx.dlg"
#include "dlgsrch.dlg"
#include "dlgsrcha.dlg"
#endif
