/* UTF-8 encoding, ¥ */

#include <windows.h>
#include "resource.rh"

#ifdef __NT__
#include "ntmanif.rc"
#endif

#ifdef __NT__
#include "exever.grc"
#endif

ApplIcon    ICON     PRELOAD FIXED setup.ico
ICN_DISK    ICON     PRELOAD FIXED disk.ico

#include "splash.rc"

#include "gui.rc"
