/* UTF-8 encoding, ¥ */

#include <windows.h>
#include "resource.rh"

#if defined( __NT__ ) && defined( RESX_NTMANIF )
#include "ntmanif.rc"
#endif

#if defined( __NT__ ) && defined( RESX_NTVER )
#include "exever.grc"
#endif

ApplIcon    ICON     PRELOAD FIXED setup.ico
ICN_DISK    ICON     PRELOAD FIXED disk.ico

#include "splash.rc"

#include "gui.rc"
