/* UTF-8 encoding, ¥ */

#include "wasmmsg.rh"
#include "wreslang.rh"

STRINGTABLE
BEGIN
    #define pick(c,e,j) (c + RLE_ENGLISH * MSG_LANG_SPACING), [ e ]

    #include "../h/wasmc.msg"
  #if defined( _STANDALONE_ )
    #include "../h/wasms.msg"

    #include "usage.gh"
  #endif

    #undef pick

    #define pick(c,e,j) (c + RLE_JAPANESE * MSG_LANG_SPACING), [ j ]

    #include "../h/wasmc.msg"
  #if defined( _STANDALONE_ )
    #include "../h/wasms.msg"

    #include "usage.gh"
  #endif

    #undef pick
END
