#if defined( __OS2__ )
#define BITMAPX(x) BITMAP BITMAP_SPLASH x
#else
#define BITMAPX(x) BITMAP_SPLASH BITMAP x
#endif

#if defined( CSETUP )
BITMAPX( "wcc.bmp" )
#elif defined( JCSETUP )
BITMAPX( "wcc.bmp" )
#elif defined( F77SETUP )
BITMAPX( "f77.bmp" )
#elif defined( JFSETUP )
BITMAPX( "f77.bmp" )
#else
BITMAPX( "generic.bmp" )
#endif
