#include "errcod.h"

stringtable begin

    MS_OPT_LIST+MSG_LANG_BASE "generate a listing file"
    MS_OPT_PRINT+MSG_LANG_BASE "listing file to printer"
    MS_OPT_TYPE+MSG_LANG_BASE "listing file to terminal"
    MS_OPT_DISK+MSG_LANG_BASE "listing file to disk"
    MS_OPT_ERRFILE+MSG_LANG_BASE "generate an error file"
    MS_OPT_EXT+MSG_LANG_BASE "issue extension messages"
    MS_OPT_REFERENCE+MSG_LANG_BASE "issue unreferenced warning"
    MS_OPT_WARN+MSG_LANG_BASE "issue warning messages"
    MS_OPT_SHORT+MSG_LANG_BASE "INTEGER/LOGICAL size 2/1"
    MS_OPT_INCLIST+MSG_LANG_BASE "list INCLUDE files"
    MS_OPT_TERM+MSG_LANG_BASE "display diagnostic messages"
    MS_OPT_EXPLICIT+MSG_LANG_BASE "explicit typing required"
    MS_OPT_XLINE+MSG_LANG_BASE "extend line length"
    MS_OPT_DEBUG+MSG_LANG_BASE "/trace /bounds"
    MS_OPT_DEFINE+MSG_LANG_BASE "define macro"
    MS_OPT_EXTEND_FORMAT+MSG_LANG_BASE "relax FORMAT type checking"
    MS_OPT_WILD+MSG_LANG_BASE "relax wild branch checking"
    MS_OPT_SYNTAX+MSG_LANG_BASE "syntax check only"
    MS_OPT_DFLT_LIB+MSG_LANG_BASE "generate default libraries"
    MS_CGOPT_DB_LINE+MSG_LANG_BASE "line # debugging information"
    MS_CGOPT_DB_LOCALS+MSG_LANG_BASE "full debugging information"
    MS_OZOPT_O_CALL_RET+MSG_LANG_BASE "no call-ret optimizations"
    MS_OZOPT_O_DISABLE+MSG_LANG_BASE "disable optimizations"
    MS_OZOPT_O_INLINE+MSG_LANG_BASE "statement functions in-line"
    MS_OZOPT_O_LOOP+MSG_LANG_BASE "loop optimizations"
    MS_OZOPT_O_MATH+MSG_LANG_BASE "math optimizations"
    MS_OZOPT_O_NUMERIC+MSG_LANG_BASE "numerical optimizations"
    MS_OZOPT_O_VOLATILE+MSG_LANG_BASE "precision optimizations"
    MS_OZOPT_O_INSSCHED+MSG_LANG_BASE "instruction scheduling"
    MS_OZOPT_O_SPACE+MSG_LANG_BASE "space optimizations"
    MS_OZOPT_O_TIME+MSG_LANG_BASE "time optimizations"
    MS_OZOPT_O_X+MSG_LANG_BASE "/o[bp,i,l,k,m,r,t,do]"
    MS_CGOPT_DATA_THRESH+MSG_LANG_BASE "set data threshold"
    MS_OPT_AUTOMATIC+MSG_LANG_BASE "local variables on the stack"
    MS_OPT_DESCRIPTOR+MSG_LANG_BASE "pass character descriptors"
    MS_OPT_SAVE+MSG_LANG_BASE "SAVE local variables"
    MS_CGOPT_OBJ_NAME+MSG_LANG_BASE "name object file"
    MS_CGOPT_BW+MSG_LANG_BASE "default windowed application"
    MS_CGOPT_BM+MSG_LANG_BASE "multithread application"
    MS_CGOPT_BD+MSG_LANG_BASE "dynamic link library"
    MS_CTG_FILE_MANAGEMENT+MSG_LANG_BASE "*File Management Options*"
    MS_CTG_DIAGNOSTIC+MSG_LANG_BASE "*Diagnostic Options*"
    MS_CTG_DEBUGGING+MSG_LANG_BASE "*Debugging Options*"
    MS_CTG_MISC+MSG_LANG_BASE "*Miscellaneous Options*"
    MS_CTG_FPUOPTS+MSG_LANG_BASE "*Floating-Point Options*"
    MS_CTG_OPTIMIZATIONS+MSG_LANG_BASE "*Optimizations*"
    MS_CTG_MEMORY_MODELS+MSG_LANG_BASE "*Memory Models*"
    MS_CTG_CPU+MSG_LANG_BASE "*CPU Targets*"
    CL_CTG_COMPILE_AND_LINK+MSG_LANG_BASE "*Compile and Link Options*"
    CL_COMPILE_ONLY+MSG_LANG_BASE "compile only, no linking"
    CL_IGNORE_WFL+MSG_LANG_BASE "ignore WFL variable"
    CL_RUN_PROTECT+MSG_LANG_BASE "run protected mode compiler"
    CL_GENERATE_MAP+MSG_LANG_BASE "generate map file"
    CL_NAME_EXECUTABLE+MSG_LANG_BASE "name executable file"
    CL_KEEP_DIRECTIVE+MSG_LANG_BASE "keep directive file"
    CL_INCLUDE_DIRECTIVE+MSG_LANG_BASE "include directive file"
    CL_LINK_FOR_SYSTEM+MSG_LANG_BASE "link for specified system"
    CL_STACK_SIZE+MSG_LANG_BASE "set stack size"
    CL_LINKER_DIRECTIVES+MSG_LANG_BASE "additional linker directives"
    CL_OUT_OF_MEMORY+MSG_LANG_BASE "Out of memory"
    CL_ERROR_OPENING_TMP_FILE+MSG_LANG_BASE "Error: Unable to open temporary file"
    CL_UNABLE_TO_OPEN+MSG_LANG_BASE "Unable to open '%s1'"
    CL_UNABLE_TO_INVOKE_COMPILER+MSG_LANG_BASE "Error: Unable to invoke compiler"
    CL_BAD_COMPILE+MSG_LANG_BASE "Error: Compiler returned a bad status compiling '%s1'"
    CL_UNABLE_TO_INVOKE_LINKER+MSG_LANG_BASE "Error: Unable to invoke linker"
    CL_BAD_LINK+MSG_LANG_BASE "Error: Linker returned a bad status"
    CL_UNABLE_TO_FIND+MSG_LANG_BASE "Error: Unable to find '%s1'"
    MS_OPT_TRACE+MSG_LANG_BASE "generate run-time traceback"
    MS_OPT_BOUNDS+MSG_LANG_BASE "generate bounds checking"
    MS_CTG_DBCS+MSG_LANG_BASE "*Character Set Options*"
    MS_OPT_CHINESE+MSG_LANG_BASE "Chinese character set"
    MS_OPT_JAPANESE+MSG_LANG_BASE "Japanese character set"
    MS_OPT_KOREAN+MSG_LANG_BASE "Korean character set"
    MS_OPT_DEPENDENCY+MSG_LANG_BASE "generate file dependencies"
    MS_CTG_APPTYPE+MSG_LANG_BASE "*Application Type*"
    MS_OPT_RESOURCES+MSG_LANG_BASE "messages in resource file"
    MS_OPT_UNIT_6_CC+MSG_LANG_BASE "devices are carriage control"
    MS_OPT_QUIET+MSG_LANG_BASE "operate quietly"
    MS_OPT_BROWSE+MSG_LANG_BASE "generate browse information"
    MS_OPT_EXTEND_REAL+MSG_LANG_BASE "extend float-pt. precision"
    MS_OZOPT_O_UNROLL+MSG_LANG_BASE "loop optimizations/unrolling"
    MS_CGOPT_ALIGN+MSG_LANG_BASE "align COMMON segments"
    MS_OPT_LF_WITH_FF+MSG_LANG_BASE "LF with FF"
    MS_CGOPT_DI_WATCOM+MSG_LANG_BASE "WATCOM debugging information"
    MS_CGOPT_DI_DWARF+MSG_LANG_BASE "DWARF debugging information"
    MS_CGOPT_DI_CV+MSG_LANG_BASE "Codeview debugging info."
    CL_UNABLE_TO_INVOKE_CVPACK+MSG_LANG_BASE "Error: Unable to invoke CVPACK"
    CL_BAD_CVPACK+MSG_LANG_BASE "Error: CVPACK returned a bad status"
    MS_OZOPT_O_FASTDO+MSG_LANG_BASE "DO-variables do not overflow"
    MS_OPT_INCPATH+MSG_LANG_BASE "path for INCLUDE files"
    MS_OZOPT_O_BRANCH_PREDICTION+MSG_LANG_BASE "branch prediction"
    MS_CGOPT_MANGLE+MSG_LANG_BASE "mangle COMMON segment names"
    MS_OPT_PROMOTE+MSG_LANG_BASE "promote intrinsic arguments"
    MS_OPT_COMMA_SEP+MSG_LANG_BASE "allow comma separator"
    MS_OZOPT_O_SUPER_OPTIMAL+MSG_LANG_BASE "optimize at expense of compile-time"
    MS_OZOPT_O_FLOW_REG_SAVES+MSG_LANG_BASE "move register saves into flow graph"
    MS_OZOPT_O_LOOP_INVAR+MSG_LANG_BASE "loop optimizations/assume loop invariant float-pt. variables are initialized"

end
