#include "errcod.h"

stringtable begin

    MS_OPT_LIST+MSG_LANG_BASE "ﾘｽﾄﾌｧｲﾙの生成"
    MS_OPT_PRINT+MSG_LANG_BASE "ﾘｽﾄﾌｧｲﾙをﾌﾟﾘﾝﾀｰに出力"
    MS_OPT_TYPE+MSG_LANG_BASE "ﾘｽﾄﾌｧｲﾙを画面に出力"
    MS_OPT_DISK+MSG_LANG_BASE "ﾘｽﾄﾌｧｲﾙをﾃﾞｨｽｸに出力"
    MS_OPT_ERRFILE+MSG_LANG_BASE "ｴﾗｰﾌｧｲﾙの生成"
    MS_OPT_EXT+MSG_LANG_BASE "拡張ﾒｯｾｰｼﾞの出力"
    MS_OPT_REFERENCE+MSG_LANG_BASE "未参照警告ｴﾗｰの出力"
    MS_OPT_WARN+MSG_LANG_BASE "警告ｴﾗｰﾒｯｾｰｼﾞの出力"
    MS_OPT_SHORT+MSG_LANG_BASE "INTEGER/LOGICAL の大きさは 2/1"
    MS_OPT_INCLIST+MSG_LANG_BASE "INCLUDE ﾌｧｲﾙのﾘｽﾄ"
    MS_OPT_TERM+MSG_LANG_BASE "診断ﾒｯｾｰｼﾞの表示"
    MS_OPT_EXPLICIT+MSG_LANG_BASE "明示的な型が必要"
    MS_OPT_XLINE+MSG_LANG_BASE "行の長さを拡張"
    MS_OPT_DEBUG+MSG_LANG_BASE "/trace /bounds"
    MS_OPT_DEFINE+MSG_LANG_BASE "ﾏｸﾛ定義"
    MS_OPT_EXTEND_FORMAT+MSG_LANG_BASE "FORMAT ﾀｲﾌﾟﾁｪｯｸの緩和"
    MS_OPT_WILD+MSG_LANG_BASE "ﾜｲﾙﾄﾞﾌﾞﾗﾝﾁﾁｪｯｸの緩和"
    MS_OPT_SYNTAX+MSG_LANG_BASE "文法ﾁｪｯｸのみ"
    MS_OPT_DFLT_LIB+MSG_LANG_BASE "ﾃﾞﾌｫﾙﾄﾗｲﾌﾞﾗﾘの生成"
    MS_CPUOPT_FPC+MSG_LANG_BASE "浮動小数点呼び出し"
    MS_CPUOPT_FPI+MSG_LANG_BASE "80x87 命令のｴﾐｭﾚｰﾄ"
    MS_CPUOPT_FPI87+MSG_LANG_BASE "80x87 ｲﾝﾗｲﾝ命令"
    MS_CPUOPT_FP287+MSG_LANG_BASE "80287 命令"
    MS_CPUOPT_FP387+MSG_LANG_BASE "80387 命令"
    MS_CPUOPT_FP5+MSG_LANG_BASE "Pentium用最適化をする/fp3ｵﾌﾟｼｮﾝ"
    MS_CPUOPT_FPR+MSG_LANG_BASE "80x87 ﾘﾊﾞｰｽ互換"
    MS_CGOPT_DB_LINE+MSG_LANG_BASE "line # ﾃﾞﾊﾞｯｸﾞ情報"
    MS_CGOPT_DB_LOCALS+MSG_LANG_BASE "全てのﾃﾞﾊﾞｯｸﾞ情報"
    MS_OZOPT_O_CALL_RET+MSG_LANG_BASE "call-retの最適化なし"
    MS_OZOPT_O_DISABLE+MSG_LANG_BASE "最適化の禁止"
    MS_OZOPT_O_NEED_FRAME+MSG_LANG_BASE "ｽﾀｯｸﾌﾚｰﾑの最適化なし"
    MS_OZOPT_O_INLINE+MSG_LANG_BASE "ｲﾝﾗｲﾝ文関数"
    MS_OZOPT_O_LOOP+MSG_LANG_BASE "ﾙｰﾌﾟの最適化"
    MS_OZOPT_O_MATH+MSG_LANG_BASE "数学的最適化"
    MS_OZOPT_O_NUMERIC+MSG_LANG_BASE "数値の最適化"
    MS_OZOPT_O_VOLATILE+MSG_LANG_BASE "精度の最適化"
    MS_OZOPT_O_INSSCHED+MSG_LANG_BASE "命令ｽｹｼﾞｭｰﾘﾝｸﾞ"
    MS_OZOPT_O_SPACE+MSG_LANG_BASE "ｻｲｽﾞの最適化"
    MS_OZOPT_O_TIME+MSG_LANG_BASE "時間の最適化"
    MS_OZOPT_O_X+MSG_LANG_BASE "/o[bp,i,l,k,m,r,t,do]"
    MS_CGOPT_STACK_CHK+MSG_LANG_BASE "ｽﾀｯｸﾁｪｯｸ"
    MS_CGOPT_DATA_THRESH+MSG_LANG_BASE "ﾃﾞｰﾀｽﾚｯｼｮﾙﾄﾞの設定"
    MS_OPT_AUTOMATIC+MSG_LANG_BASE "ｽﾀｯｸ上のﾛｰｶﾙ変数"
    MS_OPT_DESCRIPTOR+MSG_LANG_BASE "文字指示子渡し"
    MS_OPT_SAVE+MSG_LANG_BASE "ﾛｰｶﾙ変数を待避(SAVE文と同じ)"
    MS_CGOPT_OBJ_NAME+MSG_LANG_BASE "ｵﾌﾞｼﾞｪｸﾄﾌｧｲﾙ名の指定"
    MS_CGOPT_CONST_CODE+MSG_LANG_BASE "ｺｰﾄﾞｾｸﾞﾒﾝﾄ内の定数"
    MS_CGOPT_M_MEDIUM+MSG_LANG_BASE "ﾐﾃﾞｨｱﾑﾒﾓﾘﾓﾃﾞﾙ"
    MS_CGOPT_M_LARGE+MSG_LANG_BASE "ﾗｰｼﾞﾒﾓﾘﾓﾃﾞﾙ"
    MS_CGOPT_M_HUGE+MSG_LANG_BASE "ﾋｭｰｼﾞﾒﾓﾘﾓﾃﾞﾙ"
    MS_CPUOPT_8086+MSG_LANG_BASE "8086 ﾌﾟﾛｾｯｻ命令を使用"
    MS_CPUOPT_80186+MSG_LANG_BASE "80186 ﾌﾟﾛｾｯｻ命令を使用"
    MS_CPUOPT_80286+MSG_LANG_BASE "80286 ﾌﾟﾛｾｯｻ命令を使用"
    MS_CGOPT_BW+MSG_LANG_BASE "ﾃﾞﾌｫﾙﾄｳｨﾝﾄﾞｳｱﾌﾟﾘｹｰｼｮﾝ"
    MS_CPUOPT_80386+MSG_LANG_BASE "80386 ﾌﾟﾛｾｯｻ命令を使用"
    MS_CPUOPT_80486+MSG_LANG_BASE "80486用最適化をする/3ｵﾌﾟｼｮﾝ"
    MS_CPUOPT_80586+MSG_LANG_BASE "Pentium用最適化をする/3ｵﾌﾟｼｮﾝ"
    MS_CGOPT_SEG_REGS+MSG_LANG_BASE "ｾｸﾞﾒﾝﾄﾚｼﾞｽﾀの待避/復帰"
    MS_CGOPT_FS_FLOATS+MSG_LANG_BASE "FSを固定しない"
    MS_CGOPT_GS_FLOATS+MSG_LANG_BASE "GSを固定しない"
    MS_CGOPT_SS_FLOATS+MSG_LANG_BASE "SSはﾃﾞﾌｫﾙﾄのﾃﾞｰﾀｾｸﾞﾒﾝﾄでない"
    MS_CGOPT_WINDOWS+MSG_LANG_BASE "ｳｨﾝﾄﾞｳｽﾞ用ｺｰﾄﾞ生成"
    MS_CTG_FILE_MANAGEMENT+MSG_LANG_BASE "*ﾌｧｲﾙﾏﾈｰｼﾞﾒﾝﾄｵﾌﾟｼｮﾝ*"
    MS_CTG_DIAGNOSTIC+MSG_LANG_BASE "*診断ｵﾌﾟｼｮﾝ*"
    MS_CTG_DEBUGGING+MSG_LANG_BASE "*ﾃﾞﾊﾞｯｸﾞｵﾌﾟｼｮﾝ*"
    MS_CTG_MISC+MSG_LANG_BASE "*その他のｵﾌﾟｼｮﾝ*"
    MS_CTG_FPUOPTS+MSG_LANG_BASE "*浮動小数点ｵﾌﾟｼｮﾝ*"
    MS_CTG_OPTIMIZATIONS+MSG_LANG_BASE "*最適化*"
    MS_CTG_MEMORY_MODELS+MSG_LANG_BASE "*ﾒﾓﾘﾓﾃﾞﾙ*"
    MS_CTG_CPU+MSG_LANG_BASE "*CPU ﾀｰｹﾞｯﾄ*"
    CL_CTG_COMPILE_AND_LINK+MSG_LANG_BASE "*ｺﾝﾊﾟｲﾙ/ﾘﾝｸｵﾌﾟｼｮﾝ*"
    CL_USAGE_LINE+MSG_LANG_BASE "使用方法: wfl {- or /<option> | <file>}"
    CL_COMPILE_ONLY+MSG_LANG_BASE "ｺﾝﾊﾟｲﾙのみ, ﾘﾝｸは行わない"
    CL_IGNORE_WFL+MSG_LANG_BASE "WFL環境変数を無視"
    CL_RUN_PROTECT+MSG_LANG_BASE "ﾌﾟﾛﾃｸﾄﾓｰﾄﾞｺﾝﾊﾟｲﾗｰの実行"
    CL_GENERATE_MAP+MSG_LANG_BASE "ﾏｯﾌﾟﾌｧｲﾙの生成"
    CL_NAME_EXECUTABLE+MSG_LANG_BASE "実行ファイル名"
    CL_KEEP_DIRECTIVE+MSG_LANG_BASE "擬似命令ﾌｧｲﾙの保持"
    CL_INCLUDE_DIRECTIVE+MSG_LANG_BASE "擬似命令ﾌｧｲﾙのｲﾝｸﾙｰﾄﾞ"
    CL_LINK_FOR_OS2+MSG_LANG_BASE "OS/2 ﾌﾟﾛﾃｸﾄﾓｰﾄﾞ用ﾘﾝｸ"
    CL_LINK_FOR_DOS+MSG_LANG_BASE "DOS ﾘｱﾙﾓｰﾄﾞ用ﾘﾝｸ"
    CL_LINK_FOR_SYSTEM+MSG_LANG_BASE "指定ｼｽﾃﾑ用ﾘﾝｸ"
    CL_STACK_SIZE+MSG_LANG_BASE "ｽﾀｯｸｻｲｽﾞの設定"
    CL_LINKER_DIRECTIVES+MSG_LANG_BASE "ﾘﾝｶｰ擬似命令の追加"
    CL_OUT_OF_MEMORY+MSG_LANG_BASE "ﾒﾓﾘ不足"
    CL_ERROR_OPENING_TMP_FILE+MSG_LANG_BASE "ｴﾗｰ : ﾃﾝﾎﾟﾗﾘﾌｧｲﾙがｵｰﾌﾟﾝできない"
    CL_UNABLE_TO_OPEN+MSG_LANG_BASE "'%s1'がｵｰﾌﾟﾝできない"
    CL_UNABLE_TO_INVOKE_COMPILER+MSG_LANG_BASE "ｴﾗｰ : ｺﾝﾊﾟｲﾗｰが起動できない"
    CL_BAD_COMPILE+MSG_LANG_BASE "ｴﾗｰ : '%s1'ｺﾝﾊﾟｲﾙ中にｺﾝﾊﾟｲﾗが不正なｽﾃｰﾀｽを返した"
    CL_UNABLE_TO_INVOKE_LINKER+MSG_LANG_BASE "ｴﾗｰ : ﾘﾝｶｰが起動できない"
    CL_BAD_LINK+MSG_LANG_BASE "ｴﾗｰ : ﾘﾝｶｰが不正なｽﾃｰﾀｽを返した"
    CL_UNABLE_TO_FIND+MSG_LANG_BASE "ｴﾗｰ : '%s1'が見つからない"
    MS_OPT_TRACE+MSG_LANG_BASE "ﾗﾝﾀｲﾑﾄﾚｰｽﾊﾞｯｸの生成"
    MS_OPT_BOUNDS+MSG_LANG_BASE "境界ﾁｪｯｸの生成"
    MS_CTG_DBCS+MSG_LANG_BASE "*文字ｾｯﾄｵﾌﾟｼｮﾝ*"
    MS_OPT_CHINESE+MSG_LANG_BASE "中国語文字ｾｯﾄ"
    MS_OPT_JAPANESE+MSG_LANG_BASE "日本語文字ｾｯﾄ"
    MS_OPT_KOREAN+MSG_LANG_BASE "韓国語文字ｾｯﾄ"
    MS_OPT_DEPENDENCY+MSG_LANG_BASE "ﾌｧｲﾙ依存性情報の生成"
    MS_CTG_APPTYPE+MSG_LANG_BASE "*ｱﾌﾟﾘｹｰｼｮﾝﾀｲﾌﾟ*"
    MS_OPT_RESOURCES+MSG_LANG_BASE "ﾘｿｰｽﾌｧｲﾙ内のﾒｯｾｰｼﾞ"
    MS_OPT_UNIT_6_CC+MSG_LANG_BASE "装置はｷｬﾘｯｼﾞ制御されます"
    MS_OPT_QUIET+MSG_LANG_BASE "起動ﾒｯｾｰｼﾞを表示しない"
    MS_OPT_BROWSE+MSG_LANG_BASE "ﾌﾞﾗｳｽﾞ情報の生成"
    MS_OPT_EXTEND_REAL+MSG_LANG_BASE "拡張浮動小数点数精度"
    MS_OZOPT_O_UNROLL+MSG_LANG_BASE "ﾙｰﾌﾟ最適化/ｱﾝﾛｰﾘﾝｸﾞ"
    MS_CGOPT_ALIGN+MSG_LANG_BASE "COMMONｾｸﾞﾒﾝﾄの整合"
    MS_OPT_LF_WITH_FF+MSG_LANG_BASE "FF付きLF"
    MS_CGOPT_DI_WATCOM+MSG_LANG_BASE "WATCOMﾃﾞﾊﾞｯｸﾞ情報"
    MS_CGOPT_DI_DWARF+MSG_LANG_BASE "DWARFﾃﾞﾊﾞｯｸﾞ情報"
    MS_CGOPT_DI_CV+MSG_LANG_BASE "Codeviewﾃﾞﾊﾞｯｸﾞ情報"
    CL_UNABLE_TO_INVOKE_CVPACK+MSG_LANG_BASE "ｴﾗｰ: CVPACKを起動できません"
    CL_BAD_CVPACK+MSG_LANG_BASE "Error: CVPACKが不正なｽﾃｰﾀｽを返しました"
    MS_OZOPT_O_FASTDO+MSG_LANG_BASE "DO変数がｵｰﾊﾞｰﾌﾛｰしません"
    MS_OPT_INCPATH+MSG_LANG_BASE "INCLUDEﾌｧｲﾙ用のﾊﾟｽ"
    MS_CPUOPT_FPD+MSG_LANG_BASE "Pentium FDIV命令のﾁｪｯｸを有効にします"
    MS_OZOPT_O_BRANCH_PREDICTION+MSG_LANG_BASE "分岐予測"
    MS_CGOPT_MANGLE+MSG_LANG_BASE "COMMONｾｸﾞﾒﾝﾄ名をﾏﾝｸﾞﾙ化します"
    MS_OPT_PROMOTE+MSG_LANG_BASE "組込み引数を格上げします"
    MS_OPT_COMMA_SEP+MSG_LANG_BASE "ｺﾝﾏ区切りを有効にします"
    MS_CPUOPT_FP6+MSG_LANG_BASE "Pentium Pro用に最適化された/fp3"
    MS_CPUOPT_80686+MSG_LANG_BASE "Pentium Pro用に最適化された/3"
    MS_OZOPT_O_SUPER_OPTIMAL+MSG_LANG_BASE "ｺﾝﾊﾟｲﾙ時間が長引いても最適化を強化します"
    MS_OZOPT_O_FLOW_REG_SAVES+MSG_LANG_BASE "ﾚｼﾞｽﾀ保存をﾌﾛｰｸﾞﾗﾌに移動します"
    MS_OZOPT_O_LOOP_INVAR+MSG_LANG_BASE "ﾙｰﾌﾟ最適化/ﾙｰﾌﾟ内で浮動小数点数が不変であると仮定します。変数は初期化されます"

end
