#include "gui.rc"
#include "rcdefs.h"

BITMAP  B_newproj       "newproj.bmp"
BITMAP  B_openproj      "openproj.bmp"
BITMAP  B_saveproj      "saveproj.bmp"
BITMAP  B_makeproj      "makeproj.bmp"
BITMAP  B_maketarg      "maketarg.bmp"
BITMAP  B_debgtarg      "debgtarg.bmp"
BITMAP  B_browtarg      "browtarg.bmp"
BITMAP  B_samptarg      "samptarg.bmp"
BITMAP  B_proftarg      "proftarg.bmp"
BITMAP  B_runtarg       "runtarg.bmp"
BITMAP  B_edititem      "edititem.bmp"
BITMAP  B_makeitem      "makeitem.bmp"
BITMAP  B_rdbgtarg	"rdbgtarg.bmp"

BITMAP  B_sourceOpen    "srcopen.bmp"
BITMAP  B_sourceClosed  "srcclos.bmp"
BITMAP  B_sourceItem    "srcitem.bmp"
BITMAP  B_flashPage     "ide_s.bmp"

ICON    I_Ide           "ide.ico"
ICON    I_Target        "target.ico"
ICON    I_MsgLog        "msglog.ico"
