#include "errcod.h"

stringtable begin

    AR_BAD_COUNT+MSG_LANG_BASE "組込み関数%s1で定義された引数の数とそれを呼出すために指定した引数の数が一致していません。"
    AR_DUPLICATE_PARM+MSG_LANG_BASE "同じ仮引数%s1が2度以上使われてはいけません。"
    AR_ENTRY_TOO_LATE+MSG_LANG_BASE "仮引数%s1は,ENTRY %s2の定義の前になければなりません。"
    BD_BLKDAT_NOT_COMMON+MSG_LANG_BASE "%s1はBLOCK DATA副ﾌﾟﾛｸﾞﾗﾑで初期値されましたが, COMMONﾌﾞﾛｯｸにありません。"
    BD_IN_BLOCK_DATA+MSG_LANG_BASE "%s1文はBLOCK DATA副ﾌﾟﾛｸﾞﾗﾑの中には書けません。"
    CC_BAD_CHAR+MSG_LANG_BASE "ﾌﾟﾛｸﾞﾗﾑの中に使ってはいけない文字があります。"
    CC_NOT_DIGITS+MSG_LANG_BASE "文番号桁に不適切な文字があります。"
    CC_NOT_INITIAL+MSG_LANG_BASE "継続桁に文字がありますが,継続する行がありません。"
    CC_SET_EXTEND+MSG_LANG_BASE "FORTRAN 77の標準ｾｯﾄにはない文字があります。"
    CC_STMTNO_ON_CONT+MSG_LANG_BASE "継続行のｶﾗﾑ1から5はﾌﾞﾗﾝｸでなければなりません。"
    CC_TOO_MANY_CONT+MSG_LANG_BASE "19行を超える継続行はFORTRAN 77標準ではありません。"
    CC_EOL_COMMENT+MSG_LANG_BASE "終端行注訳はFORTRAN 77標準ではありません。"
    CC_D_IN_COLUMN_1+MSG_LANG_BASE "1ｶﾗﾑ目のDはFORTRAN 77標準ではありません。"
    CC_CONT_OVERFLOW+MSG_LANG_BASE "継続行が多すぎます。"
    CM_ALREADY_IN_COM+MSG_LANG_BASE "%s1は他のCOMMONﾌﾞﾛｯｸにもあります。"
    CM_COMMON+MSG_LANG_BASE "BLOCKDATA副ﾌﾟﾛｸﾞﾗﾑの外側のCOMMONﾌﾞﾛｯｸで%s1を初期化することは,FORTRAN 77標準ではありません。"
    CM_MIXED_COMMON+MSG_LANG_BASE "FORTRAN 77標準ｾｯﾄではCOMMONﾌﾞﾛｯｸの中に文字や数値を同時に含めることはできせん。"
    CM_NAMED_DIFF_SIZE+MSG_LANG_BASE "COMMONﾌﾞﾛｯｸ%s1は異なる大きさで定義されていました。"
    CM_BLKDATA_ALREADY+MSG_LANG_BASE "名前の付いたCOMMONﾌﾞﾛｯｸ%s1が,2個以上のBLOCK DATA副ﾌﾟﾛｸﾞﾗﾑ にあります。"
    CM_BLANK_DIFF_SIZE+MSG_LANG_BASE "名前のないCOMMONﾌﾞﾛｯｸが異なる大きさで定義されていました。"
    CN_DOUBLE_COMPLEX+MSG_LANG_BASE "FORTRAN 77標準ｾｯﾄでは倍精度の複素数型の定数は使えません。"
    CN_FLOAT+MSG_LANG_BASE "%s1は正しい浮動小数点定数ではありません。"
    CN_ZERO_LEN+MSG_LANG_BASE "長さがｾﾞﾛの文字定数は使えません。"
    CN_BAD_HEX_OCT+MSG_LANG_BASE "16進数／8進数の定数が無効です。"
    CN_HEX_OCT+MSG_LANG_BASE "16進数／8進数の定数はFORTRAN 77の標準ではありません。"
    CO_ALREADY_OPEN+MSG_LANG_BASE "%s1は既に読み込まれています。"
    CO_BAD_NO+MSG_LANG_BASE "'%s1'ｵﾌﾟｼｮﾝの前にNOは付けられません。"
    CO_NEED_EQUALS+MSG_LANG_BASE "%s1ｵﾌﾟｼｮﾝの後に＝が必要です。"
    CO_WANT_NUMBER+MSG_LANG_BASE "'%s1'ｵﾌﾟｼｮﾝには数字の値が必要です。"
    CO_NOT_RECOG+MSG_LANG_BASE "'%s1'ｵﾌﾟｼｮﾝは使えません。無視しました。"
    CO_NOT_IN_SOURCE+MSG_LANG_BASE "'%s1'ｵﾌﾟｼｮﾝはﾌﾟﾛｸﾞﾗﾑの中に書けません。ｺﾏﾝﾄﾞ行で指示してください。"
    CO_MACRO_NESTING_EXCEEDED+MSG_LANG_BASE "ｺﾝﾊﾟｲﾗｰ疑似命令のﾈｽﾄﾚﾍﾞﾙが深すぎます。"
    CO_MACRO_STRUCTURE_MISMATCH+MSG_LANG_BASE "ｺﾝﾊﾟｲﾗｰ疑似命令が対応していません。"
    CP_BAD_PARM_REGISTER+MSG_LANG_BASE "引数%d1がﾚｼﾞｽﾀと一致しません。"
    CP_BAD_RETURN_REGISTER+MSG_LANG_BASE "副ﾌﾟﾛｸﾞﾗﾑ%s1に間違ったﾘﾀｰﾝﾚｼﾞｽﾀがあります。"
    CP_LOW_ON_MEMORY+MSG_LANG_BASE "ﾒﾓﾘｰ不足です。- %s1を最適化できませんでした。"
    CP_BACK_END_ERROR+MSG_LANG_BASE "ｺﾝﾊﾟｲﾗ内部ｴﾗｰです。 %d1"
    CP_BAD_SAVE+MSG_LANG_BASE "%s1で変更したレジスタは正しくありません。"
    CP_ERROR+MSG_LANG_BASE "%s1"
    CP_FATAL_ERROR+MSG_LANG_BASE "致命的エラー: %s1"
    CP_MEMORY_NOT_FREED+MSG_LANG_BASE "動的ﾒﾓﾘｰが解放されませんでした。"
    CP_FREEING_UNOWNED_MEMORY+MSG_LANG_BASE "確保していない動的ﾒﾓﾘｰが解放されました。"
    CP_AUTO_EQUIV_TOO_LARGE+MSG_LANG_BASE "%s1を含む自動等価変数が32Kの限界を超えました。"
    CP_AUTO_RET_TOO_LARGE+MSG_LANG_BASE "%s1の戻り値が32Kの限界を超えました。"
    CP_AUTO_VAR_TOO_LARGE+MSG_LANG_BASE "自動変数%s1が32Kの限界を超えました。"
    CV_BAD_LEN+MSG_LANG_BASE "この式の中に長さ(*)を指定した文字変数-%s1は使えません。"
    CV_CHARSTAR_ILLEGAL+MSG_LANG_BASE "長さに(*)を指定した文字変数%s1は副ﾌﾟﾛｸﾞﾗﾑの仮引数以外に使えません。"
    DA_BAD_DO_VAR+MSG_LANG_BASE "DO形並びの変数%s1はINTEGER変数でなければなりません。"
    DA_BAD_RPT_SPEC+MSG_LANG_BASE "繰返しの指定はﾌﾟﾗｽの整数でなければなりません。"
    DA_BAD_VAR_IN_EXPR+MSG_LANG_BASE "DATAの式の中に使われている%s1はDO形並びの変数でなければなりません。"
    DA_BLANK_INIT+MSG_LANG_BASE "名前の無いCOMMONﾌﾞﾛｯｸにある%s1にはDATAで初期値を与えられません。"
    DA_HEX_CONST+MSG_LANG_BASE "FORTRAN 77標準では16進数で初期値は与えられません。"
    DA_ILL_NAME+MSG_LANG_BASE "DATAで%s1 %s2には初期値を与えられません。"
    DA_IN_TYPE_STMT+MSG_LANG_BASE "FORTRAN 77標準では%s1ｽﾃｰﾄﾒﾝﾄで初期値を与えられません。"
    DA_NOT_ENOUGH+MSG_LANG_BASE "DATAの中の変数に対応する定数の数が足りません。"
    DA_TOO_MUCH+MSG_LANG_BASE "変数に対して定数の数が多過ぎます。"
    DA_TYPE_MISMATCH+MSG_LANG_BASE "%s1変数に%s2定数を初期値として入れられません。"
    DM_SYM_PARM+MSG_LANG_BASE "次元の定義式には%s1型は使えません。整数式のみです。"
    DO_BACKWARDS_DO+MSG_LANG_BASE "DOの終りを示す文番号%i1は既に%d2行目で定義されています。終わり文番号は、DO文より後ろです。"
    DO_ENDING_BAD+MSG_LANG_BASE "%s1文はDO範囲の終りとして使えません。"
    DO_NESTING_BAD+MSG_LANG_BASE "外側のDOﾙｰﾌﾟが終わる前に内側のDOﾙｰﾌﾟは正しく終わらなければなりません。"
    DO_BAD_ENDDO+MSG_LANG_BASE "ENDDOではﾗﾍﾞﾙ付きのDOﾙｰﾌﾟを終えることはできません。"
    DO_DO_EXT+MSG_LANG_BASE "このDOﾙｰﾌﾟの形式はFORTRAN 77の標準ではありません。"
    DO_NO_COMMA_OR_VAR+MSG_LANG_BASE "DOと終了を示す番号行の次はｺﾝﾏかDO変数がなければなりません。"
    DO_PARM_REDEFINED+MSG_LANG_BASE "DOﾙｰﾌﾟの中でDO変数の値を実行中に変えてはいけません。"
    EC_PAST_BEG+MSG_LANG_BASE "EQUIVALENCEされた%s1はCOMMONﾌﾞﾛｯｸ%s2を左側へ拡張しました。FORTRAN 77標準では、禁止されている方法です。"
    EC_2NAM_EC+MSG_LANG_BASE "同じCOMMONﾌﾞﾛｯｸの内にある%s1と%s2は互いにEQUIVALENCEできません。"
    EN_NO_END+MSG_LANG_BASE "END文がありません。"
    EQ_BAD_TARGET+MSG_LANG_BASE "代入のﾀｰｹﾞｯﾄが間違っています。"
    EQ_CANNOT_ASSIGN+MSG_LANG_BASE "代入文の左側の%s1ﾀｲﾌﾟに値を割り当てることはできません。"
    EQ_ILL_EQ_SIGN+MSG_LANG_BASE "=の使い方がまちがっています(代入文ではありません)。"
    EQ_MULT_ASSGN+MSG_LANG_BASE "複数の代入用 = の使用はFORTRAN 77標準ではありません。"
    EQ_NO_EQUALS+MSG_LANG_BASE "等号(=)が必要です。"
    EV_DIFF_REL_POS+MSG_LANG_BASE "%s1を2つの異なる場所にEQUIVALENCEしてはいけません。"
    EV_EQUIV_LIST+MSG_LANG_BASE "EQUIVALENCEには少なくとも2つのｼﾝﾎﾞﾙ名が対で必要です。"
    EV_SSCR_INVALID+MSG_LANG_BASE "%s1が%s2文の中で間違って添字を付けられています。"
    EV_SSTR_INVALID+MSG_LANG_BASE "%s1は%s2文の中で間違った部分列となっています。"
    EV_MIXED_EQUIV+MSG_LANG_BASE "FORTRAN 77の標準では文字と他のﾀｲﾌﾟのﾃﾞｰﾀをEQUIVALENCEできません。"
    EV_ONLY_IF_CHAR+MSG_LANG_BASE "EQUIVALENCEで部分列を示す%s1は%s2ですが文字型の必要があります。"
    EX_Z_2_NOT_POS+MSG_LANG_BASE "J <= O の時 ZERO**J の計算はできません。"
    EY_TYPE_MISMATCH+MSG_LANG_BASE "ENTRY %s1の型が,関数%s2の型と一致しません。"
    EY_NOT_IN_CS+MSG_LANG_BASE "SELECT CASEやREMOTE BLOCKのような構造化ﾌﾞﾛｯｸ･ｽﾃｰﾄﾒﾝﾄの中にENTRYは使えません。"
    EY_SIZE_MISMATCH+MSG_LANG_BASE "ENTRY %s1と関数名%s2は同じ長さでなければなりません。"
    FM_ASSUME_COMMA+MSG_LANG_BASE "FORMATの編集記述子を区分するものがありません。ｺﾝﾏを区分するために挿入しました。"
    FM_CONST+MSG_LANG_BASE "編集記述子の1部である定数が無いか、形式が正しくありません。"
    FM_D_EXT+MSG_LANG_BASE "Ew.dDe形式の編集記述子はFORTRAN 77の標準ではありません。"
    FM_DECIMAL+MSG_LANG_BASE "小数点が必要です。"
    FM_DELIM+MSG_LANG_BASE "FORMATの編集記述子が無いか、書き方が正しくありません。"
    FM_FMTCHAR+MSG_LANG_BASE "FORMATの中に間違った編集記述子があります。"
    FM_INV_REP+MSG_LANG_BASE "繰り返し指定が正しくありません。"
    FM_M_EXT+MSG_LANG_BASE "$や\のﾌｫｰﾏｯﾄｺｰﾄﾞはFORTRAN 77の標準ではありません。"
    FM_MODIFIER+MSG_LANG_BASE "変数などに対する編集記述子が正しくありません。"
    FM_NO_EOS+MSG_LANG_BASE "FORMATの中に終りを示す)がありますがさらに右に記述が続いています。"
    FM_NO_REP+MSG_LANG_BASE "この編集記述子には繰返し指定は付けられません。"
    FM_NO_STMTNO+MSG_LANG_BASE "FORMAT文に文ﾗﾍﾞﾙが必要です。"
    FM_QUOTE+MSG_LANG_BASE "引用符('')編集記述子を閉じるためのもう1個の引用符がありません。"
    FM_SPEC_256+MSG_LANG_BASE "編集記述子でﾌｨｰﾙﾄﾞの長さは256を越えてはいけません。"
    FM_WIDTH+MSG_LANG_BASE "幅(長さ)の指定が正しくありません。"
    FM_Z_EXT+MSG_LANG_BASE "Z変数記述子はFORTRAN 77の標準ではありません。"
    FM_ASSUME_CONST+MSG_LANG_BASE "X編集記述子の前に定数がありません。1 を挿入しました。"
    FM_Q_EXT+MSG_LANG_BASE "Ew.dQe形式の編集記述子はFORTRAN 77の標準ではありません。"
    FM_Q_FORMAT+MSG_LANG_BASE "Qw.d形式の編集記述子はFORTRAN 77の標準ではありません。"
    GO_ASSIGNED_BAD+MSG_LANG_BASE "%s1文ﾗﾍﾞﾙはASSIGN文に使えません。%d2行をﾁｪｯｸしてください。"
    GO_CANNOT_ASSIGN+MSG_LANG_BASE "ASSIGNの示す文番号%i1は実行できない行を指しています。%d2行をﾁｪｯｸしてください。"
    GO_NO_TO+MSG_LANG_BASE "ASSIGNのTOが無いか位置が間違っています。"
    HO_CONST+MSG_LANG_BASE "ﾎﾚﾘｽ定数はFORTRAN 77の標準ではありません。"
    HO_CUT_OFF+MSG_LANG_BASE "編集記述子のHかhの前の数(hollerith定数)に対してそれに続く文字が足りません。"
    IF_ELSE_LAST+MSG_LANG_BASE "ELSEﾌﾞﾛｯｸの後にまたELSE IFﾌﾞﾛｯｸが続いてはいけません。これがIFブロックの最後のﾌﾞﾛｯｸでなけれなりません。"
    IF_NO_THEN+MSG_LANG_BASE "IFにはTHENが必要です。"
    IL_BAD_FMT_SPEC+MSG_LANG_BASE "FORMAT/FMT仕様がないか、あるいは正しくありません。"
    IL_BAD_INTL+MSG_LANG_BASE "この文でUNITに内部ﾌｧｲﾙを指定してはいけません(READ,WRITEのみです)。"
    IL_BAD_LIST+MSG_LANG_BASE "%s1文に%s2仕様は指定できません。"
    IL_BAD_SIZE+MSG_LANG_BASE "この変数の長さは4でなければなりません。"
    IL_CTRL_LIST+MSG_LANG_BASE "I/Oを制御する %s1項目に不足があるか,間違ったものがあります。"
    IL_DUP_LIST+MSG_LANG_BASE "このI/Oを制御するための項目%s1は重複して指定できません。"
    IL_EMPTY_IMP_DO+MSG_LANG_BASE "DO形並びのﾙｰﾌﾟが、I/Oリストの変数や式に対応していません。"
    IL_ILST+MSG_LANG_BASE "内部ﾌｧｲﾙへの並びによる入出力処理はFORTRAN 77の標準ではありません。"
    IL_NO_ASTERISK+MSG_LANG_BASE "FORTRAN 77標準の場合,並びによる書式には(*)ｱｽﾀﾘｽｸが必要です。"
    IL_NO_UNIT_ID+MSG_LANG_BASE "UNITが無いか,そのﾌｧｲﾙ識別子(ﾌｧｲﾙ番号)が正しくありません。"
    IL_NO_FILE_OR_UNIT+MSG_LANG_BASE "UNITかFILEの指定がないか、間違っています。"
    IL_STAR_NOT_ALLOWED+MSG_LANG_BASE "%s1文ではｱｽﾀﾘｽｸ(*)でなく,ﾌｧｲﾙ識別子(ﾌｧｲﾙ番号)が必要です。"
    IL_UNIT_AND_FILE+MSG_LANG_BASE "UNITとFILEの両方は同時に指定できません。"
    IL_AINTL+MSG_LANG_BASE "内部ﾌｧｲﾙは順次ｱｸｾｽ処理でなければなりません。"
    IL_END_REC+MSG_LANG_BASE "RECを伴うENDはFORTRAN 77の標準ではありません。"
    IL_SPECIFIER_NOT_STANDARD+MSG_LANG_BASE "入出力並び中の%s1指定子はFORTRAN 77標準ではありません。"
    IL_NO_IOLIST+MSG_LANG_BASE "NAMELIST指向の書式では,入出力並びは許されません。"
    IL_NON_CHARACTER+MSG_LANG_BASE "書式指定に文字以外の配列を使用するのは,FORTRAN 77の標準ではありません。"
    IM_ILLEGAL_RANGE+MSG_LANG_BASE "範囲を指定する文字の順序が正しくありません。"
    IM_PREV_IMPLICIT+MSG_LANG_BASE "IMPLICITで同じ文字を重複して、指定してはいけません。"
    IM_UNRECOG_TYPE+MSG_LANG_BASE "IMPLICITの指定された型が違います。"
    IM_CHAR_STAR_STAR+MSG_LANG_BASE "IMPLICIT文の中で(*)の長さの指定はFORTRAN 77の標準ではありません。"
    IM_NONE_USED+MSG_LANG_BASE "IMPLICIT NONEを指定すると他のどんなIMPLICITも書いてはいけません。"
    KO_FDIV_ZERO+MSG_LANG_BASE "浮動小数点数はｾﾞﾛで割ることはできません。"
    KO_FOVERFLOW+MSG_LANG_BASE "浮動小数点数が桁あふれしました。"
    KO_FUNDERFLOW+MSG_LANG_BASE "浮動小数点数が指数下位桁あふれをしました。"
    KO_IDIV_ZERO+MSG_LANG_BASE "整数はｾﾞﾛで割れません。"
    KO_INTERRUPT+MSG_LANG_BASE "実行を中断しました。"
    KO_IOVERFLOW+MSG_LANG_BASE "整数が桁あふれしました。"
    LI_CHAR_BOUND+MSG_LANG_BASE "CHARに対する引数の値は0から255の間でなければなりません。"
    LI_2_CMPLX+MSG_LANG_BASE "%s1組込み関数の第2引数に複素数を指定できません。"
    LI_CMPLX_TYPES+MSG_LANG_BASE "%s1組込み関数の第2引数の型は第1引数の型と同じでなければなりません。"
    LI_EXP_CNV_TYPE+MSG_LANG_BASE "数値型の引数が必要ですが%s1型が指定されています。"
    LI_ILL_PARM_CODE+MSG_LANG_BASE "組込み関数の引数として%s1を指定してはいけません。"
    LI_NO_PARM+MSG_LANG_BASE "組込み関数には引数が必要です。"
    LI_NO_SPECIFIC+MSG_LANG_BASE "この総称関数に対して%s1の引数型は指定できません。"
    LI_NOT_PARM+MSG_LANG_BASE "組込み関数名は実引数として指定できません。"
    LI_PT_MISMATCH+MSG_LANG_BASE "%s1型の引数が必要ですが%s2が指定されています。"
    LI_WRONG_TYPE+MSG_LANG_BASE "定義された組込み関数の型と呼び出しの型は一致しなければなりません。"
    LI_IF_NOT_STANDARD+MSG_LANG_BASE "組込み関数%s1はFORTRAN 77の標準ではありません。"
    LI_ARG_ALLOCATED+MSG_LANG_BASE "ALLOCATED組込み関数の引数は、割り付け可能な配列またはcharacter*(*)型の変数でなければなりません。"
    LI_ARG_ISIZEOF+MSG_LANG_BASE "組込み関数ISIZEOFの引数が間違っています。"
    MD_BAD_REL_OPN+MSG_LANG_BASE "関係演算子(.GT.,.LT.など)が論理演算子(.OR.,.AND.)として使われてはいけません。"
    MD_DBLE_WITH_CMPLX+MSG_LANG_BASE "倍精度と複素数型を式に同時に書くことはFORTRAN 77の標準ではありません。"
    MD_ILL_OPR+MSG_LANG_BASE "この演算子は%s1型の要素を扱えません。"
    MD_MIXED+MSG_LANG_BASE "この演算子は%s1型と%s2型の要素を扱えません。"
    MD_RELOP_OPND_COMPLEX+MSG_LANG_BASE "複素数の比較には.EQ.と.NE.しか使えません。"
    MD_UNARY_OP+MSG_LANG_BASE "単項演算子(1個で作用する+,-,.NOT.など)は%s1型に使えません。"
    MD_LOGOPR_INTOPN+MSG_LANG_BASE "整数要素に対する論理演算子はFORTRAN 77の標準ではありません。"
    MD_LOGOPR_EXTN+MSG_LANG_BASE "論理演算子%s1はFORTRAN 77の標準ではありません。"
    MO_COMPILER_LIMIT+MSG_LANG_BASE "%s1の大きさがｺﾝﾊﾟｲﾗ限度である%u2ﾊﾞｲﾄ(文字)を超えてはいけません。"
    MO_DYNAMIC_OUT+MSG_LANG_BASE "メモリ不足です。"
    MO_LIST_TOO_BIG+MSG_LANG_BASE "この文が長いために、動的ﾒﾓﾘが不足しました。ｰこの文を無視します。"
    PC_NO_CLOSEPAREN+MSG_LANG_BASE "右かっこ')'がありません。"
    PC_NO_OPENPAREN+MSG_LANG_BASE "左かっこ'('がありません。"
    PC_SURP_PAREN+MSG_LANG_BASE "必要のないかっこがあります。"
    PC_UNMATCH_PAREN+MSG_LANG_BASE "左右のかっこの組合せが合っていません。"
    PR_SYMBOL_NAME+MSG_LANG_BASE "ｼﾝﾎﾞﾙ名を指定してください。"
    PR_BAD_PARM_SIZE+MSG_LANG_BASE "VALUE属性に対するｻｲｽﾞ指定が間違っています。"
    PR_BAD_PARM_ATTR+MSG_LANG_BASE "引数属性が間違っています。"
    PR_BAD_CONTINUATION+MSG_LANG_BASE "継続行は1ｶﾗﾑ目にｺﾒﾝﾄ文字が必要です。"
    PR_BAD_SYNTAX+MSG_LANG_BASE "'%s1'が必要な所にありません。場所は'%s2'の近くです。"
    PR_BYTE_SEQ_LIMIT+MSG_LANG_BASE "ｲﾝﾗｲﾝ･ﾊﾞｲﾄｼｰｹﾝｽの制限を超えました。"
    PR_BAD_BYTE_SEQ+MSG_LANG_BASE "ﾊﾞｲﾄｼｰｹﾝｽ中に不正な16進ﾃﾞｰﾀがあります。"
    PR_SYMBOL_UNRESOLVED+MSG_LANG_BASE "ｲﾝﾗｲﾝ･ｱｾﾝﾌﾞﾘ･ｺｰﾄﾞ内のｼﾝﾎﾞﾙ '%s1'は参照未解決です。"
    RE_ALT_IN_SUBROUTINE+MSG_LANG_BASE "代替戻り指定子は、ｻﾌﾞﾙｰﾁﾝだけに許されます。"
    RE_IN_PROGRAM+MSG_LANG_BASE "ﾒｲﾝﾌﾟﾛｸﾞﾗﾑ中のRETURN文は,FORTRAN 77標準ではありません。"
    SA_COMBLK_EMPTY+MSG_LANG_BASE "COMMONﾌﾞﾛｯｸ%s1をSAVEされていますが、そのCOMMONﾌﾞﾛｯｸ名が定義されていません。"
    SA_COMMON_NOT_SAVED+MSG_LANG_BASE "COMMONﾌﾞﾛｯｸ%s1は、そのCOMMONﾌﾞﾛｯｸがある全ての副ﾌﾟﾛｸﾞﾗﾑでSAVEしなければなりません。"
    SA_SAVED+MSG_LANG_BASE "同じﾌﾟﾛｸﾞﾗﾑの中で2度以上同じ名前でSAVEしてはいけません。"
    SF_DUPLICATE_DUMMY_PARM+MSG_LANG_BASE "文関数の定義する仮引数が重複してはいけません。"
    SF_ILL_CHAR_LEN+MSG_LANG_BASE "文関数の文字数は(*)であってはいけません。 整数にしてください。"
    SF_ILL_DUMMY_PARM+MSG_LANG_BASE "文関数の文字型仮引数は(*)の長さを持っていてはいけません。"
    SF_ILL_PARM_PASSED+MSG_LANG_BASE "間違った(*)長さで文字結合している%s1 %s2は文関数の実引数に指定できません。"
    SF_PARM_TYPE_MISMATCH+MSG_LANG_BASE "実引数の型%s1と仮引数の型%s2が合いません。"
    SF_WRONG_NUM_PARMS+MSG_LANG_BASE "文関数%s1に渡す引数の数が間違っています。"
    SF_ILL_TYPE+MSG_LANG_BASE "文関数名の型にﾕｰｻﾞｰ定義の構造体を指定してはいけません。"
    SM_IO_READ_ERR+MSG_LANG_BASE "ｼｽﾃﾑ･ﾌｧｲﾙ読み込みｴﾗｰ: %s1 - %s2"
    SM_OPENING_FILE+MSG_LANG_BASE "ﾌｧｲﾙｵｰﾌﾟﾝｴﾗｰ: %s1 - %s2"
    SM_IO_WRITE_ERR+MSG_LANG_BASE "ｼｽﾃﾑ･ﾌｧｲﾙ書出しｴﾗｰ: %s1 - %s2"
    SM_OUT_OF_VM_FILES+MSG_LANG_BASE "ﾌｧｲﾙｵｰﾌﾟﾝｴﾗｰ %s1 - ﾃﾝﾎﾟﾗﾘﾌｧｲﾙが多すぎます。"
    SM_BROWSE_ERROR+MSG_LANG_BASE "ﾌﾞﾗｳｽﾞ情報の生成に失敗しました。"
    SP_ATEND_AND_ENDEQUALS+MSG_LANG_BASE "READにAT ENDとEND=を同時に指定できません。"
    SP_READ_NO_ATEND+MSG_LANG_BASE "AT ENDはREADのすぐ後に来なければなりません。"
    SP_BAD_LABEL+MSG_LANG_BASE "ﾌﾞﾛｯｸ･ﾗﾍﾞﾙはｼﾝﾎﾞﾙ名でなくてはなりません。"
    SP_BAD_QUIT+MSG_LANG_BASE "%s1への構造体を検出できません。"
    SP_BLK_IN_STRUCTURE+MSG_LANG_BASE "制御構造内部にREMOTE BLOCKを含めることはできません。"
    SP_SELECT_THEN_CASE+MSG_LANG_BASE "SELECTのすぐ後にCASEが来なければなりません。"
    SP_CASE_OVERLAP+MSG_LANG_BASE "CASEの指定子が重複しています。"
    SP_EMPTY_SELECT+MSG_LANG_BASE "SELECTには少なくとも1つのCASE文が必要です。"
    SP_FROM_OUTSIDE+MSG_LANG_BASE "制御構造の外部から%i1に%d2行目のように入ることはできません。"
    SP_INTO_STRUCTURE+MSG_LANG_BASE "制御構造内部の%i1(%d2行目)に飛ぶことはできません。"
    SP_NEVER_CASE+MSG_LANG_BASE "範囲の初めを示す番号が終りの番号より大きくてはいけません。"
    SP_OTHERWISE_LAST+MSG_LANG_BASE "ﾃﾞﾌｫﾙﾄのCASEﾌﾞﾛｯｸは全てのCASEﾌﾞﾛｯｸの後に来なくてはなりません。"
    SP_OUT_OF_BLOCK+MSG_LANG_BASE "REMOTE BLOCKから外に飛び出ることは許されません(END BLOCKで終らせてください)。"
    SP_RB_UNDEFINED+MSG_LANG_BASE "EXECUTEされるREMOTEﾌﾞﾛｯｸ %s1は同じﾌﾟﾛｸﾞﾗﾑの中になければなりません。"
    SP_RECURSE+MSG_LANG_BASE "REMOTE BLOCK は再帰的に実行することはできません。"
    SP_RET_IN_REMOTE+MSG_LANG_BASE "副ﾌﾟﾛｸﾞﾗﾑのREMOTE BLOCKの中でRETURNを実行できません。"
    SP_STRUCTURED_EXT+MSG_LANG_BASE "%s1文はFORTRAN 77の標準ではありません。"
    SP_UNFINISHED+MSG_LANG_BASE "%s1ﾌﾞﾛｯｸを終了させる文がありません。"
    SP_UNMATCHED+MSG_LANG_BASE "文%s1は文%s2と組合せられません。"
    SP_INCOMPLETE+MSG_LANG_BASE "%s1に対応して制御構造の初めを示す文がありません。"
    SP_NOT_IN_STRUCTURE+MSG_LANG_BASE "%s1文は%s2定義内では指定できません。"
    SP_NO_SUCH_FIELD+MSG_LANG_BASE "構造体%s1の中に,このﾌｨｰﾙﾄﾞ名が見つかりません。"
    SP_DUPLICATE_FIELD+MSG_LANG_BASE "ﾌｨｰﾙﾄﾞ名%s1は重複して定義されています。"
    SP_UNDEF_STRUCT+MSG_LANG_BASE "構造体%s1は定義されていません。"
    SP_STRUCT_DEFINED+MSG_LANG_BASE "構造体%s1は既に定義されています。"
    SP_STRUCT_NEEDS_FIELD+MSG_LANG_BASE "構造体%s1には,少なくとも1つのﾌｨｰﾙﾄﾞが必要です。"
    SP_STRUCT_RECURSION+MSG_LANG_BASE "構造体%s1の定義の中に,再帰定義があります。"
    SP_STRUCT_HAS_UNION+MSG_LANG_BASE "共用体を含む構造体%s1の使い方が間違っています。"
    SP_ALLOC_NOT_IN_STRUCT+MSG_LANG_BASE "割り当て可能な配列は,構造体のﾌｨｰﾙﾄﾞにすることはできません。"
    SP_INTEGER_CONDITION+MSG_LANG_BASE "整数条件式はFORTRAN 77の標準ではありません。"
    SP_STATEMENT_REQUIRED+MSG_LANG_BASE "%s1文は%s2の定義の中で使用しなければなりません。"
    SR_EXTRNED_TWICE+MSG_LANG_BASE "関数/ｻﾌﾞﾙｰﾁﾝ名はEXTERNALの中に2度以上指定できません。"
    SR_ILL_CHARFUNC+MSG_LANG_BASE "ｻｲｽﾞが(*)の文字型関数%s1は呼出せません(*は外部関数,仮引数,PARAMETER文字定数に対してのみです)。"
    SR_ILL_PARM+MSG_LANG_BASE "%s1はｻﾌﾞﾙｰﾁﾝに対する引数としてのみ使用できます。"
    SR_INTRNSC_EXTRN+MSG_LANG_BASE "同じ名前をINTRINSICとEXTERNALの両方に指定することはできません。"
    SR_NO_SUBRTN_NAME+MSG_LANG_BASE "SUBROUTINEでｻﾌﾞﾙｰﾁﾝ名を定義して下さい。"
    SR_ILL_IN_PROG+MSG_LANG_BASE "%s1文はﾒｲﾝ･ﾌﾟﾛｸﾞﾗﾑの中に書いてはいけません。"
    SR_NOT_INTRNSC+MSG_LANG_BASE "INTRINSICの名前は組込み関数名でなければなりません。"
    SR_PREV_INTRNSC+MSG_LANG_BASE "同じ組込み関数名を重複してINTRINSICの中に指定してはいけません。"
    SR_TRIED_RECURSION+MSG_LANG_BASE "副ﾌﾟﾛｸﾞﾗﾑの再帰呼出しが検出されました。"
    SR_TWO_PROGRAMS+MSG_LANG_BASE "1個のﾌﾟﾛｸﾞﾗﾑ内にﾒｲﾝ･ﾌﾟﾛｸﾞﾗﾑの初めを示す命令が2個以上あってはなりません。"
    SR_TWO_UNNAMED+MSG_LANG_BASE "名前の無い%s1はﾌﾟﾛｸﾞﾗﾑの中に1個しか指定できません。"
    SR_FUNC_AS_SUB+MSG_LANG_BASE "関数はｻﾌﾞﾙｰﾁﾝとして使えません。"
    SS_FUNCTION_VALUE+MSG_LANG_BASE "文字型関数や文関数で取り出した文字列の部分列化は,FORTRAN 77の標準ではありません。"
    SS_ONLY_IF_CHAR+MSG_LANG_BASE "文字型変数や配列要素以外は部分列にできません。"
    ST_ALREADY+MSG_LANG_BASE "重複して文番号%i1を%d2行目で定義してはいけません。"
    ST_ASF_LATE+MSG_LANG_BASE "文関数の定義はﾌﾟﾛｸﾞﾗﾑの中で最初の実行可能な文の前になければなりません。"
    ST_BAD_BRANCHED+MSG_LANG_BASE "%s1文は%d2行目からGOTOを受けることができない命令です。"
    ST_CANNOT_BRANCH+MSG_LANG_BASE "%i1文(%d2行目)に飛ぶことはできません。"
    ST_DATA_ALREADY+MSG_LANG_BASE "変数等の定義は%s1が初期化される前に指定しなければなりません。"
    ST_EXPECT_FORMAT+MSG_LANG_BASE "%i1文(%d2行目)が間違ってFORMATとして指定されています。"
    ST_IMPLICIT_LATE+MSG_LANG_BASE "IMPLICITは(PARAMETER以外の)変数の定義をする文の前に指定してください。"
    ST_NO_EXEC+MSG_LANG_BASE "この文はこの前に飛越し命令があるので実行されることがありません。"
    ST_NO_STMTNO+MSG_LANG_BASE "文番号を入れて下さい。"
    ST_NOT_FORMAT+MSG_LANG_BASE "文番号%i1(%d2行目)はFORMAT文ではありませんが、FORMAT文であるかのように使用されています。"
    ST_SPEC_LATE+MSG_LANG_BASE "変数等の定義はDATA、文関数、実行可能命令の前に指定しなければなりません。"
    ST_NOT_ALLOWED+MSG_LANG_BASE "%s1文は%s2文の後に指定してはいけません。"
    ST_NUM_TOO_BIG+MSG_LANG_BASE "文番号は99999かそれ以下でなければなりません。"
    ST_NUM_ZERO+MSG_LANG_BASE "文番号は0であってはいけません。"
    ST_TO_SELF+MSG_LANG_BASE "自分自身に飛んではいけません。"
    ST_UNDEFINED+MSG_LANG_BASE "文番号%i1はﾌﾟﾛｸﾞﾗﾑの中に無いので%d2行目の指定はｴﾗｰです。"
    ST_UNKNOWN_STMT+MSG_LANG_BASE "代入文として間違っているか、文字のつづりが間違った%s1があります。"
    ST_UNREFERENCED+MSG_LANG_BASE "文%i1はこの前に飛越し命令があるので実行されることはありません。"
    ST_WANT_NAME+MSG_LANG_BASE "ｷｰﾜｰﾄﾞかｼﾝﾎﾞﾙ名を指定してください。"
    ST_LONG_NUM+MSG_LANG_BASE "%s1の数字は5桁より大きくてはいけません。"
    ST_DATA_TOO_EARLY+MSG_LANG_BASE "DATA 文の位置はFORTRAN 77の標準ではありません。"
    SV_ARR_DECL+MSG_LANG_BASE "配列の宣言子である変数%s1はCOMMONの中か仮引数として指定しなければなりません。"
    SV_ARR_PARM+MSG_LANG_BASE "調整可能な、あるいは仮ｻｲｽﾞの配列%s1は仮引数でなければなりません。"
    SV_BAD_SSCR+MSG_LANG_BASE "添字式が間違っています。"
    SV_INV_SSCR+MSG_LANG_BASE "添字の個数が正しくありません。"
    SV_NO_LIST+MSG_LANG_BASE "%s1は添字なしに使えません。"
    SV_TRIED_SSTR+MSG_LANG_BASE "配列名%s1は添字がないと部分列にできません。"
    SV_PVD+MSG_LANG_BASE "%s1は擬寸法仮配列とみなします(最後の次元が1の時などです)。"
    SV_CANT_USE_ASSUMED+MSG_LANG_BASE "擬寸法仮配列(最後の次元が*の時)%s1はI/O書式やFORMAT/UNITの中に使えません。"
    SV_DIMENSION_LIMIT+MSG_LANG_BASE "次元の要素限度は65535を超えてはいけません。"
    SX_UNEXPECTED_OPN+MSG_LANG_BASE "数字か名前%s1がまちがった場所にあります。"
    SX_BAD_OPR_SEQ+MSG_LANG_BASE "演算子の順番がまちがっています。"
    SX_INV_OPR+MSG_LANG_BASE "演算子が正しくありません。"
    SX_JUNK_AFTER_RBR+MSG_LANG_BASE "右かっこの後にｽﾃｰﾄﾒﾝﾄをつづけてはいけません。"
    SX_NO_ASTERISK+MSG_LANG_BASE "ｱｽﾀﾘｽｸ(*)が必要です。"
    SX_NO_COLON+MSG_LANG_BASE "ｺﾛﾝ(:)が必要です。"
    SX_NO_EOS_OR_COLON+MSG_LANG_BASE "制御文の終りに関係のないものがあります( : かﾌﾞﾛｯｸ･ﾗﾍﾞﾙが必要です)。"
    SX_MISSING_COMMA+MSG_LANG_BASE "ｺﾝﾏがありません。"
    SX_EOS_EXPECTED+MSG_LANG_BASE "文の終りに関係のないものがあります(1行に1文しか書けません)。"
    SX_NO_INTEGER_VAR+MSG_LANG_BASE "整数型変数でなければなりません。"
    SX_NO_NAME+MSG_LANG_BASE "名前%s1がここになければなりません。"
    SX_EXPECT_INT+MSG_LANG_BASE "整数でなければなりません。"
    SX_NO_NUMBER_VAR+MSG_LANG_BASE "整数か実数か倍精度型の変数でなければなりません。"
    SX_NO_OPR+MSG_LANG_BASE "演算子がありません。"
    SX_NO_SLASH+MSG_LANG_BASE "ｽﾗｯｼｭ(/)が必要です。"
    SX_WRONG_TYPE+MSG_LANG_BASE "ﾀｲﾌﾟ%s1の式でなければなりません。"
    SX_NOT_CONST_EXPR+MSG_LANG_BASE "定数式でなければなりません。"
    SX_NOT_SIMPLE_NUMBER+MSG_LANG_BASE "整数か実数か倍精度の数式でなければなりません。"
    SX_NUM_OR_LIT+MSG_LANG_BASE "整数型か文字型定数でなければなりません。"
    SX_SURP_OPR+MSG_LANG_BASE "余分な演算子があります。"
    SX_QUOTE+MSG_LANG_BASE "文字列を閉じる右の(')引用符がありません。"
    SX_CONST+MSG_LANG_BASE "定数が無いか、形式が正しくありません。"
    SX_EXPECT_CHAR_CONST+MSG_LANG_BASE "文字型定数でなければなりません。"
    TY_CHAR_BEFORE_PAREN+MSG_LANG_BASE "配列宣言子の前の長さ指定はFORTRAN 77の標準ではありません。"
    TY_ILL_TYP_SIZE+MSG_LANG_BASE "%i1の長さ指定は%s2型に対して正しくありません。"
    TY_LEN_SPEC+MSG_LANG_BASE "%s1文の長さ指定はFORTRAN 77の標準ではありません。"
    TY_NOT_DBL_PREC+MSG_LANG_BASE "%s1ﾀｲﾌﾟのｽﾃｰﾄﾒﾝﾄに長さ指定はいりません。"
    TY_TYP_PREV_DEF+MSG_LANG_BASE "%s1は%s2として定義されていますので、別な名前に変えてください。"
    TY_UNDECLARED+MSG_LANG_BASE "IMPLICIT NONEの時は%s1の型は定義してください。"
    TY_ILL_USE+MSG_LANG_BASE "%s2型である%s1は%s3文中で間違って使われています。"
    VA_ILL_USE+MSG_LANG_BASE "%s1と定義された名前%s2は%s3文では使えません。"
    VA_NAME_LEN_EXT+MSG_LANG_BASE "ｼﾝﾎﾞﾙ名%s1に7文字以上使えるのは標準ではありません。"
    VA_PREV_DEF_NAM+MSG_LANG_BASE "%s1はすでに%s2として定義されています。"
    VA_UNDEFINED+MSG_LANG_BASE "%s1として%s2は使われていますが、そのように定義してください。"
    VA_UNREFERENCED+MSG_LANG_BASE "%s1は定義されましたが使われていません。"
    VA_SAME_NAMELIST+MSG_LANG_BASE "%s1は既にこのNAMELISTｸﾞﾙｰﾌﾟに属しています。"
    VA_USED_NOT_DEFINED+MSG_LANG_BASE "%s1が使われましたが、定義されていません。"
    VA_ALLOCATABLE_STORAGE+MSG_LANG_BASE "動的に割り当てている%s1はFORTRAN 77の標準ではありません。"
    VA_BAD_SYM_IN_NAMELIST+MSG_LANG_BASE "NAMELIST %s2の中の%s1は不正です。"
    MS_USAGE_LINE+MSG_LANG_BASE "使用方法: %s1 {- or /<option>} <file-spec> {- or /<option>}"
    MS_OPT_LIST+MSG_LANG_BASE "ﾘｽﾄﾌｧｲﾙの生成"
    MS_OPT_PRINT+MSG_LANG_BASE "ﾘｽﾄﾌｧｲﾙをﾌﾟﾘﾝﾀｰに出力"
    MS_OPT_TYPE+MSG_LANG_BASE "ﾘｽﾄﾌｧｲﾙを画面に出力"
    MS_OPT_DISK+MSG_LANG_BASE "ﾘｽﾄﾌｧｲﾙをﾃﾞｨｽｸに出力"
    MS_OPT_ERRFILE+MSG_LANG_BASE "ｴﾗｰﾌｧｲﾙの生成"
    MS_OPT_EXT+MSG_LANG_BASE "拡張ﾒｯｾｰｼﾞの出力"
    MS_OPT_REFERENCE+MSG_LANG_BASE "未参照警告ｴﾗｰの出力"
    MS_OPT_WARN+MSG_LANG_BASE "警告ｴﾗｰﾒｯｾｰｼﾞの出力"
    MS_OPT_SHORT+MSG_LANG_BASE "INTEGER/LOGICAL の大きさは 2/1"
    MS_OPT_INCLIST+MSG_LANG_BASE "INCLUDE ﾌｧｲﾙのﾘｽﾄ"
    MS_OPT_TERM+MSG_LANG_BASE "診断ﾒｯｾｰｼﾞの表示"
    MS_OPT_EXPLICIT+MSG_LANG_BASE "明示的な型が必要"
    MS_OPT_XLINE+MSG_LANG_BASE "行の長さを拡張"
    MS_OPT_DEBUG+MSG_LANG_BASE "/trace /bounds"
    MS_OPT_DEFINE+MSG_LANG_BASE "ﾏｸﾛ定義"
    MS_OPT_EXTEND_FORMAT+MSG_LANG_BASE "FORMAT ﾀｲﾌﾟﾁｪｯｸの緩和"
    MS_OPT_WILD+MSG_LANG_BASE "ﾜｲﾙﾄﾞﾌﾞﾗﾝﾁﾁｪｯｸの緩和"
    MS_OPT_SYNTAX+MSG_LANG_BASE "文法ﾁｪｯｸのみ"
    MS_OPT_DFLT_LIB+MSG_LANG_BASE "ﾃﾞﾌｫﾙﾄﾗｲﾌﾞﾗﾘの生成"
    MS_CPUOPT_FPC+MSG_LANG_BASE "浮動小数点呼び出し"
    MS_CPUOPT_FPI+MSG_LANG_BASE "80x87 命令のｴﾐｭﾚｰﾄ"
    MS_CPUOPT_FPI87+MSG_LANG_BASE "80x87 ｲﾝﾗｲﾝ命令"
    MS_CPUOPT_FP287+MSG_LANG_BASE "80287 命令"
    MS_CPUOPT_FP387+MSG_LANG_BASE "80387 命令"
    MS_CPUOPT_FP5+MSG_LANG_BASE "Pentium用最適化をする/fp3ｵﾌﾟｼｮﾝ"
    MS_CPUOPT_FPR+MSG_LANG_BASE "80x87 ﾘﾊﾞｰｽ互換"
    MS_CGOPT_DB_LINE+MSG_LANG_BASE "line # ﾃﾞﾊﾞｯｸﾞ情報"
    MS_CGOPT_DB_LOCALS+MSG_LANG_BASE "全てのﾃﾞﾊﾞｯｸﾞ情報"
    MS_OZOPT_O_CALL_RET+MSG_LANG_BASE "call-retの最適化なし"
    MS_OZOPT_O_DISABLE+MSG_LANG_BASE "最適化の禁止"
    MS_OZOPT_O_NEED_FRAME+MSG_LANG_BASE "ｽﾀｯｸﾌﾚｰﾑの最適化なし"
    MS_OZOPT_O_INLINE+MSG_LANG_BASE "ｲﾝﾗｲﾝ文関数"
    MS_OZOPT_O_LOOP+MSG_LANG_BASE "ﾙｰﾌﾟの最適化"
    MS_OZOPT_O_MATH+MSG_LANG_BASE "数学的最適化"
    MS_OZOPT_O_NUMERIC+MSG_LANG_BASE "数値の最適化"
    MS_OZOPT_O_VOLATILE+MSG_LANG_BASE "精度の最適化"
    MS_OZOPT_O_INSSCHED+MSG_LANG_BASE "命令ｽｹｼﾞｭｰﾘﾝｸﾞ"
    MS_OZOPT_O_SPACE+MSG_LANG_BASE "ｻｲｽﾞの最適化"
    MS_OZOPT_O_TIME+MSG_LANG_BASE "時間の最適化"
    MS_OZOPT_O_X+MSG_LANG_BASE "/o[bp,i,l,k,m,r,t,do]"
    MS_CGOPT_STACK_CHK+MSG_LANG_BASE "ｽﾀｯｸﾁｪｯｸ"
    MS_CGOPT_DATA_THRESH+MSG_LANG_BASE "ﾃﾞｰﾀｽﾚｯｼｮﾙﾄﾞの設定"
    MS_OPT_AUTOMATIC+MSG_LANG_BASE "ｽﾀｯｸ上のﾛｰｶﾙ変数"
    MS_OPT_DESCRIPTOR+MSG_LANG_BASE "文字指示子渡し"
    MS_OPT_SAVE+MSG_LANG_BASE "ﾛｰｶﾙ変数を待避(SAVE文と同じ)"
    MS_CGOPT_OBJ_NAME+MSG_LANG_BASE "ｵﾌﾞｼﾞｪｸﾄﾌｧｲﾙ名の指定"
    MS_CGOPT_CONST_CODE+MSG_LANG_BASE "ｺｰﾄﾞｾｸﾞﾒﾝﾄ内の定数"
    MS_CGOPT_M_MEDIUM+MSG_LANG_BASE "ﾐﾃﾞｨｱﾑﾒﾓﾘﾓﾃﾞﾙ"
    MS_CGOPT_M_LARGE+MSG_LANG_BASE "ﾗｰｼﾞﾒﾓﾘﾓﾃﾞﾙ"
    MS_CGOPT_M_HUGE+MSG_LANG_BASE "ﾋｭｰｼﾞﾒﾓﾘﾓﾃﾞﾙ"
    MS_CPUOPT_8086+MSG_LANG_BASE "8086 ﾌﾟﾛｾｯｻ命令を使用"
    MS_CPUOPT_80186+MSG_LANG_BASE "80186 ﾌﾟﾛｾｯｻ命令を使用"
    MS_CPUOPT_80286+MSG_LANG_BASE "80286 ﾌﾟﾛｾｯｻ命令を使用"
    MS_CGOPT_BW+MSG_LANG_BASE "ﾃﾞﾌｫﾙﾄｳｨﾝﾄﾞｳｱﾌﾟﾘｹｰｼｮﾝ"
    MS_CPUOPT_80386+MSG_LANG_BASE "80386 ﾌﾟﾛｾｯｻ命令を使用"
    MS_CPUOPT_80486+MSG_LANG_BASE "80486用最適化をする/3ｵﾌﾟｼｮﾝ"
    MS_CPUOPT_80586+MSG_LANG_BASE "Pentium用最適化をする/3ｵﾌﾟｼｮﾝ"
    MS_CGOPT_SEG_REGS+MSG_LANG_BASE "ｾｸﾞﾒﾝﾄﾚｼﾞｽﾀの待避/復帰"
    MS_CGOPT_FS_FLOATS+MSG_LANG_BASE "FSを固定しない"
    MS_CGOPT_GS_FLOATS+MSG_LANG_BASE "GSを固定しない"
    MS_CGOPT_SS_FLOATS+MSG_LANG_BASE "SSはﾃﾞﾌｫﾙﾄのﾃﾞｰﾀｾｸﾞﾒﾝﾄでない"
    MS_CGOPT_WINDOWS+MSG_LANG_BASE "ｳｨﾝﾄﾞｳｽﾞ用ｺｰﾄﾞ生成"
    MS_STRUCT_DEFN+MSG_LANG_BASE "構造体定義"
    MS_GROUP_NAME+MSG_LANG_BASE "ｸﾞﾙｰﾌﾟ名"
    MS_STMT_FUNC+MSG_LANG_BASE "文関数"
    MS_STMT_FUNC_DEFN+MSG_LANG_BASE "文関数定義"
    MS_SIMP_VAR+MSG_LANG_BASE "単純変数"
    MS_COM_VAR+MSG_LANG_BASE "COMMON内変数"
    MS_EQUIV_VAR+MSG_LANG_BASE "等価変数"
    MS_SP_ARG+MSG_LANG_BASE "副ﾌﾟﾛｸﾞﾗﾑ引数"
    MS_SF_ARG+MSG_LANG_BASE "文関数引数"
    MS_ARRAY+MSG_LANG_BASE "配列"
    MS_ALLOC_ARRAY+MSG_LANG_BASE "割り当てられた配列"
    MS_VAR_ARR+MSG_LANG_BASE "変数または配列"
    MS_INTR_FUNC+MSG_LANG_BASE "組み込み関数"
    MS_EXT_PROC+MSG_LANG_BASE "外部副ﾌﾟﾛｸﾞﾗﾑ"
    MS_ASSIGN+MSG_LANG_BASE "代入"
    MS_ARITH_IF+MSG_LANG_BASE "算術 if"
    MS_AT_EOSTMT+MSG_LANG_BASE "文の終わり,"
    MS_DEF_SPROG+MSG_LANG_BASE "副ﾌﾟﾛｸﾞﾗﾑの定義: %s1; 始めのISNは %u2"
    MS_LIB_MEMBER+MSG_LANG_BASE "ﾗｲﾌﾞﾗﾘﾒﾝﾊﾞｰ %s1,"
    MS_COLUMN+MSG_LANG_BASE "ｶﾗﾑ %d1,"
    MS_IN+MSG_LANG_BASE "in %s1,"
    MS_STATISTICS+MSG_LANG_BASE "%d1 ｽﾃｰﾄﾒﾝﾄ, %i2 ﾊﾞｲﾄ, %d3 拡張ﾒｯｾｰｼﾞ, %d4 警告ｴﾗｰ, %d5 ｴﾗｰ"
    MS_CODE_SIZE+MSG_LANG_BASE "ｺｰﾄﾞｻｲｽﾞ (ﾊﾞｲﾄ):"
    MS_NUMBER_OF_ERRORS+MSG_LANG_BASE "ｴﾗｰ数:"
    MS_COMPILE_TIME+MSG_LANG_BASE "ｺﾝﾊﾟｲﾙ時間 (秒):"
    MS_NUMBER_OF_WARNINGS+MSG_LANG_BASE "警告ｴﾗｰ数:"
    MS_NUMBER_OF_STATEMENTS+MSG_LANG_BASE "ｺﾝﾊﾟｲﾙされた文の数:"
    MS_NUMBER_OF_EXTENSIONS+MSG_LANG_BASE "拡張仕様の使用数:"
    MS_CTG_FILE_MANAGEMENT+MSG_LANG_BASE "*ﾌｧｲﾙﾏﾈｰｼﾞﾒﾝﾄｵﾌﾟｼｮﾝ*"
    MS_CTG_DIAGNOSTIC+MSG_LANG_BASE "*診断ｵﾌﾟｼｮﾝ*"
    MS_CTG_DEBUGGING+MSG_LANG_BASE "*ﾃﾞﾊﾞｯｸﾞｵﾌﾟｼｮﾝ*"
    MS_CTG_MISC+MSG_LANG_BASE "*その他のｵﾌﾟｼｮﾝ*"
    MS_CTG_FPUOPTS+MSG_LANG_BASE "*浮動小数点ｵﾌﾟｼｮﾝ*"
    MS_CTG_OPTIMIZATIONS+MSG_LANG_BASE "*最適化*"
    MS_CTG_MEMORY_MODELS+MSG_LANG_BASE "*ﾒﾓﾘﾓﾃﾞﾙ*"
    MS_CTG_CPU+MSG_LANG_BASE "*CPU ﾀｰｹﾞｯﾄ*"
    CL_CTG_COMPILE_AND_LINK+MSG_LANG_BASE "*ｺﾝﾊﾟｲﾙ/ﾘﾝｸｵﾌﾟｼｮﾝ*"
    MS_OPT_TRACE+MSG_LANG_BASE "ﾗﾝﾀｲﾑﾄﾚｰｽﾊﾞｯｸの生成"
    MS_OPT_BOUNDS+MSG_LANG_BASE "境界ﾁｪｯｸの生成"
    MS_CTG_DBCS+MSG_LANG_BASE "*文字ｾｯﾄｵﾌﾟｼｮﾝ*"
    MS_OPT_CHINESE+MSG_LANG_BASE "中国語文字ｾｯﾄ"
    MS_OPT_JAPANESE+MSG_LANG_BASE "日本語文字ｾｯﾄ"
    MS_OPT_KOREAN+MSG_LANG_BASE "韓国語文字ｾｯﾄ"
    MS_OPT_DEPENDENCY+MSG_LANG_BASE "ﾌｧｲﾙ依存性情報の生成"
    MS_CTG_APPTYPE+MSG_LANG_BASE "*ｱﾌﾟﾘｹｰｼｮﾝﾀｲﾌﾟ*"
    MS_OPT_RESOURCES+MSG_LANG_BASE "ﾘｿｰｽﾌｧｲﾙ内のﾒｯｾｰｼﾞ"
    MS_OPT_UNIT_6_CC+MSG_LANG_BASE "装置はｷｬﾘｯｼﾞ制御されます"
    MS_OPT_QUIET+MSG_LANG_BASE "起動ﾒｯｾｰｼﾞを表示しない"
    MS_OPT_BROWSE+MSG_LANG_BASE "ﾌﾞﾗｳｽﾞ情報の生成"
    MS_OPT_EXTEND_REAL+MSG_LANG_BASE "拡張浮動小数点数精度"
    MS_OZOPT_O_UNROLL+MSG_LANG_BASE "ﾙｰﾌﾟ最適化/ｱﾝﾛｰﾘﾝｸﾞ"
    MS_CGOPT_ALIGN+MSG_LANG_BASE "COMMONｾｸﾞﾒﾝﾄの整合"
    MS_OPT_LF_WITH_FF+MSG_LANG_BASE "FF付きLF"
    MS_CGOPT_DI_WATCOM+MSG_LANG_BASE "WATCOMﾃﾞﾊﾞｯｸﾞ情報"
    MS_CGOPT_DI_DWARF+MSG_LANG_BASE "DWARFﾃﾞﾊﾞｯｸﾞ情報"
    MS_CGOPT_DI_CV+MSG_LANG_BASE "Codeviewﾃﾞﾊﾞｯｸﾞ情報"
    MS_OZOPT_O_FASTDO+MSG_LANG_BASE "DO変数がｵｰﾊﾞｰﾌﾛｰしません"
    MS_OPT_INCPATH+MSG_LANG_BASE "INCLUDEﾌｧｲﾙ用のﾊﾟｽ"
    MS_CPUOPT_FPD+MSG_LANG_BASE "Pentium FDIV命令のﾁｪｯｸを有効にします"
    MS_OZOPT_O_BRANCH_PREDICTION+MSG_LANG_BASE "分岐予測"
    MS_CGOPT_MANGLE+MSG_LANG_BASE "COMMONｾｸﾞﾒﾝﾄ名をﾏﾝｸﾞﾙ化します"
    MS_OPT_PROMOTE+MSG_LANG_BASE "組込み引数を格上げします"
    MS_OPT_COMMA_SEP+MSG_LANG_BASE "ｺﾝﾏ区切りを有効にします"
    MS_CPUOPT_FP6+MSG_LANG_BASE "Pentium Pro用に最適化された/fp3"
    MS_CPUOPT_80686+MSG_LANG_BASE "Pentium Pro用に最適化された/3"
    MS_OZOPT_O_SUPER_OPTIMAL+MSG_LANG_BASE "ｺﾝﾊﾟｲﾙ時間が長引いても最適化を強化します"
    MS_OZOPT_O_FLOW_REG_SAVES+MSG_LANG_BASE "ﾚｼﾞｽﾀ保存をﾌﾛｰｸﾞﾗﾌに移動します"
    MS_OZOPT_O_LOOP_INVAR+MSG_LANG_BASE "ﾙｰﾌﾟ最適化/ﾙｰﾌﾟ内で浮動小数点数が不変であると仮定します。変数は初期化されます"

end
