#include "errors.h"
#include "wreslang.h"

STRINGTABLE
BEGIN

#define pick( code, e_string, j_string )  \
        (code+RLE_ENGLISH*MSG_LANG_SPACING), e_string
#include "msg.gh"
#undef pick

#define pick( code, e_string, j_string )  \
        (code+RLE_JAPANESE*MSG_LANG_SPACING), j_string
#include "msg.gh"
#undef pick

END
