#include <os2.h>
#include "test.h"
#include "help.h"
#include "test_dlg.h"

/*--------------------------------------------------------------*\
 *  Help table definition                                       *
\*--------------------------------------------------------------*/
HELPTABLE   STYLE_HELP_TABLE
{
   HELPITEM    IDR_MAIN,           SUBTABLE_MAIN,         PANEL_MAIN ,
   HELPITEM    IDD_DEMOMSGBOX,     SUBTABLE_DEMOMSGBOX,   PANEL_DEMOMSGBOX
   HELPITEM    IDD_BUTTONSDLG,     SUBTABLE_BUTTONSDLG,   PANEL_BUTTONSDLG
   HELPITEM    IDD_LISTBOXDLG,     SUBTABLE_LISTBOXDLG,   PANEL_LISTBOXDLG
   HELPITEM    IDD_COMBOBOXDLG,    SUBTABLE_COMBOBOXDLG,  PANEL_COMBOBOXDLG
   HELPITEM    IDD_ENTRYFIELDDLG,  SUBTABLE_ENTRYFIELDDLG,PANEL_ENTRYFIELDDLG
   HELPITEM    IDD_STATICDLG,      SUBTABLE_STATICDLG,    PANEL_STATICDLG
   HELPITEM    IDD_PPDEMODLG,      SUBTABLE_PPDEMODLG,    PANEL_PPDEMODLG
   HELPITEM    IDD_CONTAINERDLG,   SUBTABLE_CONTAINERDLG, PANEL_CONTAINERDLG
   HELPITEM    IDD_NOTEBOOKDLG,    SUBTABLE_NOTEBOOKDLG,  PANEL_NOTEBOOKDLG
   HELPITEM    IDD_VALUESETDLG,    SUBTABLE_VALUESETDLG,  PANEL_VALUESETDLG
   HELPITEM    IDD_SLIDERDLG,      SUBTABLE_SLIDERDLG,    PANEL_SLIDERDLG
   HELPITEM    IDD_SPINBUTTONDLG,  SUBTABLE_SPINBUTTONDLG,PANEL_SPINBUTTONDLG
   HELPITEM    IDD_PRODINFO,       SUBTABLE_ABOUTBOX,     PANEL_ABOUTBOX
}

/*--------------------------------------------------------------*\
 *  Main window subtable, includes menu item help               *
\*--------------------------------------------------------------*/
HELPSUBTABLE SUBTABLE_MAIN
SUBITEMSIZE     2
{
   HELPSUBITEM     IDM_FILE,                   PANEL_FILE
   HELPSUBITEM     IDM_FILENEW,                PANEL_FILENEW
   HELPSUBITEM     IDM_FILEOPEN,               PANEL_FILEOPEN
   HELPSUBITEM     IDM_FILESAVE,               PANEL_FILESAVE
   HELPSUBITEM     IDM_FILESAVEAS,             PANEL_FILESAVEAS

   HELPSUBITEM     IDM_EDIT,                   PANEL_EDIT
   HELPSUBITEM     IDM_EDITUNDO,               PANEL_EDITUNDO
   HELPSUBITEM     IDM_EDITCUT,                PANEL_EDITCUT
   HELPSUBITEM     IDM_EDITCOPY,               PANEL_EDITCOPY
   HELPSUBITEM     IDM_EDITPASTE,              PANEL_EDITPASTE
   HELPSUBITEM     IDM_EDITCLEAR,              PANEL_EDITCLEAR

   HELPSUBITEM     IDM_OPTIONS,                PANEL_OPTIONS
   HELPSUBITEM     IDM_OPTIONSFORECOLOR,       PANEL_OPTIONSFORECOLOR
   HELPSUBITEM     IDM_OPTIONSBACKCOLOR,       PANEL_OPTIONSBACKCOLOR
   HELPSUBITEM     IDM_OPTIONSBACKCOLORYELLOW, PANEL_OPTIONSBACKCOLORYELLOW
   HELPSUBITEM     IDM_OPTIONSBACKCOLORPINK,   PANEL_OPTIONSBACKCOLORPINK
   HELPSUBITEM     IDM_OPTIONSBACKCOLORCYAN,   PANEL_OPTIONSBACKCOLORCYAN
   HELPSUBITEM     IDM_OPTIONSBACKCOLORDEFAULT,PANEL_OPTIONSBACKCOLORDEFAULT
   HELPSUBITEM     IDM_OPTIONSFONT,            PANEL_OPTIONSFONT

   HELPSUBITEM     IDM_DEMO,                   PANEL_DEMO
   HELPSUBITEM     IDM_DEMODLG,                PANEL_DEMODLG
   HELPSUBITEM     IDM_DEMODLGBUTTONS,         PANEL_DEMODLGBUTTONS
   HELPSUBITEM     IDM_DEMODLGLISTBOXES,       PANEL_DEMODLGLISTBOXES
   HELPSUBITEM     IDM_DEMODLGCOMBOBOXES,      PANEL_DEMODLGCOMBOBOXES
   HELPSUBITEM     IDM_DEMODLGENTRYFIELDS,     PANEL_DEMODLGENTRYFIELDS
   HELPSUBITEM     IDM_DEMODLGSTATIC,          PANEL_DEMODLGSTATIC
   HELPSUBITEM     IDM_DEMODLGCONTAINER,       PANEL_DEMODLGCONTAINER
   HELPSUBITEM     IDM_DEMODLGNOTEBOOK,        PANEL_DEMODLGNOTEBOOK
   HELPSUBITEM     IDM_DEMODLGSLIDER,          PANEL_DEMODLGSLIDER
   HELPSUBITEM     IDM_DEMODLGVALUESET,        PANEL_DEMODLGVALUESET
   HELPSUBITEM     IDM_DEMODLGSPINBUTTON,      PANEL_DEMODLGSPINBUTTON
   HELPSUBITEM     IDM_DEMODLGPP,              PANEL_DEMODLGPP

   HELPSUBITEM     IDM_DEMOMSGBOX,             PANEL_DEMOMB
   HELPSUBITEM     IDM_DEMOMSGBOXOK,           PANEL_DEMOMBOK
   HELPSUBITEM     IDM_DEMOMSGBOXOKCANCEL,     PANEL_DEMOMBOKCANCEL
   HELPSUBITEM     IDM_DEMOMSGBOXYESNO,        PANEL_DEMOMBYESNO
   HELPSUBITEM     IDM_DEMOMSGBOXYESNOCANCEL,  PANEL_DEMOMBYESNOCANCEL
   HELPSUBITEM     IDM_DEMOMSGBOXRETRYCANCEL,  PANEL_DEMOMBRETRY
   HELPSUBITEM     IDM_DEMOMSGBOXABORT,        PANEL_DEMOMBABORT
   HELPSUBITEM     IDM_DEMOMSGBOXENTER,        PANEL_DEMOMBENTER
   HELPSUBITEM     IDM_DEMOMSGBOXENTERCANCEL,  PANEL_DEMOMBENTERCANCEL
   HELPSUBITEM     IDM_DEMOMSGBOXQUERY,        PANEL_DEMOMBQUERY
   HELPSUBITEM     IDM_DEMOMSGBOXWARNING,      PANEL_DEMOMBWARNING
   HELPSUBITEM     IDM_DEMOMSGBOXINFO,         PANEL_DEMOMBINFORMATION
   HELPSUBITEM     IDM_DEMOMSGBOXCRITICAL,     PANEL_DEMOMBCRITICAL
   HELPSUBITEM     IDM_DEMOMSGBOXAPP,          PANEL_DEMOMBAPPMODAL
   HELPSUBITEM     IDM_DEMOMSGBOXSYS,          PANEL_DEMOMBSYSMODAL
   HELPSUBITEM     IDM_DEMOMSGBOXHELP,         PANEL_DEMOMBHELP

   HELPSUBITEM     IDM_HELP,                   PANEL_HELP
   HELPSUBITEM     IDM_HELPUSINGHELP,          PANEL_HELPHELPFORHELP
   HELPSUBITEM     IDM_HELPGENERAL,            PANEL_HELPEXTENDED
   HELPSUBITEM     IDM_HELPKEYS,               PANEL_HELPKEYS
   HELPSUBITEM     IDM_HELPINDEX,              PANEL_HELPINDEX
   HELPSUBITEM     IDM_HELPPRODINFO,           PANEL_HELPABOUT
}

/*--------------------------------------------------------------*\
 *  Message box help subtable                                   *
\*--------------------------------------------------------------*/
HELPSUBTABLE SUBTABLE_DEMOMSGBOX
SUBITEMSIZE     2
{
   HELPSUBITEM     MBID_OK,            PANEL_DEMOMSGBOX_OK
   HELPSUBITEM     MBID_HELP,          PANEL_DEMOMSGBOX_HELP
}


/*--------------------------------------------------------------*\
 *  Buttons demo dialog help subtable                           *
\*--------------------------------------------------------------*/
HELPSUBTABLE SUBTABLE_BUTTONSDLG
SUBITEMSIZE     2
{
   HELPSUBITEM     IDC_RADIO1,         PANEL_BUTTONSDLG_RADIO
   HELPSUBITEM     IDC_RADIO2,         PANEL_BUTTONSDLG_RADIO
   HELPSUBITEM     IDC_RADIO3,         PANEL_BUTTONSDLG_RADIO
   HELPSUBITEM     IDC_3STATE,         PANEL_BUTTONSDLG_THREESTATE
   HELPSUBITEM     IDC_CHECKBOX,       PANEL_BUTTONSDLG_CHECKBOX
   HELPSUBITEM     IDC_PUSHBUTTON,     PANEL_BUTTONSDLG_PUSHBUTTON
   HELPSUBITEM     IDC_OK,             PANEL_BUTTONSDLG_OK
   HELPSUBITEM     IDC_CANCEL,         PANEL_BUTTONSDLG_CANCEL,
}

/*--------------------------------------------------------------*\
 *  Listbox demo dialog help subtable                           *
\*--------------------------------------------------------------*/
HELPSUBTABLE SUBTABLE_LISTBOXDLG
SUBITEMSIZE     2
{
   HELPSUBITEM     IDC_LISTBOX,        PANEL_LISTBOXDLG_SINGLE
   HELPSUBITEM     IDC_MULTISELLISTBOX,PANEL_LISTBOXDLG_MULTIPLE
   HELPSUBITEM     IDC_OK,             PANEL_LISTBOXDLG_OK
   HELPSUBITEM     IDC_CANCEL,         PANEL_LISTBOXDLG_CANCEL
}

/*--------------------------------------------------------------*\
 *  Combobox demo dialog help subtable                          *
\*--------------------------------------------------------------*/
HELPSUBTABLE SUBTABLE_COMBOBOXDLG
SUBITEMSIZE     2
{
   HELPSUBITEM     IDC_SIMPLE,         PANEL_COMBOBOXDLG_SIMPLE
   HELPSUBITEM     IDC_DROPDOWN,       PANEL_COMBOBOXDLG_DROPDOWN
   HELPSUBITEM     IDC_DROPDOWNLIST,   PANEL_COMBOBOXDLG_DROPDOWNLIST
   HELPSUBITEM     IDC_OK,             PANEL_COMBOBOXDLG_OK
   HELPSUBITEM     IDC_CANCEL,         PANEL_COMBOBOXDLG_CANCEL
}

/*--------------------------------------------------------------*\
 *  Entry Field demo dialog help subtable                       *
\*--------------------------------------------------------------*/
HELPSUBTABLE SUBTABLE_ENTRYFIELDDLG
SUBITEMSIZE     2
{
   HELPSUBITEM     IDC_ENTRY,          PANEL_ENTRYFIELDDLG_ENTRY
   HELPSUBITEM     IDC_MLE,            PANEL_ENTRYFIELDDLG_MLE
   HELPSUBITEM     IDC_OK,             PANEL_ENTRYFIELDDLG_OK
   HELPSUBITEM     IDC_CANCEL,         PANEL_ENTRYFIELDDLG_CANCEL
}

/*--------------------------------------------------------------*\
 *  Static demo dialog help subtable                            *
\*--------------------------------------------------------------*/
HELPSUBTABLE SUBTABLE_STATICDLG
SUBITEMSIZE     2
{
   HELPSUBITEM     IDC_OK,             PANEL_STATICDLG_OK
   HELPSUBITEM     IDC_CANCEL,         PANEL_STATICDLG_CANCEL
   HELPSUBITEM     IDC_HELP,           PANEL_STATICDLG_HELP
}

/*--------------------------------------------------------------*\
 *  Presentation Parameters demo dialog help subtable           *
\*--------------------------------------------------------------*/
HELPSUBTABLE SUBTABLE_PPDEMODLG
SUBITEMSIZE     2
{
   HELPSUBITEM     IDC_FORECOLORLIST,  PANEL_PPDEMODLG_FORECOLORLIST
   HELPSUBITEM     IDC_BACKCOLORLIST,  PANEL_PPDEMODLG_BACKCOLORLIST
   HELPSUBITEM     IDC_FONTLIST,       PANEL_PPDEMODLG_FONTLIST
   HELPSUBITEM     IDC_CHECKBOX,       PANEL_PPDEMODLG_TESTBUTTON
   HELPSUBITEM     IDC_CANCEL,         PANEL_PPDEMODLG_CANCEL
   HELPSUBITEM     IDC_APPLY,          PANEL_PPDEMODLG_APPLY
   HELPSUBITEM     IDC_HELP,           PANEL_PPDEMODLG_HELP
}


/*--------------------------------------------------------------*\
 *  Container demo dialog help subtable                         *
\*--------------------------------------------------------------*/
HELPSUBTABLE SUBTABLE_CONTAINERDLG
SUBITEMSIZE     2
{
   HELPSUBITEM     IDC_CONTAINER,      PANEL_CONTAINERDLG_CONTAINER
   HELPSUBITEM     IDC_OK,             PANEL_CONTAINERDLG_OK
   HELPSUBITEM     IDC_CANCEL,         PANEL_CONTAINERDLG_CANCEL
   HELPSUBITEM     IDC_HELP,           PANEL_CONTAINERDLG_HELP
}

/*--------------------------------------------------------------*\
 *  Notebook demo dialog help subtable                          *
\*--------------------------------------------------------------*/
HELPSUBTABLE SUBTABLE_NOTEBOOKDLG
SUBITEMSIZE     2
{
   HELPSUBITEM     IDC_NOTEBOOK,       PANEL_NOTEBOOKDLG_NOTEBOOK
   HELPSUBITEM     IDC_OK,             PANEL_NOTEBOOKDLG_OK
   HELPSUBITEM     IDC_CANCEL,         PANEL_NOTEBOOKDLG_CANCEL
   HELPSUBITEM     IDC_HELP,           PANEL_NOTEBOOKDLG_HELP
}

/*--------------------------------------------------------------*\
 *  About Box dialog help subtable                              *
\*--------------------------------------------------------------*/
HELPSUBTABLE SUBTABLE_ABOUTBOX
SUBITEMSIZE     2
{
   HELPSUBITEM     IDC_OK,             PANEL_ABOUTBOX_OK,
   HELPSUBITEM     IDC_CANCEL,         PANEL_ABOUTBOX_OK
}
