"APPLMENU" MENU
BEGIN
    POPUP sp( "&File",
              "&File" )
    BEGIN
        MENUITEM sp( "&Save",
                     "&Save" ), MENU_SAVE
        MENUITEM sp( "Sa&ve As ...",
                     "Sa&ve As ..." ), MENU_SAVE_AS
        MENUITEM sp( "&Clear",
                     "&Clear" ), MENU_CLEAR
        MENUITEM sp( "&Mark",
                     "&Mark" ), MENU_MARK
        MENUITEM SEPARATOR
        MENUITEM sp( "Alert On &Warnings",
                     "Alert On &Warnings" ), MENU_ALERT_WARNINGS
        MENUITEM sp( "Show &DIP status",
                     "Show &DIP status" ), MENU_SHOW_DIP_STATUS
        MENUITEM sp( "Set &Font",
                     "Set &Font" ), MENU_SET_FONT
        MENUITEM SEPARATOR
        MENUITEM sp( "&Reset Fault Handled Flag",
                     "&Reset Fault Handled Flag" ), MENU_RESET_FAULT_BIT
        MENUITEM SEPARATOR
        MENUITEM sp( "E&xit",
                     "E&xit" ), MENU_EXIT
    END
    POPUP sp( "&Log",
              "&Log" )
    BEGIN
        MENUITEM sp( "&Log Current State",
                     "&Log Current State" ), MENU_LOG_CURRENT_STATE
        MENUITEM sp( "&Erase Log File",
                     "&Erase Log File" ), MENU_ERASE_LOG_FILE
        MENUITEM SEPARATOR
        MENUITEM sp( "L&og Options ...",
                     "L&og Options ..." ), MENU_LOG_OPTIONS
    END
    POPUP sp( "&Task",
              "&Task" )
    BEGIN
        MENUITEM sp( "&Task Control ...",
                     "&Task Control ..." ), MENU_DUMP_A_TASK
    END
    POPUP sp( "&Help",
              "&Help" )
    BEGIN
        MENUITEM sp( "&Contents",
                     "&Contents" ), MENU_HELP_CONTENTS
        MENUITEM sp( "&Search for help on...",
                     "&Search for help on..." ), MENU_HELP_SRCH
        MENUITEM SEPARATOR
        MENUITEM sp( "&How to use help",
                     "&How to use help" ), MENU_HELP_ON_HELP
        MENUITEM SEPARATOR
        MENUITEM sp( "&About ...",
                     "&About ..." ), MENU_ABOUT
    END
END

