#include <windows.h>
#include "menu.rh"
#include "mark.rh"
#include "procctl.rh"
#include "about.rh"
#include "intdlg.rh"
#include "notelog.rh"
#include "stat.rh"
#include "regcmbo.rh"
#include "regedit.rh"
#include "thrdctl.rh"
#include "priority.rh"
#include "retcode.rh"
#include "drwatlog.rh"
#include "end.rh"
#ifndef CHICAGO
#include "memory.rh"
#endif
#include "memwnd.rh"
#include "memdmp.rh"
#include "rcstr.grh"
#include "uistr.grh"
#include "dipload.rh"
#include "banner.h"
#include "selinfo.rh"
#include "hdlinfo.rh"

#define FIRST_COPYRIGHT_YEAR 1993

"APPLICON" ICON "drwatcom.ico"
"ERRICON" ICON "err.ico"

#ifdef JAPANESE
 #define sp( s1, s2 ) s2
#else
 #define sp( s1, s2 ) s1
#endif
#include "menu.rc"
#undef sp

STRINGTABLE
BEGIN
  #ifdef JAPANESE
    #define pick(c,e,j)    c, [ j ]
    #define madpick(c,e,j) __##c, [ j ]
  #else
    #define pick(c,e,j)    c, [ e ]
    #define madpick(c,e,j) __##c, [ e ]
  #endif

    #include "rcstrmsg.gh"
    #include "uistrmsg.gh"

    #undef madpick
    #undef pick
END

#include "procctl.dlg"
#include "about.dlg"
#include "mark.rc"
#include "intdlg.dlg"
#include "stat.dlg"
#include "regcmbo.dlg"
#include "regedit.dlg"
#include "notelog.dlg"
#include "thrdctl.dlg"
#include "priority.dlg"
#include "retcode.dlg"
#include "drwatlog.dlg"
#include "end.dlg"
#ifndef CHICAGO
#include "memory.dlg"
#endif
#include "memwnd.rc"
#include "memdmp.dlg"
#include "dipload.dlg"
