#include <windows.h>
#include "newproj.h"
#include "rcstr.gh"

#define pick( a, b, c ) a, [ b ]

STRINGTABLE
BEGIN
    #include "appwiz.msg"
END

#ifdef __NT__
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST MOVEABLE PURE "appmanif.xml"
#endif

#include "newproj.dlg"

