#include <os2.h>
#include "test.h"
#include "test_dlg.h"

DEFAULTICON test.ico
ICON IDR_MAIN  test.ico
ICON IDR_ICON1 test1.ico
ICON IDR_ICON2 test2.ico

BITMAP IDR_BITMAP test.bmp

MENU IDR_MAIN
{
   SUBMENU     "~File", IDM_FILE, MIS_TEXT
   {
      MENUITEM    "~New",             IDM_FILENEW,        MIS_TEXT
      MENUITEM    "~Open...",         IDM_FILEOPEN,       MIS_TEXT
      MENUITEM SEPARATOR
      MENUITEM    "~Save",            IDM_FILESAVE,       MIS_TEXT
      MENUITEM    "Save ~as...",      IDM_FILESAVEAS,     MIS_TEXT
   }

   SUBMENU     "~Edit", IDM_EDIT, MIS_TEXT
   {
      MENUITEM    "~Undo\tAlt+Backspace",     IDM_EDITUNDO,   MIS_TEXT
      MENUITEM SEPARATOR
      MENUITEM    "Cu~t\tShift+Delete",       IDM_EDITCUT,    MIS_TEXT
      MENUITEM    "~Copy\tCtrl+Insert",       IDM_EDITCOPY,   MIS_TEXT
      MENUITEM    "~Paste\tShift+Insert",     IDM_EDITPASTE,  MIS_TEXT
      MENUITEM SEPARATOR
      MENUITEM    "Cl~ear\tDelete",           IDM_EDITCLEAR,  MIS_TEXT
   }

   SUBMENU     "~Options", IDM_OPTIONS, MIS_TEXT
   {
      SUBMENU     "~Foreground color",  IDM_OPTIONSFORECOLOR, MIS_TEXT
      {
         MENUITEM    "~Black",   IDM_OPTIONSFORECOLORBLACK,  MIS_TEXT
         MENUITEM    "B~lue",    IDM_OPTIONSFORECOLORBLUE,   MIS_TEXT
         MENUITEM    "~Red",     IDM_OPTIONSFORECOLORRED,    MIS_TEXT
         MENUITEM    "~Default", IDM_OPTIONSFORECOLORDEFAULT,MIS_TEXT
      }

      SUBMENU     "~Background color",  IDM_OPTIONSBACKCOLOR, MIS_TEXT
      {
         MENUITEM    "~Yellow",  IDM_OPTIONSBACKCOLORYELLOW, MIS_TEXT
         MENUITEM    "~Pink",    IDM_OPTIONSBACKCOLORPINK,   MIS_TEXT
         MENUITEM    "~Cyan",    IDM_OPTIONSBACKCOLORCYAN,   MIS_TEXT
         MENUITEM    "~Default", IDM_OPTIONSBACKCOLORDEFAULT,MIS_TEXT
      }

      MENUITEM SEPARATOR
      MENUITEM    "F~ont...\tCtrl+F",      IDM_OPTIONSFONT,     MIS_TEXT
   }

  SUBMENU     "~Demo",    IDM_DEMO, MIS_TEXT
  {
     SUBMENU     "~Dialog controls",     IDM_DEMODLG,    MIS_TEXT
     {
        MENUITEM    "~Buttons...",      IDM_DEMODLGBUTTONS,     MIS_TEXT
        MENUITEM    "~List boxes...",   IDM_DEMODLGLISTBOXES,   MIS_TEXT
        MENUITEM    "~Combo boxes...",  IDM_DEMODLGCOMBOBOXES,  MIS_TEXT
        MENUITEM    "~Entry fields...", IDM_DEMODLGENTRYFIELDS, MIS_TEXT
        MENUITEM    "~Static...",       IDM_DEMODLGSTATIC,      MIS_TEXT
        MENUITEM    "~Presentation parameters...",   IDM_DEMODLGPP,  MIS_TEXT
        MENUITEM SEPARATOR
        SUBMENU     "C~ua controls",    IDM_DEMOCUACONTROLS,    MIS_TEXT
        {
           MENUITEM    "Sl~iders...",      IDM_DEMODLGSLIDER,     MIS_TEXT
           MENUITEM    "S~pin Buttons...", IDM_DEMODLGSPINBUTTON, MIS_TEXT
           MENUITEM    "~Notebook...",     IDM_DEMODLGNOTEBOOK,   MIS_TEXT
           MENUITEM    "~Value Set...",    IDM_DEMODLGVALUESET,   MIS_TEXT
           MENUITEM    "C~ontainer...",    IDM_DEMODLGCONTAINER,  MIS_TEXT
        }
     }

     SUBMENU     "~Message boxes",     IDM_DEMOMSGBOX,    MIS_TEXT
     {
        MENUITEM    "~Ok Button...",  IDM_DEMOMSGBOXOK, MIS_TEXT
        MENUITEM    "O~k/Cancel Buttons...", IDM_DEMOMSGBOXOKCANCEL, MIS_TEXT
        MENUITEM    "~Yes/No Buttons...", IDM_DEMOMSGBOXYESNO, MIS_TEXT
        MENUITEM    "Ye~s/No/Cancel Buttons...", IDM_DEMOMSGBOXYESNOCANCEL, MIS_TEXT
        MENUITEM    "~Retry/Cancel Buttons...",   IDM_DEMOMSGBOXRETRYCANCEL,  MIS_TEXT
        MENUITEM    "~Abort/Retry/Ignore Buttons...",   IDM_DEMOMSGBOXABORT,  MIS_TEXT
        MENUITEM    "~Enter Button...",   IDM_DEMOMSGBOXENTER,  MIS_TEXT
        MENUITEM    "E~nter/Cancel Buttons...",   IDM_DEMOMSGBOXENTERCANCEL,  MIS_TEXT
        MENUITEM SEPARATOR
        MENUITEM    "~Query Icon...",   IDM_DEMOMSGBOXQUERY, MIS_TEXT
        MENUITEM    "~Warning Icon...",   IDM_DEMOMSGBOXWARNING, MIS_TEXT
        MENUITEM    "~Information Icon...",   IDM_DEMOMSGBOXINFO, MIS_TEXT
        MENUITEM    "~Action...",   IDM_DEMOMSGBOXCRITICAL, MIS_TEXT
        MENUITEM SEPARATOR
        MENUITEM    "~Application modal...", IDM_DEMOMSGBOXAPP, MIS_TEXT
        MENUITEM    "~System modal...", IDM_DEMOMSGBOXSYS, MIS_TEXT
        MENUITEM    "~Help...",  IDM_DEMOMSGBOXHELP,    MIS_TEXT
     }
  }

  SUBMENU     "~Help",    IDM_HELP,   MIS_TEXT
  {
     MENUITEM    "Help ~index",          IDM_HELPINDEX,      MIS_TEXT
     MENUITEM    "~General help",        IDM_HELPGENERAL,    MIS_TEXT
     MENUITEM    "~Keys help",           IDM_HELPKEYS,       MIS_TEXT
     MENUITEM    "~Using help",          IDM_HELPUSINGHELP,  MIS_TEXT
     MENUITEM SEPARATOR
     MENUITEM    "~Product information", IDM_HELPPRODINFO,   MIS_TEXT
  }
}

MENU    IDD_CONTAINERMENU
{
   SUBMENU  "~Views", IDM_VIEWS
   {
      MENUITEM "ICON",      IDM_ICON,      MIS_TEXT
      MENUITEM "NAME",      IDM_NAME,      MIS_TEXT
      MENUITEM "TEXT",      IDM_TEXT,      MIS_TEXT
      MENUITEM "DETAIL",    IDM_DETAIL,    MIS_TEXT
    }
}

/* include dialog templates created by dialog box editor */

//rcinclude sty_help.rc
rcinclude test.dlg
