#include <os2.h>
#include "pmdbg.h"

ICON    ID_WINDOW pmdbg.ico

MENU    ID_WINDOW PRELOAD
BEGIN
  SUBMENU "~Options", ID_OPTIONS
  BEGIN
    MENUITEM "~Load\tAlt+l", ID_LOAD, MIS_TEXT
    MENUITEM "~Run\tAlt+r", ID_RUN, MIS_TEXT
    MENUITEM "~Kill\tAlt+k", ID_KILL, MIS_TEXT
    MENUITEM SEPARATOR
    MENUITEM "~Hard Mode\tAlt+h", ID_HARD, MIS_TEXT
    MENUITEM SEPARATOR
    MENUITEM "E~xit \tF3",       ID_EXITPROG, MIS_TEXT
  END
END

ACCELTABLE ID_WINDOW PRELOAD
BEGIN
  "l",   ID_LOAD, CHAR,        ALT
  "r",   ID_RUN, CHAR,        ALT
  "k",   ID_KILL, CHAR,        ALT
  "h",   ID_HARD, CHAR,        ALT
   VK_F3, ID_EXITPROG, VIRTUALKEY
END
