#include "wzoom.h"
#include "about.h"
#include "banner.h"

#undef pick
#undef menupick
#ifdef JAPANESE
 #define pick( a, b, c ) a, c
 #define sp( s1, s2 ) s2
#else
 #define pick( a, b, c ) a, b
 #define sp( s1, s2 ) s1
#endif

"APPLICON" ICON "zoom.ico"

#ifdef __NT__
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST MOVEABLE PURE "appmanif.xml"
#endif

#include "menu.rc"

STRINGTABLE
BEGIN
    #include "rcstrmsg.gh"
    #include "uistrmsg.gh"
END

#include "config.dlg"
#include "about.dlg"
