#include "errcod.h"

stringtable begin

    CP_TERMINATE+MSG_LANG_BASE "program abnormally terminated"
    EX_Z_2_NOT_POS+MSG_LANG_BASE "zero**J where J <= 0 is not allowed"
    EX_NOT_INT_ARG+MSG_LANG_BASE "X**Y where X < 0.0, Y is not of type INTEGER, is not allowed"
    EX_CZ_2_NOT_REAL+MSG_LANG_BASE "(0,0)**Y where Y is not real is not allowed"
    FM_ASSUME_COMMA+MSG_LANG_BASE "missing delimiter in format string, comma assumed"
    FM_CONST+MSG_LANG_BASE "missing or invalid constant"
    FM_D_EXT+MSG_LANG_BASE "Ew.dDe format code is not FORTRAN 77 standard"
    FM_DECIMAL+MSG_LANG_BASE "missing decimal point"
    FM_DELIM+MSG_LANG_BASE "missing or invalid edit descriptor in format string"
    FM_FMTCHAR+MSG_LANG_BASE "unrecognizable edit descriptor in format string"
    FM_INV_REP+MSG_LANG_BASE "invalid repeat specification"
    FM_M_EXT+MSG_LANG_BASE "$ or \ format code is not FORTRAN 77 standard"
    FM_MODIFIER+MSG_LANG_BASE "invalid field modifier"
    FM_NO_REP+MSG_LANG_BASE "repeat specification not allowed for this format code"
    FM_QUOTE+MSG_LANG_BASE "no closing quote on apostrophe edit descriptor"
    FM_SPEC_256+MSG_LANG_BASE "field count greater than 256 is invalid"
    FM_WIDTH+MSG_LANG_BASE "invalid field width specification"
    FM_Z_EXT+MSG_LANG_BASE "Z format code is not FORTRAN 77 standard"
    FM_TOO_LARGE+MSG_LANG_BASE "FORMAT statement exceeds allotted storage size"
    FM_NOT_INP+MSG_LANG_BASE "format specification not allowed on input"
    FM_REP+MSG_LANG_BASE "FORMAT missing repeatable edit descriptor"
    FM_ASSUME_CONST+MSG_LANG_BASE "missing constant before X edit descriptor, 1 assumed"
    FM_Q_EXT+MSG_LANG_BASE "Ew.dQe format code is not FORTRAN 77 standard"
    FM_Q_FORMAT+MSG_LANG_BASE "Qw.d format code is not FORTRAN 77 standard"
    IO_ABACK+MSG_LANG_BASE "BACKSPACE statement requires sequential access mode"
    IO_ACTIVE_ALREADY+MSG_LANG_BASE "input/output is already active"
    IO_AEND+MSG_LANG_BASE "ENDFILE statement requires sequential access mode"
    IO_AF1+MSG_LANG_BASE "formatted connection requires formatted input/output statements"
    IO_AF2+MSG_LANG_BASE "unformatted connection requires unformatted input/output statements"
    IO_AREW+MSG_LANG_BASE "REWIND statement requires sequential access"
    IO_BAD_CHAR+MSG_LANG_BASE "bad character in input field"
    IO_BLNK_FMT+MSG_LANG_BASE "BLANK specifier requires FORM specifier to be 'FORMATTED'"
    IO_FILE_PROBLEM+MSG_LANG_BASE "system file error - %s1"
    IO_FMT_MISMATCH+MSG_LANG_BASE "format specification does not match data type"
    IO_FREE_MISMATCH+MSG_LANG_BASE "input item does not match the data type of list variable"
    IO_IFULL+MSG_LANG_BASE "internal file is full"
    IO_IRECL+MSG_LANG_BASE "RECL specifier is invalid"
    IO_ISTAT+MSG_LANG_BASE "invalid STATUS specifier in CLOSE statement"
    IO_NOT_CONNECTED+MSG_LANG_BASE "unit specified is not connected"
    IO_PAST_EOF+MSG_LANG_BASE "attempt to perform data transfer past end of file"
    IO_RACCM+MSG_LANG_BASE "invalid RECL specifier/ACCESS specifier combination"
    IO_REC1_ACCM+MSG_LANG_BASE "REC specifier required in direct access input/output statements"
    IO_REC2_ACCM+MSG_LANG_BASE "REC specifier not allowed in sequential access input/output statements"
    IO_SUBSEQUENT_OPEN+MSG_LANG_BASE "%s1 specifier may not change in a subsequent OPEN statement"
    IO_SFILE+MSG_LANG_BASE "invalid STATUS specifier for given file"
    IO_SNAME+MSG_LANG_BASE "invalid STATUS specifier/FILE specifier combination"
    IO_UNFMT_RECL+MSG_LANG_BASE "record size exceeded during unformatted input/output"
    IO_UNIT_EXIST+MSG_LANG_BASE "unit specified does not exist"
    IO_IREC+MSG_LANG_BASE "REC specifier is invalid"
    IO_IUNIT+MSG_LANG_BASE "UNIT specifier is invalid"
    IO_BUFF_LEN+MSG_LANG_BASE "formatted record or format edit descriptor is too large for record size"
    IO_BAD_SPEC+MSG_LANG_BASE "illegal '%s1=' specifier"
    IO_CC_FORM+MSG_LANG_BASE "invalid CARRIAGECONTROL specifier/FORM specifier combination"
    IO_BAD_ACTION+MSG_LANG_BASE "i/o operation not consistent with file attributes"
    IO_NML_NO_SUCH_NAME+MSG_LANG_BASE "symbol %s1 not found in NAMELIST"
    IO_NML_BAD_SYNTAX+MSG_LANG_BASE "syntax error during NAMELIST-directed input"
    IO_NML_BAD_SUBSCRIPT+MSG_LANG_BASE "subscripting error during NAMELIST-directed i/o"
    IO_NML_BAD_SUBSTRING+MSG_LANG_BASE "substring error during NAMELIST-directed i/o"
    IO_IBLOCKSIZE+MSG_LANG_BASE "BLOCKSIZE specifier is invalid"
    IO_NO_RECORDS+MSG_LANG_BASE "invalid operation for files with no record structure"
    IO_IOVERFLOW+MSG_LANG_BASE "integer overflow converting character data to integer"
    IO_FRANGE_EXCEEDED+MSG_LANG_BASE "range exceeded converting character data to floating-point"
    KO_FDIV_ZERO+MSG_LANG_BASE "floating-point divide by zero"
    KO_FOVERFLOW+MSG_LANG_BASE "floating-point overflow"
    KO_FUNDERFLOW+MSG_LANG_BASE "floating-point underflow"
    KO_IDIV_ZERO+MSG_LANG_BASE "integer divide by zero"
    KO_INTERRUPT+MSG_LANG_BASE "program interrupted from keyboard"
    KO_IOVERFLOW+MSG_LANG_BASE "integer overflow"
    LI_ARG_GT_ZERO+MSG_LANG_BASE "argument must be greater than zero"
    LI_ARG_LE_ONE+MSG_LANG_BASE "absolute value of argument to arcsine, arccosine must not exceed one"
    LI_ARG_NEG+MSG_LANG_BASE "argument must not be negative"
    LI_ARG_ZERO+MSG_LANG_BASE "argument(s) must not be zero"
    LI_CHAR_BOUND+MSG_LANG_BASE "argument of CHAR must be in the range zero to 255"
    LI_ICHAR_ONE+MSG_LANG_BASE "length of ICHAR argument greater than one"
    MO_DYNAMIC_OUT+MSG_LANG_BASE "out of memory"
    MO_STORAGE_NOT_ALLOCATED+MSG_LANG_BASE "attempt to deallocate an unallocated array or character*(*) variable"
    MO_STORAGE_ALLOCATED+MSG_LANG_BASE "attempt to allocate an already allocated array or character*(*) variable"
    PC_NO_OPENPAREN+MSG_LANG_BASE "missing or misplaced opening parenthesis"
    PC_UNMATCH_PAREN+MSG_LANG_BASE "unmatched parentheses"
    SS_SSCR_RANGE+MSG_LANG_BASE "subscript expression out of range; %s1 does not exist"
    SS_SSTR_RANGE+MSG_LANG_BASE "substring expression (%i1:%i2) is out of range"
    SV_BAD_SSCR+MSG_LANG_BASE "invalid subscript expression"
    SV_DIMENSION_LIMIT+MSG_LANG_BASE "limit of 65535 elements per dimension has been exceeded"
    MS_TRACE_INFO+MSG_LANG_BASE "- Executing line %u1 in file %s2"
    MS_CALLED_FROM+MSG_LANG_BASE "- Called from line %u1 in file %s2"

end
