#ifdef __OS2__
#include <os2.h>
#else
#include "windows.h"
#endif

#include "../h/rcdef.h"
#include "../h/wprof.rc"

#ifdef __NT__
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST MOVEABLE PURE "appmanif.xml"
#endif

#ifdef __OS2__

ICON 1          "../bitmap/os2/prof_i.ico"
ICON WPROF_ICON "../bitmap/os2/prof_i.ico"

#else

ApplIcon icon "../bitmap/win/prof_i.ico"

#endif
