#include "windows.h"
#include "wsamprc.h"
ApplIcon ICON wsamplew.ico

#undef pick2
#undef resname
#define pick2( e_string, j_string ) e_string
#define resname( name ) name##0

#include "wsampres.rc"

#undef pick2
#undef resname
#define pick2( e_string, j_string ) j_string
#define resname( name ) name##1

#include "wsampres.rc"


ApplAccl ACCELERATORS
BEGIN
  "S",  PUSH_GETFILES_ID, ALT
  "s",  PUSH_GETFILES_ID, ALT
  "T",  PUSH_OK_ID, ALT
  "t",  PUSH_OK_ID, ALT
END

#include "../h/wsample.rc"
