#include "wzoom.h"
#include "about.h"
#include "banner.h"

"APPLICON" ICON "zoom.ico"

#ifdef __NT__
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST MOVEABLE PURE "appmanif.xml"
#endif

#ifdef JAPANESE
 #define sp( s1, s2 ) s2
#else
 #define sp( s1, s2 ) s1
#endif
#include "menu.rc"
#undef menupick

#include "strbitns.h"

#ifdef JAPANESE
 #define pick( a, b, c ) a, [ c ]
#else
 #define pick( a, b, c ) a, [ b ]
#endif
STRINGTABLE
BEGIN
    #include "rcstrmsg.gh"
    #include "uistrmsg.gh"
END
#undef pick

#include "config.dlg"
#include "about.dlg"
