*.blt
*.cn1
*.cnt
*.err
*.GML
*.idx
*.kw
*.LAY
*.lay
*.mix
*.PTF
*.ptf

pdf.bat
SYSUSR*.GML
sysusr*.gml
wgml.bat
winehc.bat
wgmlopts.tmp
whpcopts.tmp

/dos/*.h
/dos/*.ib
/dos/*.ihp
/dos/*.tbl

/html/*.bmp
/html/*.h
/html/*.htm
/html/*.tbl

/htmlhelp/*.bmp
/htmlhelp/*.chi
/htmlhelp/*.chm
/htmlhelp/*.h
/htmlhelp/*.hhc
/htmlhelp/*.hhk
/htmlhelp/*.hhp
/htmlhelp/*.htm
/htmlhelp/*.tbl
/htmlhelp/*/*.bmp
/htmlhelp/*/*.chi
/htmlhelp/*/*.chm
/htmlhelp/*/*.hhc
/htmlhelp/*/*.hhk
/htmlhelp/*/*.hhp
/htmlhelp/*/*.htm

/nt/*.h
/nt/*.hh
/nt/*.hlp
/nt/*.hpj
/nt/*.rtf
/nt/*.tbl

/os2/*.h
/os2/*.hlp
/os2/*.inf
/os2/*.ipf
/os2/*.tbl

/pdf/*.pdf
/pdf/*.PS
/pdf/*.ps
/pdf/tmp/*.ps

/ps/*.PS
/ps/*.ps
/ps/tmp/*.ps

/win/*.h
/win/*.hh
/win/*.hlp
/win/*.hpj
/win/*.ph
/win/*.rtf
/win/*.tbl

