/dos/*
!/dos/makefile

/html/*
!/html/makefile

/htmlhelp/*
!/htmlhelp/makefile
/htmlhelp/*/*

/nt/*
!/nt/makefile

/os2/*
!/os2/makefile

/pdf/*
!/pdf/makefile
/pdf/tmp/*

/ps/*
!/ps/makefile

/win/*
!/win/makefile
