/dos/*
!/dos/makefile

/html/*
!/html/makefile

/htmlhelp/*
!/htmlhelp/makefile

/nt/*
!/nt/makefile

/os2/*
!/os2/makefile

/pdf/*
!/pdf/makefile

/ps/*
!/ps/makefile

/win/*
!/win/makefile

/txt/*
!/txt/makefile
