#define         MSG_BASE        0

#include "wgmlmsgs.gh"
#include "wreslang.h"

STRINGTABLE
BEGIN
    #define pick(c,e,j) (c + RLE_ENGLISH * MSG_LANG_SPACING), [ e ]

    #include "wgmlerr.msg"
    #include "wgml.msg"

    #undef pick

    #define pick(c,e,j) (c + RLE_JAPANESE * MSG_LANG_SPACING), [ j ]

    #include "wgmlerr.msg"
    #include "wgml.msg"

    #undef pick
END
