#include "windows.h"
#include "wserver.h"
#include "servname.h"
#include "banner.h"
#include "strbitns.h"

// Use low-color icons for Windows 3.x.
#ifdef __WINDOWS__
ServerIcon ICON winsrv30.ico
#else
ServerIcon ICON winserv.ico
#endif

ServerMenu MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "E&xit...", MENU_EXIT
    END
    MENUITEM "&Connect!", MENU_CONNECT
    MENUITEM "&Options!", MENU_OPTIONS
    MENUITEM "&Disconnect!", MENU_DISCONNECT
#ifdef __NT__
    MENUITEM "&Break!", MENU_BREAK
#endif
    POPUP "&Help"
    BEGIN
        MENUITEM "&About...", MENU_ABOUT
    END
END

AboutBox DIALOG 22, 17, 180, 65
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "About..."
BEGIN
    ICON "ServerIcon", -1, 5,5,40,40
    CTEXT [ banner1w1( SERVNAME ) STR_BITNEES ], -1, 20,  5, 160, 8
    CTEXT [ banner1w2( _XXXSERV_VERSION_ ) ], -1, 20, 20, 160, 8
    DEFPUSHBUTTON "OK", IDOK, 74, 45, 32, 14, WS_GROUP
END

#include "options.h"
#include "options.dlg"
