#include "windows.h"
#include "wserver.h"
#include "strbitns.h"

// Use low-color icons for Windows 3.x.
#ifdef __WINDOWS__
ServerIcon ICON winsrv30.ico
#else
ServerIcon ICON winserv.ico
#endif

ServerMenu MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "E&xit...", MENU_EXIT
    END
    MENUITEM "&Connect!", MENU_CONNECT
    MENUITEM "&Options!", MENU_OPTIONS
    MENUITEM "&Disconnect!", MENU_DISCONNECT
#ifdef __NT__
    MENUITEM "&Break!", MENU_BREAK
#endif
    POPUP "&Help"
    BEGIN
        MENUITEM "&About...", MENU_ABOUT
    END
END

AboutBox DIALOG 22, 17, 144, 75
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "About..."
BEGIN
    CTEXT "Watcom Remote Debug Server", -1, 0,  5, 144, 8
    CTEXT [ "for Windows" STR_BITNEES ], -1, 0,  14, 144, 8
    CTEXT "Version 1.0", -1, 0, 23, 144, 8
    DEFPUSHBUTTON "OK", IDOK, 53, 59, 32, 14, WS_GROUP
    ICON "ServerIcon", -1, 15,15,40,40
END

#include "options.h"
#include "options.dlg"
