/* UTF-8 encoding, ¥ */

#ifdef RESX_GUI
#ifndef __OS2__
CLOSEBMP    BITMAP      "closebmp.bmp"
#endif
#endif

#include "guimsgs.grh"

STRINGTABLE
BEGIN
    #define pick(c,e,j) (GUI_LITERAL_##c + RLE_ENGLISH * MSG_LANG_SPACING), [ e ]
    #include "gui.msg"
    #undef pick
    #define pick(c,e,j) (GUI_LITERAL_##c + RLE_JAPANESE * MSG_LANG_SPACING), [ j ]
    #include "gui.msg"
    #undef pick
END
