#include "guimsgs.h"
STRINGTABLE
BEGIN
    #ifdef JAPANESE
        #define pick( a, b, c ) GUI_LITERAL_##a, c
    #else
        #define pick( a, b, c ) GUI_LITERAL_##a, b
    #endif
    #include "gui.msg"
    #undef pick
END
