#include <os2.h>
#include "wdpmhelp.h"

MENU    ID_WINDOW PRELOAD
BEGIN
  MENUITEM "~Switch", ID_SWITCH, MIS_TEXT
END

ACCELTABLE ID_WINDOW PRELOAD
BEGIN
  "S",   ID_SWITCH, CHAR, CONTROL
  "s",   ID_SWITCH, CHAR, CONTROL
END
