/************************************************************************/
/*                         WTOUCH RESOURCE FILE                         */
/************************************************************************/
/*
 *  %s  : string
 *  %Z  : message from 'system error' (see below)
 */

#include "wtmsg.h"
#include "wreslang.h"

STRINGTABLE
BEGIN

#undef pick
#define pick( code, string1, string2 )  \
        (code+RLE_ENGLISH*MSG_LANG_SPACING), string1

#include "wtouch.msg"

#undef pick
#define pick( code, string1, string2 )  \
        (code+RLE_JAPANESE*MSG_LANG_SPACING), string2

#include "wtouch.msg"

#include "usage.rc"
#include "usagej.rc"

END
