/************************************************************************/
/*                         WTOUCH RESOURCE FILE                         */
/************************************************************************/
/*
 *  %s  : string
 *  %Z  : message from 'system error' (see below)
 */

#include "wtmsg.h"
#include "wreslang.h"

STRINGTABLE
BEGIN
    #define pick(c,e,j) (c + RLE_ENGLISH * MSG_LANG_SPACING), [ e ]

    #include "wtouch.msg"
    #include "usage.gh"

    #undef pick

    #define pick(c,e,j) (c + RLE_JAPANESE * MSG_LANG_SPACING), [ j ]

    #include "wtouch.msg"
    #include "usagej.gh"

    #undef pick
END
