#include "wv.rc"

ICON 1 "../zapant.ico"
ICON ICON_MAIN "../zapant.ico"
ICON ICON_FPU "../8087.ico"
ICON ICON_ASM "../asm.ico"
ICON ICON_BRK "../brk.ico"
ICON ICON_CALL "../call.ico"
ICON ICON_EXE "../exe.ico"
ICON ICON_FUNC "../func.ico"
ICON ICON_GLOB "../glob.ico"
ICON ICON_ACL "../hot.ico"
ICON ICON_IO "../io.ico"
ICON ICON_LOG "../log.ico"
ICON ICON_MEM "../mem.ico"
ICON ICON_MOD "../mod.ico"
ICON ICON_REG "../reg.ico"
ICON ICON_REPL "../repl.ico"
ICON ICON_SRC "../src.ico"
ICON ICON_SRCH "../srch.ico"
ICON ICON_THRD "../thrd.ico"
ICON ICON_VAR "../var.ico"
ICON ICON_LOC "../loc.ico"
ICON ICON_WAT "../wat.ico"

BITMAP BITMAP_SPLASH "../../win/splash.bmp"
BITMAP BITMAP_READ1 "../../win/read1.bmp"
BITMAP BITMAP_READ2 "../../win/read2.bmp"
BITMAP BITMAP_WRITE1 "../../win/write1.bmp"
BITMAP BITMAP_WRITE2 "../../win/write2.bmp"
BITMAP BITMAP_OPEN1 "../../win/open1.bmp"
BITMAP BITMAP_OPEN2 "../../win/open2.bmp"
BITMAP BITMAP_CLOSE1 "../../win/close1.bmp"
BITMAP BITMAP_CLOSE2 "../../win/close2.bmp"
BITMAP BITMAP_POINTS1 "../../win/points1.bmp"
BITMAP BITMAP_POINTS2 "../../win/points2.bmp"
BITMAP BITMAP_IOPEN1 "../../win/iopen1.bmp"
BITMAP BITMAP_IOPEN2 "../../win/iopen2.bmp"
BITMAP BITMAP_ICLOSE1 "../../win/iclose1.bmp"
BITMAP BITMAP_ICLOSE2 "../../win/iclose2.bmp"
BITMAP BITMAP_BPOINTS1 "../../win/bpoints1.bmp"
BITMAP BITMAP_BPOINTS2 "../../win/bpoints2.bmp"
BITMAP BITMAP_CODEHER1 "../../win/codeher1.bmp"
BITMAP BITMAP_CODEHER2 "../../win/codeher2.bmp"
BITMAP BITMAP_BRKHERE1 "../../win/brkhere1.bmp"
BITMAP BITMAP_BRKHERE2 "../../win/brkhere2.bmp"
BITMAP BITMAP_DIMBRK1 "../../win/dimbrk1.bmp"
BITMAP BITMAP_DIMBRK2 "../../win/dimbrk2.bmp"
BITMAP BITMAP_OPENSRC1 "../../win/source1.bmp"
BITMAP BITMAP_OPENSRC2 "../../win/source2.bmp"
BITMAP BITMAP_CLSSRC1 "../../win/source2.bmp"
BITMAP BITMAP_CLSSRC2 "../../win/source1.bmp"
BITMAP BITMAP_OPENASM1 "../../win/assembl1.bmp"
BITMAP BITMAP_OPENASM2 "../../win/assembl2.bmp"
BITMAP BITMAP_CLSASM1 "../../win/assembl2.bmp"
BITMAP BITMAP_CLSASM2 "../../win/assembl1.bmp"
BITMAP BITMAP_CURRLIN1 "../../win/currlin1.bmp"
BITMAP BITMAP_CURRLIN2 "../../win/currlin2.bmp"
BITMAP BITMAP_UNPOINT1 "../../win/unpoint1.bmp"
BITMAP BITMAP_UNPOINT2 "../../win/unpoint2.bmp"
BITMAP BITMAP_CURRBRK1 "../../win/currbrk1.bmp"
BITMAP BITMAP_CURRBRK2 "../../win/currbrk2.bmp"
BITMAP BITMAP_CURRDIM1 "../../win/currdim1.bmp"
BITMAP BITMAP_CURRDIM2 "../../win/currdim2.bmp"
BITMAP BITMAP_GO "../../win/go.bmp"
BITMAP BITMAP_OVER "../../win/over.bmp"
BITMAP BITMAP_INTO "../../win/into.bmp"
BITMAP BITMAP_RETURN "../../win/return.bmp"
BITMAP BITMAP_BACK "../../win/back.bmp"
BITMAP BITMAP_FOR "../../win/for.bmp"
BITMAP BITMAP_UP "../../win/up.bmp"
BITMAP BITMAP_DOWN "../../win/down.bmp"
BITMAP BITMAP_HOME "../../win/home.bmp"
