#include "dlgamb.h"
#include "dlgayn.h"
#include "dlgbrk.h"
#include "dlgcmd.h"
#include "dlglist.h"
#include "dlgnewp.h"
#include "dlgoptn.h"
#include "dlgvarx.h"
#include "dlgwind.h"
#include "dlgstk.h"
#include "dlgasync.h"
#ifdef JAPANESE
    #include "japayn.gdl"
    #include "japbrk.gdl"
    #include "japcmd.gdl"
    #include "japlist.gdl"
    #include "japnewp.gdl"
    #include "japoptn.gdl"
    #include "japvarx.gdl"
    #include "japamb.gdl"
    #include "japwind.gdl"
    #include "japstk.gdl"
    #include "japhis.gdl"
#else
    #include "dlgayn.gdl"
    #include "dlgbrk.gdl"
    #include "dlgcmd.gdl"
    #include "dlglist.gdl"
    #include "dlgnewp.gdl"
    #include "dlgoptn.gdl"
    #include "dlgvarx.gdl"
    #include "dlgamb.gdl"
    #include "dlgwind.gdl"
    #include "dlgstk.gdl"
    #include "dlghis.gdl"
    #include "dlgasync.gdl"
#endif
