#include "guipick.rh"
#include "dlgamb.rh"
#include "dlgayn.rh"
#include "dlgbrk.rh"
#include "dlgcmd.rh"
#include "dlglist.rh"
#include "dlgnewp.rh"
#include "dlgoptn.rh"
#include "dlgvarx.rh"
#include "dlgwind.rh"
#include "dlgstk.rh"
#include "dlgasync.rh"
#ifdef __OS2__
#ifdef JAPANESE
    #include "japayn.gdl"
    #include "japbrk.gdl"
    #include "japcmd.gdl"
    #include "japlist.gdl"
    #include "japnewp.gdl"
    #include "japoptn.gdl"
    #include "japvarx.gdl"
    #include "japamb.gdl"
    #include "japwind.gdl"
    #include "japstk.gdl"
    #include "japhis.gdl"
#else
    #include "dlgayn.gdl"
    #include "dlgbrk.gdl"
    #include "dlgcmd.gdl"
    #include "dlglist.gdl"
    #include "dlgnewp.gdl"
    #include "dlgoptn.gdl"
    #include "dlgvarx.gdl"
    #include "dlgamb.gdl"
    #include "dlgwind.gdl"
    #include "dlgstk.gdl"
    #include "dlghis.gdl"
    #include "dlgasync.gdl"
#endif
#else
#ifdef JAPANESE
    #include "japayn.dlg"
    #include "japbrk.dlg"
    #include "japcmd.dlg"
    #include "japlist.dlg"
    #include "japnewp.dlg"
    #include "japoptn.dlg"
    #include "japvarx.dlg"
    #include "japamb.dlg"
    #include "japwind.dlg"
    #include "japstk.dlg"
    #include "japhis.dlg"
#else
    #include "dlgayn.dlg"
    #include "dlgbrk.dlg"
    #include "dlgcmd.dlg"
    #include "dlglist.dlg"
    #include "dlgnewp.dlg"
    #include "dlgoptn.dlg"
    #include "dlgvarx.dlg"
    #include "dlgamb.dlg"
    #include "dlgwind.dlg"
    #include "dlgstk.dlg"
    #include "dlghis.dlg"
    #include "dlgasync.dlg"
#endif
#endif

