/* UTF-8 encoding, ¥ */

#if defined( RESX_ENG )
#elif defined( RESX_GUI )
  #if defined( __OS2__ )
    #include <os2.h>
  #else
    #include <windows.h>
  #endif
#else
    #include "wresdefn.h"
#endif
#include "wreslang.rh"
#include "reslang.rh"
#include "wv.rh"
#include "banner.h"
#if !defined( RESX_ENG )
    #include "aui.rh"
#endif

#if !defined( RESX_ENG )
    #include "aui.rc"
    #include "dialogs.rc"
#endif
#if !defined( RESX_ENG )
  #if defined( RESX_GUI )
    #include "wvgui.rc"
  #endif
#endif

#if defined( __NT__ ) && defined( RESX_NTMANIF )
    #include "ntmanif.rc"
#endif

#if defined( __NT__ ) && defined( RESX_NTVER )
    #include "exever.grc"
#endif

STRINGTABLE
BEGIN
  #ifdef JAPANESE
    #define pick(c,e,j) LITSTR( c, j )
  #else
    #define pick(c,e,j) LITSTR( c, e )
  #endif
    #include "liteng.gh"
    #define LITSTR( x, y ) DBG_ENG_LITERAL_##x, [ y ]
    #include "wdeng.str"
    #undef LITSTR
#if !defined( RESX_ENG )
    #include "litdui.gh"
    #define LITSTR( x, y ) DBG_DUI_LITERAL_##x, [ y ]
    #include "wddui.str"
    #undef LITSTR

    #include "litmenu.gh"
    #define LITSTR( x, y ) DBG_DUI_MENU_##x, [ y ]
    #include "wdmenu.str"
    #undef LITSTR

    #undef pick

  #if !defined( RESX_GUI )
    #define pick(c,e,j) (c + RLE_ENGLISH * MSG_LANG_SPACING), [ e ]
    #include "usage.gh"
    #undef pick

    #define pick(c,e,j) (c + RLE_JAPANESE * MSG_LANG_SPACING), [ j ]
    #include "usagej.gh"
    #undef pick
  #endif
#endif
END
