/* UTF-8 encoding, ¥ */

#if defined( RESX_ENG )
#elif defined( RESX_GUI )
  #if defined( __OS2__ )
    #include <os2.h>
  #else
    #include <windows.h>
  #endif
    #include "aui.rh"
#else
    #include "wresdefn.h"
    #include "wreslang.rh"
    #include "aui.rh"
#endif
#include "banner.h"

#include "strings.rc"

#if defined( RESX_ENG )
#elif defined( RESX_GUI )
    #include "aui.rc"
    #include "dialogs.rc"
    #include "wvgui.rc"
#else
    #include "aui.rc"
    #include "dialogs.rc"
    #include "wvusage.rc"
#endif

#if defined( __NT__ ) && defined( RESX_NTMANIF )
    #include "ntmanif.rc"
#endif

#if defined( __NT__ ) && defined( RESX_NTVER )
    #include "exever.grc"
#endif
