#include <os2.h>
#include "banner.h"
#include "wv.rc"

ICON 1 "zapant.ico"
ICON ICON_MAIN "zapant.ico"
ICON ICON_FPU "8087.ico"
ICON ICON_ASM "asm.ico"
ICON ICON_BRK "brk.ico"
ICON ICON_CALL "call.ico"
ICON ICON_EXE "exe.ico"
ICON ICON_FUNC "func.ico"
ICON ICON_GLOB "glob.ico"
ICON ICON_ACL "hot.ico"
ICON ICON_IO "io.ico"
ICON ICON_LOG "log.ico"
ICON ICON_MEM "mem.ico"
ICON ICON_MOD "mod.ico"
ICON ICON_REG "reg.ico"
ICON ICON_REPL "repl.ico"
ICON ICON_SRC "src.ico"
ICON ICON_SRCH "srch.ico"
ICON ICON_THRD "thrd.ico"
ICON ICON_VAR "var.ico"
ICON ICON_LOC "loc.ico"
ICON ICON_WAT "wat.ico"

BITMAP BITMAP_SPLASH "splash.bmp"
BITMAP BITMAP_READ1 "read1.bmp"
BITMAP BITMAP_READ2 "read2.bmp"
BITMAP BITMAP_WRITE1 "write1.bmp"
BITMAP BITMAP_WRITE2 "write2.bmp"
BITMAP BITMAP_OPEN1 "open1.bmp"
BITMAP BITMAP_OPEN2 "open2.bmp"
BITMAP BITMAP_CLOSE1 "close1.bmp"
BITMAP BITMAP_CLOSE2 "close2.bmp"
BITMAP BITMAP_POINTS1 "points1.bmp"
BITMAP BITMAP_POINTS2 "points2.bmp"
BITMAP BITMAP_IOPEN1 "iopen1.bmp"
BITMAP BITMAP_IOPEN2 "iopen2.bmp"
BITMAP BITMAP_ICLOSE1 "iclose1.bmp"
BITMAP BITMAP_ICLOSE2 "iclose2.bmp"
BITMAP BITMAP_BPOINTS1 "bpoints1.bmp"
BITMAP BITMAP_BPOINTS2 "bpoints2.bmp"
BITMAP BITMAP_CODEHER1 "codeher1.bmp"
BITMAP BITMAP_CODEHER2 "codeher2.bmp"
BITMAP BITMAP_BRKHERE1 "brkhere1.bmp"
BITMAP BITMAP_BRKHERE2 "brkhere2.bmp"
BITMAP BITMAP_DIMBRK1 "dimbrk1.bmp"
BITMAP BITMAP_DIMBRK2 "dimbrk2.bmp"
BITMAP BITMAP_OPENSRC1 "source1.bmp"
BITMAP BITMAP_OPENSRC2 "source2.bmp"
BITMAP BITMAP_CLSSRC1 "source2.bmp"
BITMAP BITMAP_CLSSRC2 "source1.bmp"
BITMAP BITMAP_OPENASM1 "assembl1.bmp"
BITMAP BITMAP_OPENASM2 "assembl2.bmp"
BITMAP BITMAP_CLSASM1 "assembl2.bmp"
BITMAP BITMAP_CLSASM2 "assembl1.bmp"
BITMAP BITMAP_CURRLIN1 "currlin1.bmp"
BITMAP BITMAP_CURRLIN2 "currlin2.bmp"
BITMAP BITMAP_UNPOINT1 "unpoint1.bmp"
BITMAP BITMAP_UNPOINT2 "unpoint2.bmp"
BITMAP BITMAP_CURRBRK1 "currbrk1.bmp"
BITMAP BITMAP_CURRBRK2 "currbrk2.bmp"
BITMAP BITMAP_CURRDIM1 "currdim1.bmp"
BITMAP BITMAP_CURRDIM2 "currdim2.bmp"
BITMAP BITMAP_GO "go.bmp"
BITMAP BITMAP_OVER "over.bmp"
BITMAP BITMAP_INTO "into.bmp"
BITMAP BITMAP_RETURN "return.bmp"
BITMAP BITMAP_BACK "back.bmp"
BITMAP BITMAP_FOR "for.bmp"
BITMAP BITMAP_UP "up.bmp"
BITMAP BITMAP_DOWN "down.bmp"
BITMAP BITMAP_HOME "home.bmp"
