#include "wresdefn.h"
#include "wdmsgdef.h"
#include "wreslang.rh"
#include "banner.h"
#include "wv.rc"

/* !TODO need setup Japanese globaly for AUI/GUI application 
 * this is temporary workaround
 */
#define MSG_LANG_SPACING        13000

STRINGTABLE
BEGIN
    #define pick(c,e,j) (c + RLE_ENGLISH * MSG_LANG_SPACING), [ e ]

    #include "usage.gh"

    #undef pick

    #define pick(c,e,j) (c + RLE_JAPANESE * MSG_LANG_SPACING), [ j ]

    #include "usagej.gh"

    #undef pick
END
