#include <windows.h>
#include "banner.h"
#include "wv.rc"

ApplIcon icon "zapant.ico"

#ifdef __NT__
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST MOVEABLE PURE "appmanif.xml"
#endif

BITMAP_SPLASH BITMAP "splash.bmp"
BITMAP_READ1 BITMAP "read1.bmp"
BITMAP_READ2 BITMAP "read2.bmp"
BITMAP_WRITE1 BITMAP "write1.bmp"
BITMAP_WRITE2 BITMAP "write2.bmp"
BITMAP_OPEN1 BITMAP "open1.bmp"
BITMAP_OPEN2 BITMAP "open2.bmp"
BITMAP_CLOSE1 BITMAP "close1.bmp"
BITMAP_CLOSE2 BITMAP "close2.bmp"
BITMAP_POINTS1 BITMAP "points1.bmp"
BITMAP_POINTS2 BITMAP "points2.bmp"
BITMAP_IOPEN1 BITMAP "iopen1.bmp"
BITMAP_IOPEN2 BITMAP "iopen2.bmp"
BITMAP_ICLOSE1 BITMAP "iclose1.bmp"
BITMAP_ICLOSE2 BITMAP "iclose2.bmp"
BITMAP_BPOINTS1 BITMAP "bpoints1.bmp"
BITMAP_BPOINTS2 BITMAP "bpoints2.bmp"
BITMAP_CODEHER1 BITMAP "codeher1.bmp"
BITMAP_CODEHER2 BITMAP "codeher2.bmp"
BITMAP_BRKHERE1 BITMAP "brkhere1.bmp"
BITMAP_BRKHERE2 BITMAP "brkhere2.bmp"
BITMAP_DIMBRK1 BITMAP "dimbrk1.bmp"
BITMAP_DIMBRK2 BITMAP "dimbrk2.bmp"
BITMAP_OPENSRC1 BITMAP "source1.bmp"
BITMAP_OPENSRC2 BITMAP "source2.bmp"
BITMAP_CLSSRC1 BITMAP "source2.bmp"
BITMAP_CLSSRC2 BITMAP "source1.bmp"
BITMAP_OPENASM1 BITMAP "assembl1.bmp"
BITMAP_OPENASM2 BITMAP "assembl2.bmp"
BITMAP_CLSASM1 BITMAP "assembl2.bmp"
BITMAP_CLSASM2 BITMAP "assembl1.bmp"
BITMAP_CURRLIN1 BITMAP "currlin1.bmp"
BITMAP_CURRLIN2 BITMAP "currlin2.bmp"
BITMAP_UNPOINT1 BITMAP "unpoint1.bmp"
BITMAP_UNPOINT2 BITMAP "unpoint2.bmp"
BITMAP_CURRBRK1 BITMAP "currbrk1.bmp"
BITMAP_CURRBRK2 BITMAP "currbrk2.bmp"
BITMAP_CURRDIM1 BITMAP "currdim1.bmp"
BITMAP_CURRDIM2 BITMAP "currdim2.bmp"
BITMAP_GO BITMAP "go.bmp"
BITMAP_OVER BITMAP "over.bmp"
BITMAP_INTO BITMAP "into.bmp"
BITMAP_RETURN BITMAP "return.bmp"
BITMAP_BACK BITMAP "back.bmp"
BITMAP_FOR BITMAP "for.bmp"
BITMAP_UP BITMAP "up.bmp"
BITMAP_DOWN BITMAP "down.bmp"
BITMAP_HOME BITMAP "home.bmp"

ICON_MAIN icon "zapant.ico"
ICON_FPU ICON "8087.ico"
ICON_ASM ICON "asm.ico"
ICON_BRK ICON "brk.ico"
ICON_CALL ICON "call.ico"
ICON_EXE ICON "exe.ico"
ICON_FUNC ICON "func.ico"
ICON_GLOB ICON "glob.ico"
ICON_HOT ICON "hot.ico"
ICON_IO ICON "io.ico"
ICON_LOG ICON "log.ico"
ICON_MEM ICON "mem.ico"
ICON_MOD ICON "mod.ico"
ICON_REG ICON "reg.ico"
ICON_REPL ICON "repl.ico"
ICON_SRC ICON "src.ico"
ICON_SRCH ICON "srch.ico"
ICON_THRD ICON "thrd.ico"
ICON_VAR ICON "var.ico"
ICON_WAT ICON "wat.ico"
ICON_LOC ICON "loc.ico"
