#include "gui.rc"
#include "dlgrx.h"
#include "dlgsrch.h"
#include "auistr.gh"
#include "auistr.rc"
#ifdef JAPANESE_MESSAGES
#include <japrx.dlg>
#include <japsrch.dlg>
#include <japsrcha.dlg>
#else
#include <dlgrx.dlg>
#include <dlgsrch.dlg>
#include <dlgsrcha.dlg>
#endif
