name: X-Delete Artifacts (Workflow run)

on: repository_dispatch

env:
  OWDEBUG:          "${{ vars.DEBUG }}"
  OWTESTMODE:       "${{ vars.TESTMODE }}"
  OWCURLOPTS:       "${{ vars.CURLOPTS }}"
  OWUSETARARCHIVE:  ''

jobs:
  delete-artifacts:
    if: github.event.action == 'delete_artifacts'
    name: Delete Artifacts
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: Delete Artifacts
      uses: ./.github/actions/artfdel
      with:
        runid: ${{ github.event.client_payload.runid  }}
        exclude: ${{ github.event.client_payload.exclude }}
