name: X-Delete Artifacts (Workflow run)

on: repository_dispatch

env:
  OWCURLOPTS:       "${{vars.CURLOPTS}}"

jobs:
  delete-artifacts:
    if: github.event.action == 'delete_artifacts'
    name: Delete Artifacts
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: Setup curl options
      id: curlcmd
      uses: ./.github/actions/curlcmd
    - name: Delete artifacts list
      id: artflist
      run: |
        $response = ${{steps.curlcmd.outputs.gh1}} `
        "${{steps.curlcmd.outputs.gh2}}/actions/runs/${{github.event.client_payload.runid}}/artifacts?per_page=100"
        if( '${{vars.DEBUG}}' -eq '1' ) { $response }
        $list_id = $response | jq -r .artifacts[].id
        $list_name = $response | jq -r .artifacts[].name
        for ($i = 0; $i -lt $list_id.Length; ++$i) {
          if( '${{vars.DEBUG}}' -eq '1' ) { "$($list_id[$i]),$($list_name[$i])" }
          if( '${{github.event.client_payload.exclude}}' -eq '' || "$($list_name[$i])" -ne "${{github.event.client_payload.exclude}}" ) {
            $response = ${{steps.curlcmd.outputs.gh1}} `
            -X DELETE "${{steps.curlcmd.outputs.gh2}}/actions/artifacts/$($list_id[$i])"
            if( '${{vars.DEBUG}}' -eq '1' ) { $response }
          }
        }
      shell: pwsh  
