name: CI-Build
run-name: CI build

on:
  pull_request:
    branches: '*'
    paths:
      - '**'
      - '!.github/**'
      - '!README.md'
  push:
    branches:
      - master
    paths:
      - '**'
      - '!.github/**'
      - '!README.md'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  OWDEBUG:          "${{ vars.DEBUG }}"
  OWTESTMODE:       "${{ vars.TESTMODE }}"
  OWCURLOPTS:       "${{ vars.CURLOPTS }}"
  OWUSETARARCHIVE:  '1'

jobs:
  start-start:
    if: github.repository == 'open-watcom/open-watcom-v2' || github.repository == vars.REPO
    name: Check if to run
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v4
  Windows-pre:
    needs: start-start
    strategy:
      matrix:
        include:
        - name:  '1.9'
          verid: '1.9'
          image: 'windows-2025'
        - name:  '2.0 (2023)'
          verid: '2.0'
          tag:   '2023-01-01-Build'
          image: 'windows-2025'
    name: Bootstrap Test OW ${{ matrix.name }} Windows
    runs-on: ${{ matrix.image }}
    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: Test new OW bootstrap
      uses: ./.github/actions/testboot
      with:
        ow_version: ${{ matrix.verid }}
        ow_tag:     ${{ matrix.tag }}
  Linux-pre:
    needs: start-start
    strategy:
      matrix:
        include:
        - name:  '1.9'
          verid: '1.9'
          image: 'ubuntu-latest'
        - name:  '2.0 (2023)'
          verid: '2.0'
          tag:   '2023-01-01-Build'
          image: 'ubuntu-latest'
    name: Bootstrap Test OW ${{ matrix.name }} Linux
    runs-on: ${{ matrix.image }}
    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: Test new OW bootstrap
      uses: ./.github/actions/testboot
      with:
        ow_version: ${{ matrix.verid }}
        ow_tag:     ${{ matrix.tag }}
  Linux:
    needs:
    - Linux-pre
    strategy:
      matrix:
        include:
        - owtools:  'GCC'
          arch:     'x64'
          args:     'gcc'
          gitpath:  'rel'
          image:    'ubuntu-latest'
        - owtools:  'CLANG'
          arch:     'x64'
          args:     'clang'
          gitpath:  'rel'
          image:    'ubuntu-latest'
        - owtools:  'GCC'
          arch:     'a64'
          args:     'gcc'
          gitpath:  'rel'
          image:    'ubuntu-24.04-arm'
    name: Linux ${{ matrix.arch }} ${{ matrix.args }}
    uses: ./.github/workflows/cibldlnx.yml
    with:
      args:         ${{ matrix.args }}
      suffix:       "lnx ${{ matrix.arch }} ${{ matrix.args }}"
      gitpath:      ${{ matrix.gitpath }}
      owtools:      ${{ matrix.owtools }}
      image:        ${{ matrix.image }}
      run_tests:    ${{ matrix.arch == 'x64' }}
  Windows:
    needs:
    - Windows-pre
    strategy:
      matrix:
        include:
        - owtools:  'VISUALC'
          arch:     'x64'
          args:     'vs2022'
          gitpath:  'rel'
          image:    'windows-2025'
    name: Windows ${{ matrix.arch }} ${{ matrix.args }}
    uses: ./.github/workflows/cibldnt.yml
    with:
      args:         ${{ matrix.args }}
      suffix:       "nt ${{ matrix.arch }} ${{ matrix.args }}"
      gitpath:      ${{ matrix.gitpath }}
      owtools:      ${{ matrix.owtools }}
      image:        ${{ matrix.image }}
      run_tests:    ${{ matrix.arch == 'x64' }}
  OSX:
    needs: start-start
    strategy:
      matrix:
        include:
        - owtools:  'CLANG'
          arch:     'x64'
          args:     'clang'
          gitpath:  'rel bino64'
          image:    'macos-15-intel'
        - owtools:  'CLANG'
          arch:     'a64'
          args:     'clang'
          gitpath:  'rel armo64'
          image:    'macos-15'
    name: OSX ${{ matrix.arch }} ${{ matrix.args }}
    uses: ./.github/workflows/cibldosx.yml
    with:
      args:         ${{ matrix.args }}
      suffix:       "osx ${{ matrix.arch }} ${{ matrix.args }}"
      gitpath:      ${{ matrix.gitpath }}
      owtools:      ${{ matrix.owtools }}
      image:        ${{ matrix.image }}
      run_tests:    false
  snapshot-both:
    needs:
    - Linux
    - Windows
    - OSX
    name: CI Release
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: Load all release files
      uses: ./.github/actions/relload
      with:
        suffix_nt:  'vs2022'
        suffix_lnx: 'gcc'
        suffix_osx: 'clang'
    - name: Create OW snapshot
      id: owsnapshot
      uses: ./.github/actions/snapshot
      with:
        gitpath:    'rel'
    - if: github.event_name == 'pull_request' && env.OWTESTMODE != '1'
      name: Upload OW snapshot (Pull Request)
      uses: actions/upload-artifact@v4
      with:
        name:           'owsnapshot'
        path:           ${{ steps.owsnapshot.outputs.fullname }}
        retention-days: 14
        overwrite:      true
    - if: github.event_name != 'pull_request'
      name: Upload OW (Last CI Build)
      uses: ./.github/actions/lastbld
      with:
        fullname:   ${{ steps.owsnapshot.outputs.fullname }}
    - if: vars.DELETEARTIFACTS == 1
      name: Call to delete Artifacs ${{ github.event_name == 'pull_request' && '(Pull Request)' || '(Last CI Build)' }}
      uses: ./.github/actions/artfdelc
      with:
        exclude:    ${{ github.event_name == 'pull_request' && 'owsnapshot' || '' }}
