name: CI-Build-lnx
run-name: CI workflow Linux
on:
  workflow_call:
    inputs:
      arch:
        required: true
        type: string
      tools:
        required: true
        type: string
      owtools:
        required: true
        type: string
      image:
        required: true
        type: string
      owdebug:
        required: true
        type: string
jobs:
  boot-lnx:
    name: Bootstrap
    runs-on: ${{ inputs.image }}

    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: Bootstrap
      uses: "./.github/actions/boot"
      with:
        hostos:     'lnx'
        args:       ${{ inputs.tools }}
        suffix:     "lnx ${{ inputs.arch }} ${{ inputs.tools }}"
        owtools:    ${{ inputs.owtools }}
        owdebug:    ${{ inputs.owdebug }}

  build-lnx:
    name: Build
    needs: boot-lnx
    runs-on: ${{ inputs.image }}
    timeout-minutes: 120

    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: Build
      uses: "./.github/actions/build"
      with:
        hostos:     'lnx'
        args:       ${{ inputs.tools }}
        suffix:     "lnx ${{ inputs.arch }} ${{ inputs.tools }}"
        owtools:    ${{ inputs.owtools }}
        owdebug:    ${{ inputs.owdebug }}
        testmode:   ${{ vars.TESTMODE }}

  tests-lnx:
    if: inputs.arch == 'x64'
    needs: build-lnx
    name: Tests
    uses: ./.github/workflows/tests.yml
    with:
      hostos: 'lnx'
      suffix: "lnx ${{ inputs.arch }} ${{ inputs.tools }}"
      image:  ${{ inputs.image }}

  testboot-lnx:
    name: Test Bootstrap
    needs: build-lnx
    runs-on: ${{ inputs.image }}

    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: Load Artifact
      uses: "./.github/actions/artfload"
      with:
        hostos:     'lnx'
        gitpath:    'rel'
        artifact:   "rel lnx ${{ inputs.arch }} ${{ inputs.tools }}"
        owdebug:    ${{ inputs.owdebug }}
        testmode:   ${{ vars.TESTMODE }}
    - if: inputs.arch == 'x64'
      name: Setup new OW
      run: |
        echo "${{github.workspace}}/rel/binl" >> "$GITHUB_PATH"
        echo "WATCOM=${{github.workspace}}/rel" >> "$GITHUB_ENV"
        echo "INCLUDE=${{github.workspace}}/rel/lh" >> "$GITHUB_ENV"
      shell: bash
    - if: inputs.arch == 'a64'
      name: Setup new OW
      run: |
        echo "${{github.workspace}}/rel/arm64" >> "$GITHUB_PATH"
        echo "WATCOM=${{github.workspace}}/rel" >> "$GITHUB_ENV"
        echo "INCLUDE=${{github.workspace}}/rel/lh" >> "$GITHUB_ENV"
      shell: bash
    - if: inputs.arch == 'x64'
      name: Test
      uses: "./.github/actions/testboot"
      with:
        hostos:     'lnx'
        owdebug:    ${{ inputs.owdebug }}
        testboot:   1
        testmode:   ${{ vars.TESTMODE }}
