name: CI-Build-nt
run-name: CI workflow Windows
on:
  workflow_call:
    inputs:
      args:
        required: true
        type: string
      suffix:
        required: true
        type: string
      gitpath:
        required: true
        type: string
      owtools:
        required: true
        type: string
      image:
        required: true
        type: string
      run_tests:
        required: true
        type: boolean

jobs:
  boot-nt:
    name: Bootstrap
    runs-on: ${{ inputs.image }}

    steps:
    - name: Set git EOL to LF
      run: |
        git config --global core.eol lf
        git config --global core.autocrlf input
    - name: checkout
      uses: actions/checkout@v4
    - name: Bootstrap
      uses: ./.github/actions/boot
      with:
        args:       ${{ inputs.args }}
        suffix:     ${{ inputs.suffix }}
        owtools:    ${{ inputs.owtools }}
        owdebug:    ${{ vars.OWDEBUG }}

  build-nt:
    name: Build
    needs: boot-nt
    runs-on: ${{ inputs.image }}
    timeout-minutes: 120

    steps:
    - name: Set git EOL to LF
      run: |
        git config --global core.eol lf
        git config --global core.autocrlf input
    - name: checkout
      uses: actions/checkout@v4
    - name: Install DOSBOX
      uses: ./.github/actions/dosboxin
    - name: Build
      uses: ./.github/actions/build
      with:
        args:       ${{ inputs.args }}
        gitpath:    ${{ inputs.gitpath }}
        suffix:     ${{ inputs.suffix }}
        owtools:    ${{ inputs.owtools }}
        owdebug:    ${{ vars.OWDEBUG }}
        testmode:   ${{ vars.TESTMODE }}

  docsbuild:
    name: Docs Build
    needs: boot-nt
    timeout-minutes: 90
    strategy:
      matrix:
        include:
        - title: DOS
          doctype: docdos
        - title: OS/2
          doctype: docos2
        - title: NT
          doctype: docnt
        - title: CHM
          doctype: docchm
        - title: PDF
          doctype: docpdf
        - title: WIN
          doctype: docwin
    runs-on: ${{ inputs.image }}

    steps:
    - name: Set git EOL to LF
      run: |
        git config --global core.eol lf
        git config --global core.autocrlf input
    - name: checkout
      uses: actions/checkout@v4
    - name: Install DOSBOX
      uses: ./.github/actions/dosboxin
    - name: Build
      uses: ./.github/actions/docbuild
      with:
        args:       ${{ inputs.args }}
        gitpath:    ${{ inputs.gitpath }}
        target:     ${{ matrix.doctype }}
        suffix:     ${{ inputs.suffix }}
        doc_suffix: "${{ matrix.doctype }} ${{ inputs.args }}"
        owtools:    ${{ inputs.owtools }}
        owdebug:    ${{ vars.OWDEBUG }}
        testmode:   ${{ vars.TESTMODE }}

  tests-nt:
    if: inputs.run_tests
    needs: build-nt
    name: Tests
    uses: ./.github/workflows/tests.yml
    with:
      suffix:   ${{ inputs.suffix }}
      image:    ${{ inputs.image }}
