name: CI-Build-lnx
run-name: CI workflow Linux
on:
  workflow_call:
    inputs:
      args:
        required: true
        type: string
      suffix:
        required: true
        type: string
      gitpath:
        required: true
        type: string
      owtools:
        required: true
        type: string
      image:
        required: true
        type: string
jobs:
  boot-lnx:
    name: Bootstrap
    runs-on: ${{ inputs.image }}

    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: Bootstrap
      uses: "./.github/actions/boot"
      with:
        args:       ${{ inputs.args }}
        suffix:     ${{ inputs.suffix }}
        owtools:    ${{ inputs.owtools }}
        owdebug:    ${{ vars.OWDEBUG }}

  build-lnx:
    name: Build
    needs: boot-lnx
    runs-on: ${{ inputs.image }}
    timeout-minutes: 120

    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: Install DOSBOX
      uses: "./.github/actions/dosboxin"
    - name: Build
      uses: "./.github/actions/build"
      with:
        args:       ${{ inputs.args }}
        gitpath:    ${{ inputs.gitpath }}
        suffix:     ${{ inputs.suffix }}
        owtools:    ${{ inputs.owtools }}
        owdebug:    ${{ vars.OWDEBUG }}
        testmode:   ${{ vars.TESTMODE }}

  tests-lnx:
    if: runner.arch == 'X64'
    needs: build-lnx
    name: Tests
    uses: ./.github/workflows/tests.yml
    with:
      suffix:   ${{ inputs.suffix }}
      image:    ${{ inputs.image }}
