name: Release-Build-osx
run-name: Release workflow OSX (daily and monthly)
on:
  workflow_call:
    inputs:
      args:
        required: true
        type: string
      suffix:
        required: true
        type: string
      gitpath:
        required: true
        type: string
      owtools:
        required: true
        type: string
      image:
        required: true
        type: string
jobs:
  boot-osx:
    name: Bootstrap
    runs-on: ${{ inputs.image }}
    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: Bootstrap
      uses: "./.github/actions/boot"
      with:
        args:       ${{ inputs.args }}
        suffix:     ${{ inputs.suffix }}
        owtools:    ${{ inputs.owtools }}
        owdebug:    ${{ vars.OWDEBUG }}
  build-osx:
    name: Build
    needs: boot-osx
    runs-on: ${{ inputs.image }}
    timeout-minutes: 120
    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: Install DOSBOX
      uses: "./.github/actions/dosboxin"
    - name: Build
      uses: "./.github/actions/build"
      with:
        args:       ${{ inputs.args }}
        suffix:     ${{ inputs.suffix }}
        gitpath:    ${{ inputs.gitpath }}
        owtools:    ${{ inputs.owtools }}
        owdebug:    ${{ vars.OWDEBUG }}
        testmode:   ${{ vars.TESTMODE }}
