name: Release-Build-x
run-name: Release workflow single Platform (daily and monthly)
on:
  workflow_call:
    inputs:
      args:
        required: true
        type: string
      suffix:
        required: true
        type: string
      gitpath:
        required: true
        type: string
      owtools:
        required: true
        type: string
      image:
        required: true
        type: string
      docbuild:
        required: true
        type: boolean
      run_tests:
        required: true
        type: boolean

env:
  OWDEBUG:          "${{ vars.DEBUG }}"
  OWTESTMODE:       "${{ vars.TESTMODE }}"
  OWCURLOPTS:       "${{ vars.CURLOPTS }}"
  OWUSETARARCHIVE:  '1'

jobs:
  boot-x:
    name: Bootstrap
    runs-on: ${{ inputs.image }}
    steps:
    - if: runner.os == 'Windows'
      name: Set EOL to LF
      run: |
        git config --global core.eol lf
        git config --global core.autocrlf input
    - name: checkout
      uses: actions/checkout@v4
    - name: Bootstrap
      uses: ./.github/actions/boot
      with:
        args:       ${{ inputs.args }}
        suffix:     ${{ inputs.suffix }}
        owtools:    ${{ inputs.owtools }}

  build-x:
    needs: boot-x
    name: Build
    runs-on: ${{ inputs.image }}
    timeout-minutes: 120
    steps:
    - if: runner.os == 'Windows'
      name: Set EOL to LF
      run: |
        git config --global core.eol lf
        git config --global core.autocrlf input
    - name: checkout
      uses: actions/checkout@v4
    - name: Install DOSBOX
      uses: ./.github/actions/dosboxin
    - name: Build
      uses: ./.github/actions/build
      with:
        args:       ${{ inputs.args }}
        gitpath:    ${{ inputs.gitpath }}
        suffix:     ${{ inputs.suffix }}
        owtools:    ${{ inputs.owtools }}

  docsbuild-x:
    if: inputs.docbuild
    needs: boot-x
    name: Documentation
    runs-on: ${{ inputs.image }}
    timeout-minutes: 90
    strategy:
      matrix:
        include:
        - title: DOS
          doctype: docdos
        - title: OS/2
          doctype: docos2
        - title: NT
          doctype: docnt
        - title: CHM
          doctype: docchm
        - title: PDF
          doctype: docpdf
        - title: WIN
          doctype: docwin
    steps:
    - if: runner.os == 'Windows'
      name: Set EOL to LF
      run: |
        git config --global core.eol lf
        git config --global core.autocrlf input
    - name: checkout
      uses: actions/checkout@v4
    - name: Install DOSBOX
      uses: ./.github/actions/dosboxin
    - name: Documentation
      uses: ./.github/actions/docbuild
      with:
        args:       ${{ inputs.args }}
        suffix:     ${{ inputs.suffix }}
        gitpath:    ${{ inputs.gitpath }}
        target:     ${{ matrix.doctype }}
        doc_suffix: ${{ matrix.doctype }} ${{ inputs.args }}
        owtools:    ${{ inputs.owtools }}

  tests-x:
    if: inputs.run_tests
    needs: build-x
    name: Tests
    uses: ./.github/workflows/tests.yml
    with:
      suffix:   ${{ inputs.suffix }}
      image:    ${{ inputs.image }}
