name: Delete old Workflow runs

on:
  # Run weekly, at 01:05 on the Sunday.
  schedule:
    - cron: '5 3 * * 0'
  workflow_dispatch:

jobs:
  deleteruns:
    name: Delete Workflow runs
    runs-on: ubuntu-latest
    permissions:
      actions: write

    steps:
    - name: This Workflow runs - 10 runs
      uses: Mattraks/delete-workflow-runs@v2
      with:
        token: ${{github.token}}
        repository: ${{github.repository}}
        retain_days: 0
        keep_minimum_runs: 10
        delete_workflow_pattern: Delete Artifacts | Delete Old
    - if: github.repository != vars.REPO
      name: OW Workflow runs - 45 days/45 runs (regular)
      uses: Mattraks/delete-workflow-runs@v2
      with:
        token: ${{github.token}}
        repository: ${{github.repository}}
        retain_days: 45
        keep_minimum_runs: 45
    - if: github.repository == vars.REPO
      name: OW Workflow runs - cancelled, failure, skipped (dev)
      uses: Mattraks/delete-workflow-runs@v2
      with:
        token: ${{github.token}}
        repository: ${{github.repository}}
        retain_days: 0
        keep_minimum_runs: 0
        delete_run_by_conclusion_pattern: cancelled, failure, skipped
    - if: github.repository == vars.REPO
      name: OW Workflow runs - 5 runs (dev)
      uses: Mattraks/delete-workflow-runs@v2
      with:
        token: ${{github.token}}
        repository: ${{github.repository}}
        retain_days: 0
        keep_minimum_runs: 5
