name: X-Tests
run-name: OW Tests
on:
  workflow_call:
    inputs:
      suffix:
        required: true
        type: string
      image:
        required: true
        type: string

env:
  OWDEBUG:          "${{vars.DEBUG}}"
  OWTESTMODE:       "${{vars.TESTMODE}}"
  OWCURLOPTS:       "${{vars.CURLOPTS}}"
  OWUSETARARCHIVE:  '1'

jobs:
  tests-xx:
    strategy:
      matrix:
        include:
          - title: Wmake tests
            path:   wmaktest
            skip:   ''
          - title: Wasm tests
            path:   wasmtest
            skip:   ''
          - title: C tests
            path:   ctest
            skip:   ''
          - title: C++ tests
            path:   plustest
            skip:   ''
          - title: Fortran tests
            path:   f77test
            skip:   ''
          - title: C run-time library tests
            path:   clibtest
            skip:   ''
          - title: Math run-time library tests
            path:   mathtest
            skip:   ''
    timeout-minutes: 25
    runs-on: ${{inputs.image}}
    name: ${{matrix.title}}

    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: Set OW environment
      uses: ./.github/actions/setowenv
      with:
        suffix: ${{inputs.suffix}}
    - name: ${{matrix.title}}
      uses: ./.github/actions/tests
      with:
        suffix: ${{inputs.suffix}}
        path:   ${{matrix.path}}
        skip:   ${{matrix.skip}}

  testboot-xx:
    name: Test Bootstrap
    runs-on: ${{inputs.image}}

    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: Set OW environment
      uses: ./.github/actions/setowenv
      with:
        suffix: ${{inputs.suffix}}
    - name: Test Bootstrap
      uses: ./.github/actions/testboot
      with:
        testnewow:  '1'
