# Build Wiki Documentation
#
# set secret OWGHTOKEN - https 'user name:password'

name: WikiDocs

on:
  push:
    branches:
      - master
    paths:
      - '.github/workflows/wikidocs.yml'
      - '.github/actions/artfdelc/action.yml'
      - '.github/actions/artfload/action.yml'
      - '.github/actions/artfsave/action.yml'
      - '.github/actions/boot/action.yml'
      - '.github/actions/dosboxin/action.yml'
      - '.github/actions/docbuild/action.yml'
      - '.github/actions/curlcmd/action.yml'
      - '.github/actions/tarload/action.yml'
      - '.github/actions/tarsave/action.yml'
      - 'docs/**'
      - 'bld/cc/gml/**'
      - 'bld/cg/doc/**'
      - 'bld/dwarf/dw/doc/**'
      - 'bld/f77/wfc/gml/**'
      - 'bld/plusplus/gml/**'
      - 'bld/wpi/doc/**'
      - 'bld/wv/doc/**'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  start-start:
    if: github.repository == 'open-watcom/open-watcom-v2'
    name: Check if to run
    runs-on: ubuntu-latest
    steps:
    - run: echo ""
      shell: bash
  wiki-boot:
    needs: start-start
    name: Bootstrap
    runs-on: windows-2019
    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: Bootstrap
      uses: "./.github/actions/boot"
      with:
        arch:           'nt'
        bldscript:      'ci\buildx.cmd'
        tools:          'vs2019'
        owtools:        'VISUALC'
        noarchive:      '1'
        owdebug:        ${{ vars.OWDEBUG }}
      env:
        OWDOCTARGET:    'bootdocs'
  wiki-build:
    needs: wiki-boot
    name: Wiki build
    runs-on: windows-2019
    strategy:
      matrix:
        include:
        - display:  'HTML'
          doctype:  'wikihtml'
          owtarget: '.and wikihtml .or -- -- docset=wikihtml -i'
        - display:  'PDF'
          doctype:  'wikipdf'
          owtarget: '.and wikipdf .or -- -- docset=wikipdf -i'
    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: Docs Build
      uses: "./.github/actions/docbuild"
      with:
        target:     ${{ matrix.doctype }}
        gitpath:    'docs wiki'
        owtarget:   ${{ matrix.owtarget }}
        arch:       'nt'
        tools:      'vs2019'
        owtools:    'VISUALC'
        owdebug:    ${{ vars.OWDEBUG }}
        noarchive:  '1'
  wiki-update:
    name: Wiki Update
    needs: wiki-build
    runs-on: windows-2019
    steps:
    - name: Setup Git User
      shell: cmd
      run: |
        git config --global user.email "openwatcom.github@gmail.com"
        git config --global user.name "Open Watcom GitHub"
    - name: Wiki Repo clone
      shell: cmd
      run: |
        git clone -v --depth=1 --branch=master https://%OWGHTOKEN%@github.com/%OWWIKIPROJ%.git .
      env:
        OWGHTOKEN: ${{ secrets.OWGHTOKEN }}
        OWWIKIPROJ: open-watcom/open-watcom-v2-wikidocs
    - name: Download Artifact html
      uses: actions/download-artifact@v4
      with:
        name: 'rel-wikihtml-vs2019'
        path: docs
    - name: Download Artifact pdf
      uses: actions/download-artifact@v4
      with:
        name: 'rel-wikipdf-vs2019'
        path: docs
    - name: Wiki Repo Update
      shell: cmd
      run: |
        git add -v -f .
        git commit -v -m "GitHub Workflow build"
        git push -v
  cleanup:
    needs: wiki-update
    name: Call to delete Artifacts
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: Call to delete Artifacts
      uses: "./.github/actions/artfdelc"
      with:
        owdebug:    ${{ vars.OWDEBUG }}
        owcurlopts: ${{ vars.OWCURLOPTS }}
