#include <windows.h>
#include "wddespy.h"
#include "about.h"
#include "banner.h"

#ifdef __NT__
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST MOVEABLE PURE "appmanif.xml"
#endif

"APPLICON" ICON "ddespy.ico"

"CONV"    BITMAP "conv.bmp"
"LINK"    BITMAP "link.bmp"
"STRING"  BITMAP "string.bmp"
"SERVER"  BITMAP "server.bmp"
"LOG"     BITMAP "log.bmp"
"MARK"    BITMAP "mark.bmp"
"ERASE"   BITMAP "erase.bmp"
"HWNDAKA" BITMAP "hwndaka.bmp"
"CONVAKA" BITMAP "convaka.bmp"
"TASKAKA" BITMAP "taskaka.bmp"

#include "menu.rc"

#include "strbitns.h"

#ifdef JAPANESE
 #define pick( a, b, c ) a, [ c ]
#else
 #define pick( a, b, c ) a, [ b ]
#endif
STRINGTABLE
BEGIN
    #include "rcstrmsg.gh"
    #include "uistrmsg.gh"
END
#undef pick

#include "msgfilt.dlg"
#include "cbfilt.dlg"
#include "log.rc"
#include "alias.rc"
#include "mark.rc"
#include "about.dlg"
